<%= stylesheet_link_tag('challenges.css','simple-tabs','jquery-ui', 'ui.core','ui.progressbar', 'main','colorbox','userconnections')%>
<%= javascript_include_tag('jquery.facebook.multifriend.select','simple-tabs','ui.progressbar','jquery.colorbox-min','on_the_spot','ajaxPageLoad','user_connection','messages')%>
<%= render 'layouts/loggedinbody'%>

<% as= current_user.challenges.size %>
<section bgcolor="#f4f4f4" class="topbar" id="topbbarid" >	
<section class="invitee_button" >
		<%= render :partial => 'invitations' %>
			<section  class="username">
				<%=current_user.facebook.name%>
			</section>			
		</section>		
</section>

<section id="ch_main_section5">
<p class="user"><%=current_user.facebook.name%></p>
	<table border="1px">
		<tr width="600px">
			<td width="100px" height="200px" align="left">      
				<% picturePath = current_user.facebook.picture('large')%>
				<% if picturePath.nil?   
					 picturePath = current_user.facebook.picture
				end%>
				<%= image_tag picturePath %>   
			</td>
			<td width="570px" height="200px">
				<table>
					<tr>
						<td width="100px">
							<span class="titlecol" >MEMBER SINCE</span></td>
						</td>
						<td align="left">
							<span class="subtitlecol" >
							<% date = 0 %>
							<% month =0%>
							<% date = current_user.created_at.to_date%>
								<b><%month= "#{date.strftime(" %B" )}".scan(/..../) %> <%= month[0] %><%= date.strftime(" %d, %Y" )  %></b>
							</span>
						</td>
					</tr> 
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>   
					<tr>
						<td width="100px">
							<span class="titlecol" >ACHIEVEMENTS</span>
						</td>
						<td align="left" >
							                                                                        
                     <%= render :partial=> "currentUserTrophy" %>
                        	
						</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>   
					<tr>
						<td width="100px" height="10px">
							<span class="titlecol" >CURRENT CITY</span></td>
						</td>
						<td align="left" >
							<span class="subtitlecol" >
								<b><%= current_user.facebook.location.name rescue 'N/A' %></b>
							</span>
						</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>   
					<tr>
						<td width="100px">
							<span class="titlecol" >HOME TOWN</span>
						</td>
						<td align="left" height="10px">
							<span class="subtitlecol" >
								<b><%= current_user.facebook.hometown.name rescue 'N/A' %></b>
							</span>
						</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>   
					<tr>
						<td width="100px">
							<span class="titlecol" >SEX</span></td>
						</td>
						<td align="left" height="10px">
							<span class="subtitlecol" >
								<b><%= (current_user.facebook.gender).capitalize rescue 'N/A' %></b>
							</span>
							</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>
					<tr>
						<td width="100px">
							<span class="titlecol" >BIRTH DAY</span></td>
						</td>
						<td align="left" height="10px">
							<span class="subtitlecol" >
							<% birthday = 0 %>
							<% birth_month= 0%>
							<%birthday = current_user.facebook.birthday rescue 'N/A' %>
								<b><%birth_month= "#{birthday.strftime(" %B" )}".scan(/..../) %> <%= birth_month[0] %><%= birthday.strftime(" %d, %Y" )  %></b>
							</span>
						</td>
					</tr>
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>
					<tr id="about_me">
						<td width="100px">
							<span class="titlecol" >ABOUT ME</span></td>
						</td>
						<td align="left" height="10px">
							
							<% if current_user.facebook.bio.nil?%>
							
							<% else %>
							<span class="subtitlecol"  id="about_me1">
								<b><%= truncate "#{current_user.facebook.bio rescue 'N/A'}", :length=>15 %>&nbsp;</b><a href="#" onclick="fun();">more</a></span><%= image_tag("icon_edit.png" , :id=>"edit_info") %></span>
						    <% end %>
						</td>						
					</tr> 
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	 </table>
	
	<table width="100%" border="0" class="marginst">
		<tr>
			<td colspan="3">
    			<ul class="tabs">
    				<li><a href="#tab1"><b>MY DOJO</b></a></li>
    				<li><a href="#tab2"><b>CHALLENGES</b></a></li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<section class="tab_container1">
					<section id="tab1" class="tab_content2">
						<section id="myDojo"></section>
						<section id="myDojo1"></section>
					</section>
						<script>
							$.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/myDojo","#myDojo","#myDojo1");
						</script>
					<section id="tab2" class="tab_content2"><br>
						<section id="people"></section>
                            <section id="people1"></section>
                     </section>
					<script>
                         $.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/people","#people","#people1");
					</script>
			</td>
		</tr>
	</table>
	
<section id="jfmfs-container-wrapper" margin-top:0px;="display: none">
  <section id="jfmfs-container">
  </section>
 </section>
 <style>
 .user 
{
	font-size :20px;
	text-transform: uppercase;
	color: #F8981D;
}

 </style>
 
<script>
	function fun()
		{
			document.getElementById("about_me1").innerHTML="<b><%=current_user.facebook.bio rescue 'N/A' %></b>";
		}
</script>

<script>
$(document).ready(function(){
		$("#edit_info").hide();
		$("#about_me").mouseover(function(){
				$("#edit_info").show()
		  });
		$(document).mouseout(function(){
						$("#edit_info").hide();
		 });
});
</script>


<script type="text/javascript" charset="utf-8">        
(function($j) { 
 var selectorObz = {    
  filter_default: "Search By Name",
  friend_fields: "id,name,last_name&access_token="+'<%= current_user.facebook.access_token%>'
 }

 $j('.invitees').live('click', function(){
  $j( "#jfmfs-container-wrapper" ).dialog({
   modal: true,
   resizable: false,
   closeText: "",
   position: 'center',
   title: 'Invite Participants',
   width: '725px',
   open: function(event, ui) { $j("#jfmfs-container").jfmfs(selectorObz); },
  buttons: {                                             
 	Invite: function() {
     var friendSelector = $j("#jfmfs-container").data('jfmfs');
     var selectedFriends = friendSelector.getSelectedIds();
     $j('#invitees_id').val(selectedFriends);
        $j('#inviteBtn').val("INVITE PARTICIPANTS (" + selectedFriends.length + ")");   
    $j(this).dialog( "close" );
		jQuery.support.cors = true;
		$.get('/user_connections/sendInvitation', 
			{inviteIds:selectedFriends},
			function(data) {
			}, 'script'
		);
     } ,
	  Cancel: function() {
     $j("#jfmfs-container").data('jfmfs').clearSelected(); 
     $j('#inviteBtn').val("INVITE PARTICIPANTS");    
     $j(this).dialog( "close" );
    }
   }
  });
 }
 )          
})(jQuery);

$('.ui-button').live('click', function(){
  $.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/myDojo","#myDojo","#myDojo1");
    $(".tables").replaceWith($('.tables'));
  });
 </script>

