<%= stylesheet_link_tag('challenges.css','simple-tabs','jquery-ui', 'ui.core','ui.progressbar', 'main')%>
<%= javascript_include_tag('jquery.facebook.multifriend.select','simple-tabs','ui.progressbar','on_the_spot','ajaxPageLoad')%>
<%= render 'layouts/loggedinbody'%>
<% as= current_user.challenges.size %>


<div bgcolor="#f4f4f4" ,class="topbar" style="margin-top: 0px; width: 100%; height: 30px; background: none repeat scroll 0% 0% rgb(244, 244, 244); top: -20px; position: relative;">
	
				<div class="invitee_button" ><%= render :partial => 'invitations' %></div>
			
			
		
</div>



<div id="ch_main_div5">
	<p class="user"><font color="orange"><%=current_user.facebook.name%></font></p>
	<table border="1px">
		<tr width="600px">
			<td width="100px" height="200px" id="image1" align="left">
			</td>
			<td width="570px" height="200px">
				<table border =5 bordercolor=#f4f4f4>
					<tr>
						<td width="100px">
							<!--<font color="#999999"><b>TROPHIES</b></font>--></td>
						</td>
						<td align="left">
							<!--<font color="gray">No of trophies</font>-->
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td width="100px">
							<b><font color="#999999">MEMBER SINCE</font></b></td>
						</td>
						<td align="left" style="color:#666666">
							<b><%  user = User.find(:all)%>
							<%= current_user.created_at%></b>
						</td>
					</tr>
				</table>
				<hr/>
				<table border =5 bordercolor=#f4f4f4>
					<tr>
						<td width="100px">
							<font color="#999999"><b>ACHIEVEMENTS</b></font>
						</td>
						<td align="left" style="color:#666666;">
						<b>	<% sum=0 %>
							<% current_user.challenges.each  do |ch| %>
								<% t= 0 %>
								<% ch.tasks.each do |tasks| %>
								<% t = t+1 %>
								<% end %>
								<% sum = sum + t %>
							 <% end %>
							<b><%= current_user.challenges.length %>&nbsp;Challenges&nbsp;and&nbsp;<%= sum%>&nbsp;tasks</b>
						</td>
					</tr>
				</table>
				
				<hr/>
				
				<table height="10px">
					<tr height="10px">
						<td width="100px" height="10px">
							<font color="#999999"><b> CURRENT CITY</b></font></td>
						</td>
						<td align="left" height="10px" style="color:#666666;">
							<b><p id="location"></p></b>
						</td>
					</tr>
				</table>
					<hr/>
				<table>
					<tr>
						<td width="100px">
							<font color="#999999"><b>HOME CITY</b></font></td>
						</td>
						<td align="left" style="color:#666666;">
						<b>	<p id="hometown"></p></b>
						</td>
					</tr>
				</table>
				<hr/>
				<table>
					<tr>
						<td width="100px">
							<font color="#999999"><b> SEX</b></font></td>
						</td>
						<td style="align:left; color:#666666;"  id="image2"  >
				
						</td>
					</tr>
				</table>
				<hr/>
				<table>
					<tr>
						<td width="100px">
							<font color="#999999"><b>BIRTH DAY</b></font></td>
						</td>
						<td style="align: left; color: #666666;" id="image3">
							<%#= current_user.facebook.birthday %>
						</td>
					</tr>
				</table>
				<hr/>
				<table>
					<tr>
						<td width="100px">
							<font color="#999999"><b>ABOUT ME</b></font></td>
						</td>
						<td style="align: left; color: #666666;" >
							<%  about_me = current_user.facebook.bio %>
							<%= about_me %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	 </table>
	<table width="100%" border="0" style="margin-top:0px;">
		<tr>
			<td colspan="3">
    			<ul class="tabs">
    				<li><a href="#tab1"><b>MY DOJO</b></a></li>
    				<li><a href="#tab2"><b>CHALLENGES</b></a></li>
				</ul>
				<div class="tab_container1">
					<div id="tab1" class="tab_content2">
						<div id="myDojo"></div>
					</div>
				    <script>
					$.dojitsu.renderAjaxPageLoad("/user_connections/myDojo","#myDojo");
				    </script>
					
					<script>
						(function ($) {
						  jQuery.expr[':'].Contains = function(a,i,m){
							  return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
						  };

						  function listFilter(header, list) {
							var form = $("<form>").attr({"class":"filterform","action":"#"}),
								input = $("<input>").attr({"class":"filterinput","type":"text"});
							$("#search").append($(form).append(input).appendTo(header));

							$(input)
							  .change( function () {
								var filter = $(this).val();
								if(filter) {
								  $(list).find("a:not(:Contains(" + filter + "))").parent().slideUp();
								  $(list).find("a:Contains(" + filter + ")").parent().slideDown();
								} else {
								  $(list).find("tr").slideDown();
								}
								return false;
							  })
							.keyup( function () {
								$(this).change();
							});
						  }
						  $(function () {
							listFilter($("#header"), $("#list"));
						  });
						}(jQuery));
					</script> 			
		
		
		
					<div id="tab2" class="tab_content2"><br>
					
						<div id="people"></div>
					</div>
					<script>
                                          $.dojitsu.renderAjaxPageLoad("/user_connections/people","#people");
					</script>
</td>
</tr>
</table>
 <script>
window.fbAsyncInit();
FB.getLoginStatus(function(response) {
             if (response.session)
{
                   globaluserid=response.session["uid"];
name=globaluserid;
FB.api(
                     {
                        method: 'fql.query',
                         query: 'SELECT uid1 FROM friend WHERE uid2='+globaluserid
                      },
                    function(response)
                      {
FB.api({
method: 'fql.query',
query: 'SELECT name,pic_big,sex,birthday FROM user WHERE uid=' + name
}, function(response){
htmlcontent = '<img src=' + response[0].pic_big+ ' />';
htmlcontent1=response[0].name
htmlcontent2=response[0].sex
htmlcontent3=response[0].birthday
$("#image").append(htmlcontent1);
$("#image1").append(htmlcontent);
$("#image2").append(htmlcontent2);
$("#image3").append(htmlcontent3);
});
}
                        );
						
FB.api('/me', function(response) {
var location = response.location.name;
var hometown = response.hometown.name;
$("#hometown").append(hometown);
$("#location").append(location);
});
FB.api(
{
method: 'permissions.request',
perms: 'user_birthday',
},
function(response) {
console.log(response);
FB.api('/me', function(response){
console.log(response);
display: 'none'
var bir =response[0].birthday;
var email=response[0].email;
});
}
);
            }
    });
 </script> 