
<%= stylesheet_link_tag('challenges.css','simple-tabs','jquery-ui', 'ui.core','ui.progressbar', 'main','colorbox','userconnections')%>
<%= javascript_include_tag('jquery.facebook.multifriend.select','simple-tabs','ui.progressbar','jquery.colorbox-min','on_the_spot','ajaxPageLoad','user_connection','messages')%>
<%= render 'layouts/loggedinbody'%>
<% as= current_user.challenges.size %>

<section bgcolor="#f4f4f4" class="topbar" id="topbbarid" >	
<section class="invitee_button" >
		<%= render :partial => 'invitations' %>
			<section  class="username">
				<%=current_user.facebook.name%>
			</section>			
		</section>		
</section>

<section id="ch_main_section5">
	<p class="user"><%=current_user.facebook.name%></p>
	<table border="1px">
		<tr width="600px">
			<td width="100px" height="200px" align="left">      
				<% picturePath = current_user.facebook.picture('large')%>
				<% if picturePath.nil?   
					 picturePath = current_user.facebook.picture
				end%>
				<%= image_tag picturePath %>   
				
			</td>
			<td width="570px" height="200px">
				<table>
					<tr>
						<td width="100px">
							<b><span class="titlecol" >MEMBER SINCE</span></b></td>
						</td>
						<td align="left">
							<span class="subtitlecol" >
								<%= current_user.created_at%>
							</span>
						</td>
					</tr> 
					<tr> 
						<td colspan="2"> 
							<hr/>
						</td>
					</tr>   
					<tr>
						<td width="100px">
							<b><span class="titlecol" >ACHIEVEMENTS</span></b>
						</td>
						<td align="left" >
							<span class="subtitlecol" >
								<% totalTasks=0 %>
								<% current_user.challenges.each  do |ch| %>
									<% totalTasks+=ch.tasks.length%>
								<% end %>
								<b><%= current_user.challenges.length %>&nbsp;Challenges&nbsp;and&nbsp;<%= totalTasks%>&nbsp;tasks</b>
								</span>
							</td>
						</tr>

						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>   

						<tr>
							<td width="100px" height="10px">
								<span class="titlecol" ><b>CURRENT CITY</b></span></td>
							</td>
							<td align="left" >
								<span class="subtitlecol" >
								<b><%= current_user.facebook.location.name rescue 'N/A' %></b>
								</span>
							</td>
						</tr>
						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>   

						<tr>
							<td width="100px">
								<span class="titlecol" ><b>HOME CITY</b></span>
								
							</td>
							</td>
							<td align="left" height="10px">
								<span class="subtitlecol" >
									<b><%= current_user.facebook.hometown.name rescue 'N/A' %></b>
								</span>
							</td>
						</tr>
						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>   

						<tr>
							<td width="100px">
								<span class="titlecol" ><b>SEX</b></span></td>
							</td>
							<td align="left" height="10px">
								<span class="subtitlecol" >
								<b><%= current_user.facebook.gender rescue 'N/A' %></b>
								</span>
							</td>
						</tr>
						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>
						<tr>
							<td width="100px">
								<span class="titlecol" ><b>BIRTH DAY</b></span></td>
							</td>
							<td align="left" height="10px">
								<span class="subtitlecol" >
								<b><%= current_user.facebook.birthday rescue 'N/A' %></b></span>
							</td>
						</tr>
						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>
						<tr>
							<td width="100px">
								<span class="titlecol" ><b>ABOUT ME</b></span></td>
							</td>
							<td align="left" height="10px">
								<span class="subtitlecol" >
								<b><%= current_user.facebook.bio rescue 'N/A' %></b></span>
							</td>						
						</tr> 
						<tr> 
							<td colspan="2"> 
								<hr/>
							</td>
						</tr>
					</table>
			</td>
		</tr>
	 </table>
	<table width="100%" border="0" class="marginst">
		<tr>
			<td colspan="3">
    			<ul class="tabs">
    				<li><a href="#tab1"><b>MY DOJO</b></a></li>
    				<li><a href="#tab2"><b>CHALLENGES</b></a></li>
				</ul>
					<section class="tab_container1">
						<section id="tab1" class="tab_content2">
							<section id="myDojo"></section>
											<section id="myDojo1"></section>
					</section>
				    <script>
					$.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/myDojo","#myDojo","#myDojo1");
				    </script>
					<script>
						(function ($) {
						  jQuery.expr[':'].Contains = function(a,i,m){
							  return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
						  };

						  function listFilter(header, list) {
							var form = $("<form>").attr({"class":"filterform","action":"#"}),
								input = $("<input>").attr({"class":"filterinput","type":"text"});
							$("#search").append($(form).append(input).appendTo(header));

							$(input)
							  .change( function () {
								var filter = $(this).val();
								if(filter) {
								  $(list).find("a:not(:Contains(" + filter + "))").parent().slideUp();
								  $(list).find("a:Contains(" + filter + ")").parent().slideDown();
								} else {
								  $(list).find("tr").slideDown();
								}
								return false;
							  })
							.keyup( function () {
								$(this).change();
							});
						  }
						  $(function () {
							listFilter($("#header"), $("#list"));
						  });
						}(jQuery));
					</script> 			
		
		
		
					<section id="tab2" class="tab_content2"><br>
					
						<section id="people"></section>
                                                <section id="people1"></section>
                                        </section>
					<script>
                                          $.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/people","#people","#people1");
					</script>
</td>
</tr>
</table>
 <script>
window.fbAsyncInit();
FB.getLoginStatus(function(response) {
             if (response.session)
{
                   globaluserid=response.session["uid"];
name=globaluserid;
FB.api(
                     {
                        method: 'fql.query',
                         query: 'SELECT uid1 FROM friend WHERE uid2='+globaluserid
                      },
                    function(response)
                      {
FB.api({
method: 'fql.query',
query: 'SELECT name,pic_big,sex,birthday FROM user WHERE uid=' + name
}, function(response){
htmlcontent = '<img src=' + response[0].pic_big+ ' />';
htmlcontent1=response[0].name
htmlcontent2=response[0].sex
htmlcontent3=response[0].birthday
$("#image").append(htmlcontent1);
$("#image1").append(htmlcontent);
$("#image2").append(htmlcontent2);
$("#image3").append(htmlcontent3);
});
}
                        );
						
FB.api('/me', function(response) {
var location = response.location.name;
var hometown = response.hometown.name;
$("#hometown").append(hometown);
$("#location").append(location);
});
FB.api(
{
method: 'permissions.request',
perms: 'user_birthday',
},
function(response) {
console.log(response);
FB.api('/me', function(response){
console.log(response);
display: 'none'
var bir =response[0].birthday;
var email=response[0].email;
});
}
);
            }
    });
 </script> 

<section id="jfmfs-container-wrapper" margin-top:0px;="display: none">
  <section id="jfmfs-container">
  </section>
 </section>
<script type="text/javascript" charset="utf-8">        
(function($j) { 
 var selectorObz = {    
  filter_default: "Search By Name",
  friend_fields: "id,name,last_name&access_token="+'<%= current_user.facebook.access_token%>'
 }

 $j('.invitees').live('click', function(){
  $j( "#jfmfs-container-wrapper" ).dialog({
   modal: true,
   resizable: false,
   closeText: "",
   position: 'center',
   title: 'Invite Participants',
   width: '725px',
   open: function(event, ui) { $j("#jfmfs-container").jfmfs(selectorObz); },
  

  buttons: {                                             
               


			   Cancel: function() {
     $j("#jfmfs-container").data('jfmfs').clearSelected(); 
     $j('#inviteBtn').val("INVITE PARTICIPANTS");    
     $j(this).dialog( "close" );
    },
    
	
	Save: function() {
     var friendSelector = $j("#jfmfs-container").data('jfmfs');
     var selectedFriends = friendSelector.getSelectedIds();
     $j('#invitees_id').val(selectedFriends);
        $j('#inviteBtn').val("INVITE PARTICIPANTS (" + selectedFriends.length + ")");   
    $j(this).dialog( "close" );
		jQuery.support.cors = true;
		$.get('/user_connections/sendInvitation', 
			{inviteIds:selectedFriends},
			function(data) {

			}, 'script'
		);
		

		
		
     } 
   }
   
  });
 }
 )          
})(jQuery);

$('.ui-button').live('click', function(){


  $.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/myDojo","#myDojo","#myDojo1");
    $(".tables").replaceWith($('.tables'));
  });
 </script>

