
<%= stylesheet_link_tag('_against_other')%>

<table>
  <thead>
    <tr id="tableheader">
      <th id="namespace" width="30%"><span id="spancefortextother">NAME</span>
      </th>
      <th width="12%">RANK</th>
      <th width="12%"> </th>
      <th width="50%"><span id="theadmyscore">MY SCORE </span><span id = "theadtopscore">TOP SCORE</span>
      </th>
      <th id="lastupspace"><span id="spancefortext2">LAST UPDATED</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <%@totalChallegne = 1%>
    <% total_challenges =[]	%>
    <% current_user.challenges.each do |userChallenge| %>
      <% total_challenges<<userChallenge %>
    <%end%>
    <% taskCompleted=1 %>
    <% total_challenges.take(3).each do |limitChallenge|%>
      <tr style="height:120px; ">
        <td id="againest_others_tr<%= taskCompleted %>" class="bordercolort" width="150">	
        <% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>          
		    <%if @parentChallenge.is_complete == 1%>
			   <span class="checkimage<%= taskCompleted %>"> <%= image_tag("closed.png") %></span>
			<%end%>
		 <%else%>
		     <% if limitChallenge.is_complete == 1 %>
				<span class="checkimage<%= taskCompleted %>"> <%= image_tag("closed.png") %></span>
			 <%else%>
			 <%end%>
		 <%end%>
          <br>
	  <div class="aboutchallenge">
		   <span class="userchallengestyle"><b><%= limitChallenge.title %></b></span><br>  
           <% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>
            <script>
              var ordId = <%=  orgId = @parentChallenge.user_id %>
            </script>
            <div class="chname"><span id="by_properties" >by </span>
              <% if isStandalone %>
                <%= @parentChallenge.first_name %>
              <% else %>
                <%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %>
              <% end %>                                  
            </div>                     
          <% else %>
            <div class="chname"><span id="by_properties" >by </span>
              <% if isStandalone %>
                <%= current_user.gmauth.first_name %>
              <% else %>
                <%= current_user.facebook.name %>
              <% end %>                                  
            </div>   
          <% end %>
          <span class="stedpoint"><%=  limitChallenge.start_point.value %> - <%= limitChallenge.end_point.value %></span> 
		 </div>
        </td>
        <td id="againest_others_tr<%= taskCompleted %>" class="bordercolort" width="50">
		
		  <span id ="rankspoints">
		   
		   <% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>          
		    <%if @parentChallenge.is_complete == 1%>
			<%if @parentChallenge.social_type.trophy %>
			  <u> <%=  @parentChallenge.social_type.trophy.rank	%></u>
			<%end%>			  
			  <%else%>
			  <u>0</u>
			<%end%>
		 <%else%>
		     <% if limitChallenge.is_complete == 1 %>
		      <% if limitChallenge.social_type.trophy %>
					<u><%=limitChallenge.social_type.trophy.rank%></u>
				<% end %>	   
			 <%else%>
			 <u>0</u>   
			 <%end%>
		 <%end%> 
		  </span><br>
          <% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>
            <% abtTatal = @parentChallenge.child_challenges.count %>
            <span id="extraspace">(of <%= @totalChallegne = abtTatal +1 %>)</span>
          <% else %>
            <% abtTatal = limitChallenge.child_challenges.count %>
            <span id="extraspace">(of <%= @totalChallegne = abtTatal +1 %>)</span>
          <% end %>
        </td>
        <td id="againest_others_tr<%= taskCompleted %>" class="bordercolort">
		<% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>          
		    <%if @parentChallenge.is_complete == 1%>         
				<div class="percentagecolor"><span id="taskprogressaginstothers1<%= taskCompleted %>"> </span>%</div>
			<%else%>
			    <span id="taskprogressaginstothers<%= taskCompleted %>"> </span>
			<%end%>
		<%else%>
		   <% if limitChallenge.is_complete == 1 %>
				<div class="percentagecolor"><span id="taskprogressaginstothers1<%= taskCompleted %>"> </span>%</div>
			<%else%>
				 <span id="taskprogressaginstothers<%= taskCompleted %>"> </span>
		   <%end%>
		<%end%>
        </td>
        <td id="againest_others_tr<%= taskCompleted %>" class="bordercolort" width="280">	  
          <% flag1=0 %>
          <% flag2=0 %>
          <% flag3=0 %>
          <% aScore= 0 %>
          <% bScore= 0 %>
          <% cScore= 0 %>
          <% limitChallenge.tasks.each do |aTask| %>
            <% cScore+=Integer(aTask.score) %>
            <% flag3+=1 %>
            <% if (aTask.is_complete == 1 ) %>
              <% aScore+=Integer(aTask.score) %>
              <% flag1+=1 %>
            <% else %>
              <% bScore += aTask.score.to_i %>
              <% flag2+=1 %>
            <% end %>
          <% end %>
		  	<% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>          
		    <%if @parentChallenge.is_complete == 1%> 
			 <div id="nametask"><%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></div> <%= image_tag("details.png", :class=> "detailsbutton") %>
				<div class="alltaskslist"><span  id="pointsbefore"><%= aScore %>&nbsp;Points  (<%= flag1 %>&nbsp;tasks)</span>
				  <span class="pointscolor22">/<%= cScore %> points (<%= flag3 %>&nbsp;tasks)</span></div>
                 <div class="imagebackgroundfordashboard">
				 <%= image_tag(FbGraph::User.new(@parentChallenge.user_id).fetch.picture, :class => "fbimage") %>
     				 <%@parentChallenge.child_challenges.each do |chaild| %>	
						 <%= image_tag(FbGraph::User.new(chaild.user_id).fetch.picture, :class => "fbimage") %>&nbsp; 
					<%end%>
					</div>
			<%else%>
				
			    <div class="taskprogress1" id="taskprogress1<%= taskCompleted %>"></div><br/>
				 <span  class="overalltasks<%= taskCompleted %>"><%= aScore %>&nbsp;Points <br/><span id="other_tasks"> (<%= flag1 %>&nbsp;tasks) </span></span>
				<span class="pointscolor2"><%= cScore %> points <br>(<%= flag3 %>&nbsp;tasks)</span>
			<%end%>
		<%else%>
			
		   <% if limitChallenge.is_complete == 1 %>
		   <div id="nametask"><%= FbGraph::User.new(limitChallenge.user_id).fetch.name %><%= image_tag("details.png", :class=> "detailsbutton") %></div>
		     <div class="alltaskslist"><span  id="pointsbefore"><%= aScore %>&nbsp;Points  (<%= flag1 %>&nbsp;tasks) </span>
				<span class="pointscolor22">/<%= cScore %> points (<%= flag3 %>&nbsp;tasks)</span></div>

				<div class="imagebackgroundfordashboard" ><%= image_tag(FbGraph::User.new(limitChallenge.user_id).fetch.picture, :class => "fbimage") %><%limitChallenge.child_challenges.each do |chaild|%>
					<%= image_tag(FbGraph::User.new(chaild.user_id).fetch.picture, :class => "fbimage") %>&nbsp;
				<%end%></div>
			<%else%>
				 <div class="taskprogress1" id="taskprogress1<%= taskCompleted %>"></div><br/>
				<span  class="overalltasks<%= taskCompleted %>"><%= aScore %>&nbsp;Points <br/><span id="other_tasks"> (<%= flag1 %>&nbsp;tasks) </span></span>
				<span class="pointscolor2"><%= cScore %> points <br>(<%= flag3 %>&nbsp;tasks)</span>
		   <%end%>
		<%end%>
          <%  percentage = (( aScore / (aScore+bScore) )*100) %>
		  <script type="text/javascript">
            $(function() {
              $("#taskprogress1<%= taskCompleted %>").progressbar({ value: Math.round(((<%= aScore %>/<%= (aScore+bScore) %>)*100)) });
                
				$("<p>").attr("id", "checkit1").text($("#taskprogress1<%= taskCompleted %>").progressbar("option", "value") + "%  ")
				$("<p>").attr("id", "checkit1").text($("#taskprogress1<%= taskCompleted %>").progressbar("option", "value") + "%  ").appendTo("#taskprogressaginstothers<%= taskCompleted %>");
                $('#taskprogressaginstothers1<%= taskCompleted %>').append(<%=percentage%>);
				
              });
               
          </script>
        </td>
        <td id="againest_others_tr<%= taskCompleted %>" class="bordercolort" >
		<% if limitChallenge.instance_of?ChildChallenge %>
            <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>          
		    <%if @parentChallenge.is_complete == 1%>         
					
			<%else%>
			  <span class = "timestyle2"><%= time_ago_in_words  limitChallenge.created_at%></span><br>				 
			  <%=link_to( image_tag("update.png"), show_per_challenges_path(:id => limitChallenge._id), :class=>"updatebutton") %>
			<%end%>
		<%else%>
		   <% if limitChallenge.is_complete == 1 %>
				
			<%else%>
				 <span class = "timestyle2"><%= time_ago_in_words  limitChallenge.created_at%></span><br>				 
				 <%=link_to( image_tag("update.png"), show_per_challenges_path(:id => limitChallenge._id), :class=>"updatebutton") %>
		   <%end%>
		<%end%>         
		 
        </td>
 
        <% taskCompleted+=1 %>
     <style>
       .overalltasks<%= taskCompleted %> {
    color: #7AC142;
    font-size: 12px;
    font-weight: bold;
    left: -8px;
    position: relative;
    text-align: left;
    top: 20px;
    width: 30%;
}
  .pointscolor2
  {
   color: #F8981D;
    float: left;
    font-size: 12px;
    font-weight: bold;
    left: 153px;
    position: relative;
    text-align: right;
    top: 2px;
  }
  .aboutchallenge{ position: relative;
    right: -15px;
    top: -24px;}
     .percentagecolor{  color: #7AC142;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;}
	 .imagebackgroundfordashboard
	 {
		background-color: #D7D7D7;
      max-width: 152%;

	 }
	 
     #nametask{ color: #666666;font-family: arial;font-size: 14px;font-weight: bold;}
	 #pointsbefore{ color: #7AC142; font-size: 13px; font-weight: bold;}
	 .pointscolor22{color: #F8981D; font-size: 13px; font-weight: bold;}
	 .alltaskslist{width: 150%;}
	 .fbimage{ height: 34px;}
	 .detailsbutton{float: right; position: relative;   right: -50px;    top: -5px;}
	 </style>
     
    </tr>
    
  <% end %>
</tbody>
</table>
