
<table>
	<thead>
		<tr id="tableheader">
			<th>NAME
			</th>
			<th>RANK
			</th>
			<th>
			</th>
			<th>MY SCORE<span>TOP SCORE
			</th>
			<th>TOP SCORE
			</th>
			<th>LAST UPDATE
			</th>
		</tr>
	</thead>
	<tbody>
		<% total_challenges =[]	%>
	
	<% current_user.challenges.each do |userChallenge| %>
		<% total_challenges<<userChallenge %>
		
	<%end%>
	   <% taskCompleted=1 %>
		<% total_challenges.take(3).each do |limitChallenge|%>
	  	<tr>
		<td class="bordercolort" width="150">	
                 <br> <span class="userchallengestyle"><b><%= limitChallenge.title %></b></span><br>  
                  <% if limitChallenge.instance_of?ChildChallenge %>
                     <% @parentChallenge = Challenge.where(:_id => limitChallenge.challenge_id).first%>
                     <script>
                         var ordId = <%=  orgId = @parentChallenge.user_id %>
                     </script>
                     <div class="chname">by
                        <% if isStandalone %>
                            <%= @parentChallenge.first_name %>
                        <% else %>
                            <%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %>
                        <% end %>                                  
                    </div>                     
                  <% else %>
                     <div class="chname">by
                          <% if isStandalone %>
                              <%= current_user.gmauth.first_name %>
                          <% else %>
                              <%= current_user.facebook.name %>
                          <% end %>                                  
                      </div>   
                  <% end %>
                  <span class="stedpoint"><%=  limitChallenge.start_point.value %> - <%= limitChallenge.end_point.value %></span>
                 
              </td>
			  <td  class="bordercolortdb" width="50"><span id ="rankspoints"><u>0</u></span><br>
			  <span id="extraspace">(of 1233)</span>
			  </td>
			  <td class="bordercolort" width="280">
			  <div class="taskprogress1" id="taskprogress1<%= taskCompleted %>"></div><br/>
                  
                          <% flag1=0 %>
                          <% flag2=0 %>
                          <% aScore= 0 %>
                          <% bScore= 0 %>
                          <% limitChallenge.tasks.each do |aTask| %>
                              <% if (aTask.is_complete == 1 ) %>
                                <% aScore+=Integer(aTask.score) %>
                                <% flag1+=1 %>
                              <% else %>
                                <% bScore += aTask.score.to_i %>
                                <% flag2+=1 %>
                              <% end %>
                          <% end %>
					
                     
                     <div class="completedtask"> 
                         <%= aScore %> points <br> <%= flag1 %>&nbsp;tasks
                      </div>
                      <div class="notcompleted">
                         <span class="pointscolor1"><%= bScore %> points <br> <%= flag2 %>&nbsp;tasks</span>
                      </div>
                <script type="text/javascript">
                          $(function() {
                              $("#taskprogress1<%= taskCompleted %>").progressbar({ value: Math.round(((<%= aScore %>/<%= (aScore+bScore) %>)*100)) });
                              $("<p>").attr("id", "checkit").text($("#taskprogress1<%= taskCompleted %>").progressbar("option", "value") + "%  ").appendTo("#taskprogress1<%= taskCompleted %>");
                          });
                      </script>
                
			  </td>
			  <td class="bordercolort" >
			  </td>
			 
			  <% taskCompleted+=1 %>
			   	</tr>
				  	
			  <% end %>
	</tbody>
</table>
<style>
.bordercolortdb {
    border-bottom: 1px solid #BEBEBE;
    margin: 3px 5px 5px;
    padding-left: 15px;
};
#extraspace
{
 width: 20%;
}
#rankspoints
{
color: #F8981D;
font-weight: bold;
}
th
{
	text-align: center;
	color: #666666;	
}
</style>