<div class="whatsnew">	 
	<div style="position:relative;  left: 16px; top:5px; ">WHAT'S NEW </div>
	<%= button_to "", challenges_url, :class => "ds_view_all", :method => :get%>
</div>
<% if Challenge.whatsNew.count == 0 %>
	<p align="center">No challenges found</p>
<% else %>
	<% Challenge.whatsNew.each do |anc| %>
	<div id="contentbox">
		<%= image_tag("new.gif", :height => '30', :width => '30' ,:style =>"margin-top:0px; margin-left:-2px;") %>
		<table width="100%" style="margin-top:-10px;">
			<tr>
				<td width="60%"><font size="3px;" style="font-weight:bold"><%= anc.title%></font></td>
				<td width="40%">
					<%= time_ago_in_words  anc.created_at%>
				</td>
			</tr>
			<tr>
				<td colspan="2">													
					by
					
					<% if anc.instance_of?ChildChallenge %>
					   <% @parentChallenge = Challenge.where(:_id => anc.challenge_id).first%>
					   <script>
						var ordId = <%=  orgId = @parentChallenge.user_id %>
					   </script>
					   <b><%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></b>
					<% else %>
						<b><%= FbGraph::User.new(anc.user_id).fetch.name %></b>
					<% end %>
					
					
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<% if anc.start_point.instance_of?PointDateType %>
						<%= anc.start_point.value.strftime("%b %d, %Y")%> - <%= anc.end_point.value.strftime("%b %d, %Y")%>
					<% else %>
						<%= anc.start_point.value rescue 0%> - <%= anc.end_point.value rescue 0%>
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2"><%= anc.child_challenges.size%> contestants</td>
			</tr>
			<tr>
				<td colspan="2">
					<% if anc.personal_type.instance_of?ChallengePersonalType%>
						<p style="text-transform:none;">
							<%=h truncate(anc.description, :length => 128) %>....<%= link_to "VIEW" , show_per_challenges_path(:id => anc.id) %>									
						</p>
					<% end %>
					<% if anc.social_type.instance_of?ChallengeSocialType%>
						<p style="text-transform:none;">
							<%=h truncate(anc.description, :length => 128) %>....<%= link_to "VIEW" , show_soc_challenges_path(:id => anc.id) %>									
						</p>
					<% end %>								
				</td>
			</tr>
		</table>
	</div>
<% end %>
<% end %>