<%= javascript_include_tag('ui.progressbar','ajaxPageLoad','fbWallPost')%>
<%= stylesheet_link_tag('jquery-ui', 'ui.progressbar','ui.theme', 'main', 'dashboard')%>
<%= render 'layouts/loggedinbody'%>

<div class="challange">
 
</div>
<%#= debug current_user.gmauth.id %>
<%#= debug current_user.challenges %>
<% if session[:isNewChallenge] == "isNew" %>
    <script>
      $.dojitsuWallPost.renderFbWallPost();
    </script>
<% end %>
<table>
      <td>
      <content>
<table>
	<td>
        <tr>
			 <td>
				 <div class="dashboardsidebar">
						<div class="mychallenge">
							<div id="titlechallenge">
								<div id="mychallengesstyle">
										<div class="shadow">my challenges &nbsp;&nbsp;<span class="fontstyle">( <%= current_user.challenges.size %> )</sapn>
										</div>
								</div>
								<div class="second_titlechallenge">
									<%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
								</div>
							</div>
							<div id="myChallenge"></div>
							<div id="myChallenge1" align="center"></div>
							<script>
									$.dojitsuAjaxPage.renderAjaxPageLoad("/dashboard/myChallenge","#myChallenge","#myChallenge1");
							</script>
						</div>
		        </div>
		     </td>
		</tr>
		<tr>
		     <td>
			        <div class="dashboardsidebar1">
					    <div class="mychallenge">
						    <div id="titlechallenge">
							    <div id="mychallengesstyle" >
								        <div class="shadow">new messages &nbsp;&nbsp;<span class="fontstyle">( <%= current_user.inbox.count %> )</span>
									    </div>
								</div>
								<div class="second_titlechallenge">
											 <%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
								</div>
							</div>
							<div id="challengedetails">
							<div id="message"></div>
						    <div id="message1" align="center"></div>
								<script>
										$.dojitsuAjaxPage.renderAjaxPageLoad("/dashboard/message","#message","#message1");
								</script>
							</div>
						</div>
			</td>
		</tr>
	 </td>
</table>
</content>
</td>
<td valign=top>
	<div class="dashboardsidebar2">
		<div class="whatsnew">
				<div class="shadow1" id="shadowcolor">what's new</div>
							<%= button_to "", challenges_url, :class => "ds_view_all", :method => :get%>
				</div>
				<div id="whatsNew"></div>
				<div id="whatsNew1" align="center"></div>
					<script>
							  $.dojitsuAjaxPage.renderAjaxPageLoad("/dashboard/whatsNew","#whatsNew","#whatsNew1");
					</script>
		</div>
	</td>
</table>