<%= javascript_include_tag('ui.progressbar','ajaxPageLoad')%>
<%= stylesheet_link_tag('jquery-ui', 'ui.progressbar','ui.theme', 'main')%>
<%= render 'layouts/loggedinbody'%>

<div class="challange">
  my dashboard
</div>

<script>


window.fbAsyncInit();
    var obj = {
          method: 'feed',
          link: 'https://dev.dojitsu.com/',
          picture: 'http://fbrell.com/f8.jpg',
          name: 'dojitsu',
          caption: 'Do your best',
          description: 'Acceptance.'
        };
	
        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }
        
        FB.ui(obj, callback);
</script>


<table>
      <td>
      <content>		
      <table>
          <td>
              <tr>
                  <td>
                      <div class="dashboardsidebar">
                      <div class="mychallenge">
                          <div id="titlechallenge">
                              <div style="left: 16px; position: relative; top: 5px;">
                                 MY CHALLENGES <font color="#ffffff"><b>( <%= current_user.challenges.size %> ) </b></font>
                              </div>
                              <div class="second_titlechallenge">
                                 <%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
                              </div>
                          </div>
                          <div id="myChallenge"></div>
                          <script>                            
                            $.dojitsuUtile.renderAjaxPageLoad("/dashboard/myChallenge","#myChallenge");
                          </script>
                      </div>
                      </div>	
                  </td>
              </tr>
              <tr>
                  <td>	
                      <div class="dashboardsidebar1">
                          <div class="mychallenge">
                              <div id="titlechallenge">
                                  <div id="title" style="left: 16px; position: relative; top: 5px;">
                                     NEW MESSAGES <font style="color:#fff">( <%= current_user.inbox.count %> )</font>
                                  </div>
                                  <div class="second_titlechallenge">
                                     <%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
                                  </div>
                              </div>
                              <div id="message"></div>
                              <script>
                                $.dojitsuUtile.renderAjaxPageLoad("/dashboard/message","#message");
                              </script>
                          </div>	
                      </div>
                  </td>
              </tr>
          </td>
      </table>
      </content>
  </td>
	<td valign=top>
            <div class="dashboardsidebar2">
                <div class="whatsnew">	
                    <font style="float: left;left: 15px; position: relative; top:6px;">WHAT'S NEW</font> 
                    <%= button_to "", challenges_url, :class => "ds_view_all", :method => :get%>
                </div> 
                <div id="whatsNew"></div>
                <script>
                  $.dojitsuUtile.renderAjaxPageLoad("/dashboard/whatsNew","#whatsNew");
                </script>
            </div>
	</td>
</table>