<%= javascript_include_tag('js-class', 'dashboard_index','bluff-min', 'excanvas')%>
<%= stylesheet_link_tag('jquery-ui')%>

<%= render 'layouts/loggedinbody'%>

<div id="dashbord">
	<div id="ds_performance_tracker">
		<div id="ds_performance_tracker_tit" style="background:grey; height:30px;">
			<h3>Performance Tracker</h3>
			<%= collection_select :current_user, '', current_user.challenges,  :id, :title %>    
			<input type="button" value="Remove" class="rem" id="#example" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_performance_tracker_cont" style="float:right;">
			<%= link_to(image_tag("delete.jpg", :size => "20x20", :id => '#example', :class => 'rem'))%>
		</div>
		<canvas id="example" style="width: 636px; height: 300px; float: left;"></canvas>
	</div>	
	
	<div id="ds_my_profile">
		<div id="ds_my_profile_tit" style="background:grey; height:30px;">
			<h3>My Profile</h3>
			<input type="button" value="Remove" class="rem" id="#ds_my_profile_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_my_profile_cont" style="float:right;">
		</div>
		<div id="ds_my_profile_cont">
			My Profile
		</div>
	</div>
	
	<div id="ds_upcoming_task_and_milestone">
		<div id="ds_upcoming_task_and_milestonetit" style="background:grey; height:30px;">
			<h3>Upcoming Tasks and Milestones</h3>
			<input type="button" value="Remove" class="rem" id="#ds_upcoming_task_and_milestone_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_upcoming_task_and_milestone_cont" style="float:right;">
		</div>
		<div id="ds_upcoming_task_and_milestone_cont">
			Upcoming Tasks and Milestones
			<div id="datepicker"></div>
		</div>
	</div>	
	
	<div id="ds_messages">
		<div id="ds_messages_tit" style="background:grey; height:30px;">
			<h3>Messages</h3>
			<input type="button" value="Remove" class="rem" id="#ds_messages_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_messages_cont" style="float:right;">
		</div>
		<div id="ds_messages_cont">
			Messages
		</div>
	</div>

	<div id="ds_my_chall">
		<div id="ds_my_chall_tit" style="background:grey; height:30px;">
			<h3>My Challenges</h3>
			<input type="button" value="Remove" class="rem" id="#ds_my_chall_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_my_chall_cont" style="float:right;">
		</div>
		<canvas id="mychallenges" style="width: 636px; height: 300px; float: left;"></canvas>
		<div id="ds_my_chall_cont">
			My Challenges
		</div>
	</div>	
	
	<div id="ds_news_feed">
		<div id="ds_news_feed_tit" style="background:grey; height:30px;">
			<h3>News Feed</h3>
			<input type="button" value="Remove" class="rem" id="#ds_news_feed_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_news_feed_cont" style="float:right;">
		</div>
		<div id="ds_news_feed_cont">
			News Feed
		</div>
	</div>
	
	<div id="ds_top_performer">
		<div id="ds_top_performer_tit" style="background:grey; height:30px;">
			<h3>Top Performer(Scoreboard)</h3>
			<input type="button" value="Remove" class="rem" id="#ds_top_performer_cont" style="float:right;">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Add" class="ad" id="#ds_top_performer_cont" style="float:right;">
		</div>
		<div id="ds_top_performer_cont">
			Top Performer(Scoreboard)
		</div>
	</div>	
</div>


