<%= javascript_include_tag('js-class', 'dashboard_index','bluff-min', 'excanvas','jquery-1.3.2', 'ui.core','ui.progressbar')%>
<%= stylesheet_link_tag('jquery-ui', 'ui.core','ui.progressbar','ui.theme', 'main')%>

<%= render 'layouts/loggedinbody'%>
<aside class="dashboardsidebar2">
					<div class="whatsnew">
						WHATS NEW
							<div id="viewall">
								&nbsp;&nbsp;VIEW ALL
							</div>
					</div>
					<div id="contentbox">
					</div>
					<div id="contentbox">
					</div>
					<div id="contentbox">
					</div>
</aside>
<content class="dashboardsidebar1">	
<div>
<div class="challange">my dashboard</div>
		
<div class="mychallenge">
	<div id="titlechallenge"><div id="title">MY CHALLENGES ( <%=@as%> ) </div>
			<div class="second_titlechallenge"><%= button_to "NEW", new_challenge_url, :class => "new_challenge_button", :method => :get%></div>
	</div>
<div id="subbar">
<div id="name">
NAME
</div>
<div id="score">
MY DOJITSU SCORE
</div>

</div>
<div id="challengedetails">
			<div id="challengepart">
			
			         <% t=1 %>
					 <% current_user.challenges.each do |userChallenge| %>
					 
					 
			          
					    <table>
								<td id="content1">
								<font size=3><b><%= userChallenge.title %></b></font><br><font size=2>by <%= userChallenge.user_id %></font><br><%=  userChallenge.start_point.value %> - <%= userChallenge.end_point.value %> <br><%= userChallenge.child_challenges.size %> Contestments<br>
								</td>
								<td id="content2">
										<div >								
										  
											  <div id="taskprogress<%= t %>"></div>
												
												<br>
												<div id="check1">
														
														
														<% x=0 %> 
														<% y=0 %> 										
															<% a= 0 %>															

														<% b= 0 %> 
														
														<% userChallenge.tasks.each do |aTask| %>
																
																<% if (aTask.is_complete == 1 ) %>
															<% a+=(Integer(aTask.score) rescue 0)%>			
																
																<% x+=1 %>
																<% else %>
														<% b+=(Integer(aTask.score) rescue 0) %>
																<% y+=1 %>
																<% end %>
														<% end %>
																
															<div class="update"> <%= image_tag("FDFDG.gif", :alt => "Update") %> </div>
															<div class="completedtask"> <%= a %> points (<%= x %> &nbsp; tasks)</div>
															<div class="notcompleted"> <font size=3 color="#F8981D"><b>to go:</b></font>&nbsp; <font color="white"><%= b %> points (<%= y %>&nbsp; tasks)</font></div>
													
													<script type="text/javascript">
														  $(function() {
															  
															
															  $("#taskprogress<%= t %>").progressbar({ value: Math.round(((<%= a %>/<%= (a+b) %>)*100)) });
																
																
																  $("<p>").attr("id", "check").text($("#taskprogress<%= t %>").progressbar("option", "value") + "% Completed:  ").appendTo("#taskprogress<%= t %>");
																	
															
																
															});
														</script> 
														
												</div>
										</div>
								</td>
								<td>
								<div id="points">&nbsp;&nbsp;<font size=4><b><%= a %><b></font></div>
								</td>
								
						</table> 
						
						<hr width:100%>
						<% t+=1 %>
				<% end %>
				
				
						

			</div>
</div>
</div>
</div>
<br>
</content>

<br>
<div>
	<div class="mychallenge1">
				<div id="titlechallenge1"><div id="title">NEW MESSAGES ( <%=@as%> ) </div>
				<div class="second_titlechallenge1"><%= button_to "NEW", new_challenge_url, :class => "new_challenge_button", :method => :get%>
				</div>
		</div>
	<div id="subbar1">
		<div id="name1">
			FROM
		</div>
		<div id="score1">
			TIME
		</div>

	</div>
	<div id="challengedetails1">
				
	</div>
	<br>
</div>

	
