<%= javascript_include_tag('ajaxPageLoad','fbWallPost','jquery.colorbox-min', 'simple-tabs-dashboard', 'dashboard_againstmyself')%>
<%= stylesheet_link_tag('jquery-ui', 'ui.theme', 'main', 'dashboard','colorbox','messageCss','simple-tabs-dashboard','dashboard_new')%>
<%= render 'layouts/loggedinbody'%>
<% if session[:isNewChallenge] == "isNew" %>
    <script>
      $.dojitsuWallPost.renderFbWallPost();
    </script>
<% end %>
<span class="mydashbotitle">MY DASHBOARD</span>

<table>
<td>
	<content>
	<table>
	<td>
	<tr>
       <td>
         <div class="dashboardsidebar">
            <div class="mychallenge">
             <div class="menubar">
					<span id="howiamgoindspace"><span id="shadow">HOW AM I DOING?</span></span>
						<div id="selecttb"> 
						<select id ="first" style="background: url("/assets/icon_combobox_arrow_down.png") no-repeat scroll 65% 40% #D7D7D7;" >	
							<option  id ="first" value="others" >AGAINST OTHERS</option>
							<option  id ="first" value="myself" selected="yes">AGAINST MYSELF</option>
						</select>
						
					</div>
					<span id="no_of_tasks"> (3) </span> 
					<%# image_tag , challenges_url, :class => "ds_view_all_challenge", :method => :get%>
					<%=link_to( image_tag("viewallbutton.PNG"), challenges_url, :class=>"ds_view_all_challenge") %>
					<%=link_to( image_tag("newbutton.PNG"), new_challenge_url, :class => "new_challenge") %>

			</div>

				<div id="againstother">
					 <%= render :partial => "dashboard/against_others" %>
				</div>
				<div id="againstmyself">
					 <%= render :partial => "dashboard/against_myself" %>
				</div>
			
            </div>
          </div>
      </td>
        </tr>
        <tr>
          <td>	
              <div class="dashboardsidebar1">
                  <div class="mychallenge2">
                      <div id="titlechallenge">
                          <div id="title" class="title_messages_header">
                             <div class="shadow">new messages <span class="newmessagescount">( <%= current_user.inbox.count %> )</span></div>
                          </div>
                          <div class="second_titlechallenge">
                          	<%=link_to( image_tag("newbutton.PNG"), "#", :class => "new_message_button", :method => :get )%>
                          </div>
                      </div>
                      <div class="messages_box_details" id="challengedetails">
                      <div id="message"></div>
                      <div id="message1" align="center"></div>
                      <script>
                        $.dojitsuAjaxPage.renderAjaxPageLoad("/dashboard/message","#message","#message1");
                      </script>
                  </div>	
              </div>
          </td>
      </tr>
   </td>
</table>
</content>
</td>
<td valign=top>
    <div class="dashboardsidebar2">
      <div class="whatsnew">
          <div class="shadow1" id="shadowcolor">what's new</div>
          <%=link_to( image_tag("viewallbutton.PNG"), challenges_url, :class=>"ds_view_all", :method => :get) %>
          </div>
          <% if Challenge.whatsNew.count == 0 %>
    <p align="center">No challenges found</p>
<% else %>
<% Challenge.whatsNew.each do |aChallenge| %>
    <div id="contentbox" >
	 
        <%= image_tag("new_banner.png", :class => "imagestyle") %>
        <table width="100%" class="maintable">
            <tr>
              <td width="70%" class="firsttdst">
                  <span class ="chatitle"><%= aChallenge.title%></span>	<br>										
                  by
                  <% if aChallenge.instance_of?ChildChallenge %>
                     <% @parentChallenge = Challenge.where(:_id => aChallenge.challenge_id).first%>
                     <script>
                         var ordId = <%=  orgId = @parentChallenge.user_id %>
                     </script>
                     <b>
                        <% if isStandalone %>
                            <%= @parentChallenge.first_name %>
                        <% else %>
                            <%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %>
                        <% end %>                                  
                     </b>
                  <% else %>
                          <b>
                              <% if isStandalone %>
                                  <%= current_user.gmauth.first_name %>
                              <% else %>
                                  <%= FbGraph::User.new(aChallenge.user_id).fetch.name %>
                              <% end %>                                  
                          </b>
                  <% end %>
<br>	
                  <% if aChallenge.start_point.instance_of?PointDateType %>
                          <%= aChallenge.start_point.value.strftime("%b %d, %Y")%> - <%= aChallenge.end_point.value.strftime("%b %d, %Y")%>
                  <% else %>
                          <%= aChallenge.start_point.value rescue 0%> - <%= aChallenge.end_point.value rescue 0%>
                  <% end %>

                  <% if aChallenge.child_challenges.size<2 %>
                   <%= aChallenge.child_challenges.size%>&nbsp;&nbsp;contestant
                   <%else%>
                  <%= aChallenge.child_challenges.size%>&nbsp;&nbsp;contestants
                  <%end%>
                  <p class="texttransormn">
                          <%=h truncate(aChallenge.description, :length => 15) %>&nbsp;&nbsp;<b><%= link_to "view" , show_soc_challenges_path(:id => aChallenge.id), :class => 'underline_view'   %>	</b>								
              </td>
              <td id="time_td" class="tdalign" >              		
              		<% challengeCreatedAt = aChallenge.created_at.to_i %>              		              		
              		<% freranceTime = Time.now.to_i %>
              		<% diffTime = freranceTime - challengeCreatedAt %>
              		<% if diffTime > 8640 %>
              			<p class = "timestyle"><%= aChallenge.created_at.strftime("%b %d, %Y") %></p>	
              		<% else %>
                  	<p class = "timestyle"><%= time_ago_in_words  aChallenge.created_at%></p>
                  <% end %>	
              </td>
            </tr>
        </table>
    </div>
    <% end %>
<% end %>
      </div>
    </td>
</table>
        
<section class="messages_disply">
<section id="sendNewMessage">
    <%= form_tag newmessage_messages_path, :method => :get do  %>
    <table class="new_messages_table">
      <tr class="bgcolor_messages_tr">
        <td colspan="2">
          <span id="messageTextHead">New Message</span>
        </td>
      </tr>
      <tr class="bgcolor_messages_tr">
        <td width="17%" class="bordercolort1">
          <span id="messageText">T0</span>        
        </td>
        <td width="83%" class="bordercolort1">
          <%= text_field_tag 'to', nil, :size=>"61" %>        </td>
      </tr>
      <tr class="bgcolor_messages_tr">
        <td>
          <span id="messageText">MESSAGE</span>
        </td>
        <td>
          <%= text_area_tag 'message','', :class =>"textareaMessage" %>
        </td>
      </tr>
      <tr class="bgcolor_messages_tr">
        <td class="bordercolort1">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("icon_attach_mo.png") %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= image_tag("icon_photo_mo.png") %>
        </td>
        <td class="bordercolort1">
          <section style="float: right;">
            <%= check_box_tag 'toMobile','', false %>
            <%= image_tag("icon_sms_mo.png") %>
          </section>
        </td>
      </tr>
      <tr class="bgcolor_messages_tr">
        <td colspan="2">
          <%= link_to "CANCEL",  dashboard_index_path,:class => "links_cancel_message"%>        
          <%= submit_tag "SEND", :class => "linksNewMessage" %>
        </td>
      </tr>
    </table>
    <% end %>
</section>
</section>    
         

