<%= javascript_include_tag('js-class', 'dashboard_index','bluff-min', 'excanvas','jquery-1.3.2', 'ui.core','ui.progressbar')%>
<%= stylesheet_link_tag('jquery-ui', 'ui.core','ui.progressbar','ui.theme', 'main')%>

<%= render 'layouts/loggedinbody'%>
<aside class="dashboardsidebar2">
					<div class="whatsnew">
						WHATS NEW
							<div id="viewall">
								&nbsp;&nbsp;VIEW ALL
							</div>
					</div>
					<div id="contentbox">
					</div>
					<div id="contentbox">
					</div>
					<div id="contentbox">
					</div>
</aside>
<content class="dashboardsidebar1">	
<div>
<div class="challange">my dashboard</div>
		
<div class="mychallenge">
	<div id="titlechallenge"><div id="title">MY CHALLENGES ( <%=@as%> ) </div>
			<div class="second_titlechallenge"><%= button_to "NEW", new_challenge_url, :class => "new_challenge_button", :method => :get%></div>
	</div>
<div id="subbar">
<div id="name">
NAME
</div>
<div id="score">
MY DOJITSU SCORE
</div>

</div>
<div id="challengedetails">
			<div id="challengepart">
			<br>
						<table>
								<td id="content1">
								<font size=3>ABC Challenge</font><br><font size=2>by Sun Yu</font><br> Starting Point-End Point<br>
								</td>
								<td id="content2">
										<div>								
										  
											  <div id="taskprogress"></div>
												
												<br>
												<div id="check1">
												<script type="text/javascript">
												  $(function() {
													  
														//call progress bar constructor
													  $("#taskprogress").progressbar({ value: 90 });
														
														//set mouseover for progress bar
													
														
														  //display the current value
														  $("<p>").attr("id", "check").text($("#taskprogress").progressbar("option", "value") + "% Completed ").appendTo("#taskprogress");
															
													
														
													});
												</script>
													<div class="update"> <%= image_tag("FDFDG.gif", :alt => "Update") %> </div>
												</div>
										</div>
								</td>
								
						</table>
				
				<hr width:100%>
						<table>
								<td id="content1">
								<font size=3>ABC Challenge</font><br><font size=2>by Sun Yu</font><br> Starting Point-End Point<br>
								</td>
								<td id="content2">
										<div>								
										  
											  <div id="taskprogress1"></div>
												
												<br>
												<div id="check1">
															<script type="text/javascript">
															
															  $(function() {
																  
																	//call progress bar constructor
																  $("#taskprogress1").progressbar({ value: 20 });
																	
																	//set mouseover for progress bar
																
																	
																	  //display the current value
																	  $("<p>").attr("id", "check").text($("#taskprogress1").progressbar("option", "value") + "% Completed").appendTo("#taskprogress1");
																		
																
																	
																});
															</script>
																<div class="update"> <%= image_tag("FDFDG.gif", :alt => "Update") %> </div>
												</div>
										</div>
								</td>
						</table>
						
						<hr width:100%>
						<table>
								<td id="content1">
								<font size=3>ABC Challenge</font><br><font size=2>by Sun Yu</font><br> Starting Point-End Point<br>
								</td>
								<td id="content2">
										<div>								
										  
											  <div id="taskprogress2"></div>
												
												<br>
												<div id="check1">
												<script type="text/javascript">
												  $(function() {
													  
														//call progress bar constructor
													  $("#taskprogress2").progressbar({ value: 20 });
													
														  $("<p>").attr("id", "check").text($("#taskprogress2").progressbar("option", "value") + "% Completed").appendTo("#taskprogress2");
															
													
														
													});
												
												</script>
												<div class="update">    <%= image_tag("FDFDG.gif", :alt => "Update") %>    </div>
												
												</div>
										</div>
								</td>
						</table>

			</div>
</div>
</div>
</div>
</content>

<br>
<div>
	<div class="mychallenge1">
				<div id="titlechallenge1"><div id="title">NEW MESSAGES ( <%=@as%> ) </div>
				<div class="second_titlechallenge1"><%= button_to "NEW", new_challenge_url, :class => "new_challenge_button", :method => :get%>
				</div>
		</div>
	<div id="subbar1">
		<div id="name1">
			FROM
		</div>
		<div id="score1">
			TIME
		</div>

	</div>
	<div id="challengedetails1">
				
	</div>
</div>
	
