<%= render 'layouts/loggedinbody'%>

<%= render :partial => "messages/message" %>	


<%= current_user.id %>
<% allConnections = UserConnection.find(:all, :conditions =>["user_id=?", current_user.id]) %>
<% allConnections.each  do |eachConnection| %>
	<%= eachConnection.target_id %></br>
	<%= eachConnection.id %>
	<table width="720px">
		<tr>
		   <td width="670px">		
				<%=image_tag(FbGraph::User.new(eachConnection.target_id).fetch.picture) %>
				 <b><a href="#"  id="ahref"><%= FbGraph::User.new(eachConnection.target_id).fetch.name %></a></b>
			</td>
			<td width="50px">
				<script>
					var user_id= <%= eachConnection.target_id %>
				</script>
				<%#= image_tag('btn_msg_up.png',:onclick =>"testing(user_id);")%> 
				<%= image_tag("btn_msg_up.png", :onclick=>"contactToOrganizer(user_id)" ) %>
				<%#= link_to image_tag("btn_delete_up.png"), "#" %>
				<%= link_to image_tag("btn_delete_up.png"), user_connection_path(eachConnection.id), :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
		<tr>
			 <hr/>
		 </tr>
	</table>
<% end %>

<script>
	function contactToOrganizer(str)
	{
		alert("maisa="+str);
	}
</script>