<%#= javascript_include_tag('ajaxPageLoad')%>
<%= render 'layouts/loggedinbody'%>

<%= javascript_include_tag('jquery.colorbox-min')%>
<%= stylesheet_link_tag('colorbox')%>

<div class="challengeSubNav">
    <%= button_to "", "#", :class => "new_message_button_index", :method => :get%> 
    <%= link_to "MESSAGES  ",dashboard_index_url ,:class => "challenge_link" , :style=> "text-decoration: none; color:#666666; left: 100px;" %>
</div>	
<div style=" font-size: 25px; font-weight: bold;" class="challange">
  <table width="100%">  
    <tr>
      <td width="64%" >MESSAGES</td>
      <td width="20%" ><input type="text" id="search" /></td>
         <script>
         function search()
         {
         var name_search=document.getElementById("search").value;
             select();    
         }
         </script>
         <td width="13%" ><div class="styled-select"> <select id="select">
           <option value="All" id="select">ALL</option>
           <option value="1" id="select">ACCEPTED</option>
           <option value="pending" id="select">PENDING</option>
           <option value="-1" id="select">DECLINED</option>
          </select> </div>
      </td>
         <td width="3%" >
          <%=image_tag("searchbutton.PNG",  :onclick=>"search();" )%>
             <%#= link_to(image_tag("declane.png"), filter_challenges_path(:id => @challenge)) %>         </td>
    </tr>
</table>
</div>
<table class="sortable">
    <% if current_user.inbox.count == 0 %>
        <p align="center">No message for you</p>
    <% else %>
    <thead>
      <tr><th style="CURSOR: pointer; cursor: hand;" id="content1">FROM</th><th style="CURSOR: pointer; cursor: hand;" id="content2"><span id="timespace">TIME</span></th><th></th></tr>
    </thead>
    <tbody>
        <% current_user.inbox.each do |userMessage| %>
        <tr class = "imagebackground2">
            <td width="10%" class="bordercolort", style="padding-left:15px; ">
                <%= image_tag(FbGraph::User.new(userMessage.from).fetch.picture) %>																			
            </td>
            <td width="90%" class="bordercolort", style="padding-right:20px;" >
                <font size="3px" style="float:right">
                    
                    
                    
                    
                    
                    <%#= availability_date = DateTime.parse(userMessage.created_at.to_s)%>
                    
                    <%#= time_now = DateTime.parse(DateTime.now.to_s)%>
                    <%#= DateTime.now.in_time_zone %>
                    
                    <%#= time_now = DateTime.parse(DateTime.now.in_time_zone.to_s) %>
                    <%#= time_until = availability_date - time_now %>
                    <%#= t = time_until.to_f %>
                    
                    

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <%= time_ago_in_words userMessage.created_at %>
                </font>
                <font size="4px" style="font-weight:bold"><%#= FbGraph::User.new(userMessage.from).fetch.name %></font></br>
                <font size="3px"><%= image_tag "icon_replied.png" %> <%=h truncate(userMessage.body, :length => 55) %>..</font></br>										
                </td>
            </td>
            <td width="10%" class="bordercolort", style="padding-left:15px; ">
                <%= image_tag "btn_mark_read_up.png" %>
                <%= image_tag "icon_multiply.png" %>
            </td>
        </tr>
        <% end %>
    </tbody>
    <% end %>
</table>

<div style="display:none">
<div id="sendNewMessage">
    <%= form_tag newmessage_messages_path, :method => :get do  %>
    <table width="100%" bgcolor="#f4f4f4">
      <tr bgcolor="#f4f4f4">
        <td colspan="2">
          <b style="font-size: 18px; color: #8c8c8c">New Message<b>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td width="17%">
          <b style="font-size: 15px; color: #dddddd">T0</b>        </td>
        <td width="83%">
          <%= text_field_tag 'to', nil, :size=>"38" %>        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td>
          <b style="font-size: 15px; color: #dddddd">MESSAGE</b>
        </td>
        <td>
          <%= text_area_tag 'message', nil %>
        </td>
      </tr>      
      <tr bgcolor="#ffffff">
        <td colspan="2">
          <%= link_to "CANCEL",  "#", :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel_message"%>        
          <%= submit_tag "UPDATE", :style => "width: 80px; float:right;", :class => "links" %>
        </td>
      </tr>
    </table>
    <% end %>
</div>
</div>
<script>
    $(".new_message_button_index").click(function(){
        //alert("Maisa");
        $.colorbox({
              opacity: 0.40,
              transition: 'none',
              speed: 200,
              width: 400,
              scrolling: true,
              inline:true, 
              href:"#sendNewMessage",
              title: '',
              overlayClose: true,
              onComplete: function () {
                  // $(this).initFunctions(); // if you want to reinit another colorbox, you should pass the element as an argument to initFunctions rather than calling this as a blanket initializer for all colorboxes.
              }              
          });
    });
</script>
