<section id="messagecount">
  <section id="messagecountTest">
      <%= current_user.unReadMessage.count %>
  </section>  
</section>
<%= render 'layouts/loggedinbody' %>
<%= javascript_include_tag('jquery.colorbox-min','messageJs')%>
<%= stylesheet_link_tag('colorbox','messageCss')%>
<section class="challengeSubNav">
  <%= button_to "", "#", :class => "iMessageNew", :method => :get%> 
  <%= link_to "MESSAGES >> #{FbGraph::User.new(@wayToRead.from).fetch.name.upcase}", messages_path, :class => "iMessageNewLinks", :style=> "text-decoration: none; color:#666666; left: 10px;" %>
</section>
<section>
  <table id="fdPicture" width="100%">
    <tr>
      <td width="3%"><%= image_tag(FbGraph::User.new(@wayToRead.from).fetch.picture) %></td>
      <td width="33%" id="msgOrangeColorTest"><%= FbGraph::User.new(@wayToRead.from).fetch.name.upcase   %></td>
      <td width="24%"></td>
	  <td width="19%" >
          <input type="text" id="search" />
      </td>
         <script>
         function search()
         {
             var name_search=document.getElementById("search").value;
             select();    
         }
         </script>
         <td width="12%" ><div class="styled-select"> <select id="select">
           <option value="All" id="select">ALL</option>
           <option value="Unread" id="select">Unread</option>
           <option value="Archived" id="select">Archived</option>
           <option value="Sent" id="select">Send</option>
          </select> </div>
      </td>
      <td width="3%">
          <%=image_tag("searchbutton.PNG",  :onclick=>"search();", :hight=>30, :width =>30 ) %>                   
      </td>
      <td width="3%" align="right">
          <%=image_tag("up_sort.png", :hight=>32, :width =>32 ) %>                             
      </td>
      <td width="3%" align="left">          
          <%=image_tag("dwn_sort.png", :hight=>37, :width =>37 ) %>
      </td>
    </tr>
  </table>
</section>
<section id="msgBody">
  <table id="msgBodyTable">
    <tr bordercolort>
      <td id="countMessage" class="bordercolortMDetails">
          <%= image_tag("btn_msg_expand_all_up.png") %>&nbsp;&nbsp;
          <% if Message.iAllMessage(@iId,current_user.fbauth.uid).count > 1 %>
            <%= Message.iAllMessage(@iId,current_user.fbauth.uid).count %>&nbsp;Messages
          <% else %>
            <%= Message.iAllMessage(@iId,current_user.fbauth.uid).count %>&nbsp;Message
          <% end %>          
      </td>
      <td class="bordercolortMDetails" colspan="2"><%= image_tag("icon_edit.png", :id=>"editIcone") %> </td>
    </tr>
  </table> 
  
  
  
  
 
  <section id="msgBodyTableAll">
    <% reply = 0 %>
    <% flag = 0 %>
    <% Message.iAllMessage(@iId,current_user.fbauth.uid).each do |iMessage| %>
    <section  class="bordercolort" id="<%= iMessage.from%>_<%= flag%>">
        <font id="textcolor" style="float:right">
            <%= time_ago_in_words iMessage.created_at %>                                
        </font>
        <% if iMessage.from == current_user.fbauth.uid %>
          <b style="color: #7AC142; font-size: 15px;" class="initial" id="#<%= iMessage.from%>_<%= flag%>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b>  
        <% else %>
          <b style="color: #f8981d; font-size: 15px;" class="initial" id="#<%= iMessage.from%>_<%= flag%>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b>
        <% end %>                                               
        <font id="textcolor">&nbsp;<%=h truncate(iMessage.body, :length => 80) %></font></br>    
    </section>
    
    <section  class="bordercolortR" id="<%= iMessage.from%>_<%= flag%><%= reply %>" style="display: none;">
    <% if iMessage.from == current_user.fbauth.uid %>        
        <font id="textcolor" style="float:right">
            <%= time_ago_in_words iMessage.created_at %></BR> 
            <%= image_tag "btn_mark_unread_up.png" %>&nbsp;&nbsp;
            <%= link_to image_tag("icon_multiply.png"), message_path(:id => iMessage.id), :method => 'delete' %>
        </font>
        <% if iMessage.from == current_user.fbauth.uid %>
          <b style="color: #7AC142; font-size: 15px;" class="reply" id="#<%= iMessage.from%>_<%= flag%><%= reply %>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b>  
        <% else %>
          <b style="color: #f8981d; font-size: 15px;" class="reply" id="#<%= iMessage.from%>_<%= flag%><%= reply %>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b>
        <% end %>                                               
        <font id="textcolor">&nbsp;</br><%= iMessage.body %></font></br>        
    <% else %>
        <font id="textcolor" style="float:right">
            <%= time_ago_in_words iMessage.created_at %></BR> 
            <%= image_tag "btn_mark_unread_up.png" %>&nbsp;&nbsp;
            <%= link_to image_tag("icon_multiply.png"), message_path(:id => iMessage.id), :method => 'delete' %>                                
        </font>
        <% if iMessage.from == current_user.fbauth.uid %>
          <b style="color: #7AC142; font-size: 15px;" class="reply" id="#<%= iMessage.from%>_<%= flag%><%= reply %>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b>  
        <% else %>
          <b style="color: #f8981d; font-size: 15px;" class="reply" id="#<%= iMessage.from%>_<%= flag%><%= reply %>">
            <%= FbGraph::User.new(iMessage.from).fetch.name %>
          </b><font id="textcolorToMe">to me</font>
        <% end %>                                               
        <font id="textcolor">&nbsp;</br><%= iMessage.body %></font></br>             
          <hr width="100%">
          <%= form_tag newmessage_messages_path, :method => :get do  %>          
          <%= hidden_field_tag 'to', "#{@toEmail}" %>
          <table width="100%" bgcolor="#f4f4f4">                    
              <tr bgcolor="#ffffff">                      
                <td colspan="2">
                  <%= text_area_tag 'message','', :class =>"textareaMessageI" %>
                </td>
              </tr>
              <tr bgcolor="#ffffff">
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("icon_attach_mo.png") %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= image_tag("icon_photo_mo.png") %>
                </td>
                <td>
                  <%#= link_to "CANCEL",  messages_path, :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel_message"%>        
                  <%= submit_tag "REPLY", :style => "width: 80px; float:right;", :class => "linksNewMessage" %>                        
                </td>
              </tr>                   
          </table>
          <% end %>
    <% end %>
    <% flag += 1 %>      
    <% reply +=1 %>    
    </section>
    <% end %>
  </section>
 

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</section>

<section style="display:none;">
<section id="sendNewMessage">
    <%= form_tag newmessage_messages_path, :method => :get do  %>
    <table width="100%" bgcolor="#f4f4f4">
      <tr bgcolor="#f4f4f4">
        <td colspan="2">
          <span id="messageTextHead">New Message</span>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td width="17%" class="bordercolort1">
          <span id="messageText">T0</span>        
        </td>
        <td width="83%" class="bordercolort1">
          <%= text_field_tag 'to', nil, :size=>"60" %>        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td>
          <span id="messageText">MESSAGE</span>
        </td>
        <td>
          <%= text_area_tag 'message','', :class =>"textareaMessage" %>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td class="bordercolort1">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("icon_attach_mo.png") %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= image_tag("icon_photo_mo.png") %>
        </td>
        <td class="bordercolort1">
          <section style="float: right;">
            <%= check_box_tag 'toMobile','', false %>
            <%= image_tag("icon_sms_mo.png") %>
          </section>
        </td>
      </tr>
      <tr bgcolor="#ffffff">
        <td colspan="2">
          <%= link_to "CANCEL",  messages_path, :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel_message"%>        
          <%= submit_tag "SEND", :style => "width: 80px; float:right;", :class => "linksNewMessage" %>
        </td>
      </tr>
    </table>
    <% end %>
</section>
</section>


