	
<table class="sortable">
    <% if current_user.inbox.count == 0 %>
        <p align="center">No message for you</p>
    <% else %>
    <thead>
      <tr><th style="CURSOR: pointer; cursor: hand;" id="content1">FROM</th><th style="CURSOR: pointer; cursor: hand;" id="content2"><span id="timespace">TIME</span></th><th></th></tr>
    </thead>
    <tbody>
        <% current_user.inbox.each do |userMessage| %>
        <tr class = "imagebackground2">
            <td width="10%" class="bordercolort", style="padding-left:15px; ">
                <%= image_tag(FbGraph::User.new(userMessage.from).fetch.picture) %>																			
            </td>
            <td width="90%" class="bordercolort", style="padding-right:20px;" >
                <font size="3px" style="float:right">
                    
                    
                    
                    
                    
                    <%#= availability_date = DateTime.parse(userMessage.created_at.to_s)%>
                    
                    <%#= time_now = DateTime.parse(DateTime.now.to_s)%>
                    <%#= DateTime.now.in_time_zone %>
                    
                    <%#= time_now = DateTime.parse(DateTime.now.in_time_zone.to_s) %>
                    <%#= time_until = availability_date - time_now %>
                    <%#= t = time_until.to_f %>
                    
                    

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <%= time_ago_in_words userMessage.created_at %>
                </font>
                <font size="4px" style="font-weight:bold"><%#= FbGraph::User.new(userMessage.from).fetch.name %></font></br>
                <font size="3px"><%= image_tag "icon_replied.png" %> <%=h truncate(userMessage.body, :length => 55) %>..</font></br>										
                </td>
            </td>
            <td width="10%" class="bordercolort", style="padding-left:15px; ">
                <%= image_tag "btn_mark_read_up.png" %>
                <%= image_tag "icon_multiply.png" %>
            </td>
        </tr>
        <% end %>
    </tbody>
    <% end %>
</table>		
