<h1><%= @title%></h1>
<%= form_for(:session, :url => sessions_path) do |f| %>        
<div class = "field">
	<%= f.label :emailid, 'Email'%><br />
	<%= f.text_field :emailid%>
</div>

<div class = "field">
	<%= f.label :password, 'Password'%><br />
	<%= f.password_field :password %>
</div>   


<div class = "actions">
	<%= f.submit "Signin"%>
</div>
<% end %>

<p><%= link_to 'Register', signup_path %>
