<h1><%= @title%></h1>
<%= form_for(@user) do |f| %>   
<%= render 'shared/error_messages' %>
<div class = "field">
	<%= f.label :fname, 'First Name'%><br />
	<%= f.text_field :fname%>
</div>   
<div class = "field">
	<%= f.label :lname, 'Last Name'%><br />
	<%= f.text_field :lname%>
</div>

<div class = "field">
	<%= f.label :password, 'Password'%><br />
	<%= f.password_field :password%>
</div>   

<div class = "field">
	<%= f.label :password_confirmation, 'Confirmation'%><br />
	<%= f.password_field :password_confirmation%>
</div>   

<div class = "field">
	<%= f.label :emailid, 'Email'%><br />
	<%= f.text_field :emailid%>
</div>

<div class = "actions">
	<%= f.submit @title%>
</div>
<% end %>
