<%= stylesheet_link_tag('registration','jquery.cluetip.css') %>
<%= javascript_include_tag('jquery.cluetip.js') %>
<%= stylesheet_link_tag('nonLogin') %>
<section class="registration">
    <section class="regdetails">
             <span class="registertitle">REGISTER TO DOJITSU! </span>
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                    <table>
                        <tr>
                            <td width="25%" >
                                 <%= f.label :email %>
                            </td>
                            <td width="75%">
                                 <%= f.text_field :email, :id => "textFieldEffect" %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                 <%= f.label :first_name, "First Name" %><br />                                        
                            </td>
                            <td>
                                 <%= f.text_field :first_name, :id => "textFieldEffect" %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <%= f.label :last_name, "Last Name" %><br />                                        
                            </td>
                            <td>
                                 <%= f.text_field :last_name, :id => "textFieldEffect" %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <%= f.label :password %> 
                                 <span class="moreInfoTip color999" rel="#moreCreateTaskId" title="About your password....!.">
                                      <%= image_tag("btn_questionmark_up.png", :class => "btnquestionupimge")%>
								 </span>                                 
                            </td>
                            <td>
                                 <%= f.password_field :password, :id => "textFieldEffect" %>
                                 <i class="reglable">6 character minimum</i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <%= f.label :password_confirmation %><br />                                        
                            </td>
                            <td>
                                 <%= f.password_field :password_confirmation, :id => "textFieldEffect" %>
                            </td>
                        </tr>
                    </table>
                    <section class="buttons">
                        <input class="register" type="submit" value="REGISTER">
                        <input class="cancel" type="button" value="CANCEL">
                    </section>                     
              <% end %>          
	</section>
        <%= render :partial => "devise/shared/links" %>
</section>
<br>
<section>
<table width="100%">
	<td width="70%" class="sectionone" valign=top>
		
                    <section class="msgtitle">
                        <table>
                          <tr>
                              <td><span class="whatnewfont">WHAT'S NEW</span></td>
                              <td>
                                  <% if Challenge.whatsNew.count == 0 %>
                                  <% else %>				
                                       <%= link_to "", nonLoginIndex_challenges_path, :class => "non_login_view_all", :method => :get%> </td>
                                  <% end %>
                              </td>    
                              </tr>
                        </table>
                    </section>
		
                
                <% if Challenge.whatsNew.count == 0 %>
                    <p align="center">No challenges found</p>
		<% else %>
                    <% Challenge.whatsNew.each do |anc| %>
                      <section class="messagereg">
                          <%= image_tag("new.gif", :height => '30', :width => '30' , :class => "imagenew") %>
                          <table width="100%" class="margin">
                            <tr>
                                  <td width="28%"  class="margin2">
                                        <span class="chatitle">
												<%= anc.title %></span>
										 </br>
                                          by  <b><%= FbGraph::User.new(anc.user_id).fetch.name %></b></br>
                                          <% if anc.start_point.instance_of?PointDateType %>
                                                  <%= anc.start_point.value.strftime("%b %d, %Y")%> - <%= anc.end_point.value.strftime("%b %d, %Y")%>
                                          <% else %>
                                                  <%= anc.start_point.value rescue 0%> - <%= anc.end_point.value rescue 0%>
                                          <% end %>
                                          <br>
                                          <% if anc.child_challenges.size<2 %>
                                           <%= anc.child_challenges.size%>&nbsp;&nbsp;contestant
                                           <%else%>
                                          <%= anc.child_challenges.size%>&nbsp;&nbsp;contestants
                                          <%end%>
                                  </td>
                                  <td width="75%">
                                          <p class="createdat">&nbsp;&nbsp;<%= time_ago_in_words  anc.created_at%></p></br></br>
                                          <% if anc.personal_type.instance_of?ChallengePersonalType%>
                                                  <p class="descriptionstyle">
													  <% if anc.description.size > 200 %>
																<%=h truncate(anc.description, :length => 200) %>&nbsp;&nbsp;<%= link_to "VIEW" , nonLoginShowPersonal_challenges_path(:id => anc.id), :class => 'underline_view' %>
														<%else%>
																<%= anc.description %>&nbsp;&nbsp;<%= link_to "VIEW" , nonLoginShowPersonal_challenges_path(:id => anc.id), :class => 'underline_view' %>
													<%end%>
                                                  </p>
                                          <% end %>
                                          <% if anc.social_type.instance_of?ChallengeSocialType%>
                                                <p class="descriptionstyle">
												<% if anc.description.size > 200 %>
														<%=h truncate(anc.description, :length => 200) %>&nbsp;&nbsp;<%= link_to "VIEW" , nonLoginShowPersonal_challenges_path(:id => anc.id), :class => 'underline_view'%>									
												<%else%>
														<%= anc.description %>&nbsp;&nbsp;<%= link_to "VIEW" , nonLoginShowPersonal_challenges_path(:id => anc.id), :class => 'underline_view' %>
												<%end%>
                                                </p>
                                          <% end %>
                                  </td>
                            </tr>
                          </table>
                          </section>
                      <% end %>
		<% end %>
	</td>
	<td class = "imagebackground" width="7%"></td>
	<td width="56%">
				<section class="regdojitsu2">	
							<div class="fb-like-box" data-href="http://www.facebook.com/pages/Dojitsu/295711967114330" data-width="350" data-height="180" data-show-faces="true" data-stream="false" data-header="false"></div>
							<section class="dourbest">
									<%= image_tag("dourbest.PNG" ,:size => "350x195", :alt => "Do YOur Best")%>
										<section class="reg">
											<%= link_to(image_tag("regwelcome.PNG" ,:size => "90x25", :alt => "Do Your Best"),"#") %>
										</section>
										<section class="seetutorial">
											<%= image_tag("seetutorial.PNG" ,:size => "75x21", :alt => "See Tutorial")%>
										</section>
								
							</section>
				</section>							
	</td>
</table>

<script>
  $('.moreInfoTip').cluetip({
		width:430,
		height:190,
		local:true, 
		dropShadow: false,
		arrows: true,
		cluetipClass: 'jtip'		
  });
</script>