<%= form_for(@usermail) do |f| %>
  <% if @usermail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usermail.errors.count, "error") %> prohibited this usermail from being saved:</h2>

      <ul>
      <% @usermail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit  :value => "send mail"%>
  </div>
<% end %>
<%#= current_user.to_yaml %>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Request Tester C</title>
  </head>

  <body>
    <p>
    <input type="button"
      onclick="sendRequestToManyRecipients(); return false;"
      value="Send Request to Many Users"
    />
    </p>
  
    <script>
     
   
      function sendRequestToManyRecipients() {
        FB.ui({method: 'apprequests',
          message: 'My Great Request',
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }


    </script>

  </body>
</html>
