	<h2>First form</h2>  
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title, :class => "textfield_effect_nw_tk" %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description,:class => "textarea_nw_tk" %>
	</p>
	<p>
		<%= f.label :discipline %><br />
		<%= f.select :discipline, options_for_select([
			["Select Categories", "0"],							
			["Categories 1","cat1"],
			["Categories 2","cat2"],	 
			["Categories 3","cat3"],	
			["Categories 4","cat4"],	
			["Categories 5","cat5"] 														
			]), :style => "width:197px" 
		%>
	</p>
	<p>
		<%= f.label :participants %><br />
		<%= f.select :participants, options_for_select([
			["Select Participants", "0"],							
			["Organizer","org "],
			["Avatars","avt"],	 
			["Judges","jud"],	
			["Audience","aud"],	
			["Teams","tem"] 														
			]), :style => "width:197px" 
		%>
	</p>
	<p>
		<%= f.label :dateStart, "Start Date" %><br />		
		<%= select_tag "ch_st_date", options_for_select([
			["Immediately","#startDateNow"],
			["Date","#startDateDate"],	 
			["Number","#startDateNbr"]														
			]), :style => "width:197px" 
	%><br/>
	<%= f.text_field :dateStart, :class => "textfield_effect  date-pick" %>
	</p>
	</br>
	</br>
	<p>
		<%= f.label :dateEnd, "End Date" %><br />
		<%= select_tag "ch_ed_date", options_for_select([
			["Select Start Date", "0"],							
			["Date","#ch_ed_dat"],	 
			["Number","#ch_ed_num"]														
			]), :style => "width:197px" 
		%><br>
		<%= f.text_field :dateEnd, :class => "textfield_effect date-pick" %>
		<!--
		<div id="ch_ed_dat" style="display:none;">
			<%= f.text_field :dateEnd1, :class => "textfield_effect  date-pick" %></br>
		</div>
		<div id="ch_ed_num" style="display:none;">
			<%= f.text_field :dateEnd2, :class => "textfield_effect" %>
		</div>
		-->
	</p>
	</br>
	</br>
	<%= f.fields_for :tasks do |builder|%>
	<!--
	<p>
		<%= builder.label :task_description, "New Task"%><br>
		<%= builder.text_field :task_description, :class => "textfield_effect"%>
		<%= builder.hidden_field :_destroy %>
		<%= link_to_function "remove", "remove_fields(this)"%>
	</p>
	-->
		
	<p>
		<div id="new_tsk_field">
			<table border="1" class="atable">
				<tr><th colspan="2">Input your task</th>
					<th>
						<input type="button" class="alternativeRow" value="Add Task" style="float:left; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
					</th>
				</tr>
				<tr>
					<td>New Task</td>
					<td>
						<%= builder.text_field :task_description, :class => "textfield_effect_nw_tk_add"%>
						<!--
						<%= text_field_tag :task, nil, :class => "textfield_effect_nw_tk_add" %>
						-->
					</td>
					<td>
						<input type="button" class="delRow" value="Remove" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
					</td>
				</tr>
			</table>
		</div>
	</p>
	<% end %>