   <%= javascript_include_tag('jquery.tablesorter.min') %>
   <%= stylesheet_link_tag('status_update')%>
   
    <% @totalChallegne = 1 %>
    <% @accepted = 1 %>
    <% @thinking = 0 %>
    <% @declined = 0 %>

<% if @challenge.instance_of?ChildChallenge %>
    <% @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
    <% abtTatal = @parentChallenge.child_challenges.count %>
    <% @totalChallegne = abtTatal +1 %>
      <% @parentChallenge.child_challenges.each do |eachChallenge| %>
      <% if eachChallenge.social_type.status == 1 %>
          <% @accepted += 1 %>
      <% elsif eachChallenge.social_type.status == -1 %>
          <% @declined += 1 %>
      <% else %>
          <% @thinking += 1 %>
      <% end %>
    <% end %>
<% else %>
    <% abtTatal = @challenge.child_challenges.count %>
    <% @totalChallegne = abtTatal +1 %>
    <% @challenge.child_challenges.each do |eachChallenge| %>
      <% if eachChallenge.social_type.status == 1 %>
          <% @accepted += 1 %>
      <% elsif eachChallenge.social_type.status == -1 %>
          <% @declined += 1 %>
      <% else %>
          <% @thinking += 1 %>
      <% end %>
    <% end %>
<% end %>

<% if @challenge.instance_of?ChildChallenge %>
    <% @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>    
    <% @parentChallenge.child_challenges.each do |eachChallenge| %>

    <% end %>
<% else %>    
    <% @challenge.child_challenges.each do |eachChallenge| %>
      
    <% end %>
<% end %>

<table width="100%">
  <tr id="changeChallegne">
    <% if @challenge.instance_of?ChildChallenge%>	 
      <% if @challenge.social_type.status.to_i == 1 %>
        <td width="85%">
          <b>You accepted the challenge</b>
        </td>
      <td width="15%">
        <%= link_to image_tag("change.png" , :class=> "update_challenge_stat"), change_challenge_status_challenges_path(:id => @challenge), :id=> "status_update_popup" %>
       </td>
      <%else%>
      <%end%>
    <%else%>			
    <%end%>
  </tr>
  <tr id="peopleinchallenge">
    <td>
      <b>People in this challenge(<%= @totalChallegne %>)</b>
    </td>
    <td>
      <%= image_tag("searchbutton.PNG", :id=>"floatRight") %>
    </td>
  </tr>
  <tr id="changeChallegne">
    <td>
      <%= check_box_tag 'myfrd', '1', false %> <b>show only my friends (<%= @onlyMyFrd.count %>)</b>
    </td>
    <td>
      
    </td>
  </tr>
</table>
<section id="pStatusAll">
  <div class="tabs">
        <ul class="tabNavigation">
            <li>                
                <a href="#first"><%= image_tag("icon_accept.png")%><b>Accepted (<%= @accepted %>)</b></a>              
            </li>
            <li>                
                <a href="#second"><%= image_tag("icon_thinking.png")%><b>Thinking (<%= @thinking %>)</b></a>              
            </li>            
            <li>                
                <a href="#third"><%= image_tag("icon_decline.png")%><b>Declined (<%= @declined %>)</b></a>
            </li>
            <li>                            
                <a href="#fourth"><%= image_tag("quet.png")%><b></b></a>
            </li>
        </ul>
        <div id="first">            
          <table width="100%" id="myTable" class="tablesorter"> 
              <thead>
                  <tr>
                      <th></th>
                      <th></th>                          
                  </tr>
              </thead>
              <tbody>
              <tr>
                <td class="bordercolor" width="15%">
                  <% if @challenge.instance_of?ChildChallenge %>
                      <%= image_tag(FbGraph::User.new(@challenge.parent.user_id).fetch.picture) %>
                  <% else %>
                      <%= image_tag(FbGraph::User.new(@challenge.user_id).fetch.picture) %>
                  <% end %>
                </td>
                <td class="bordercolor" width="85%" id="nameColor">
                  <% if @challenge.instance_of?ChildChallenge %>
                      <%= FbGraph::User.new(@challenge.parent.user_id).fetch.name %>
                  <% else %>
                      <%= FbGraph::User.new(@challenge.user_id).fetch.name %>
                  <% end %>                  
                </td>
              </tr>
              <% if @challenge.instance_of?ChildChallenge %>
                  <% @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
                  <% @parentChallenge.child_challenges.each do |eachChallenge| %>
                    <% if eachChallenge.social_type.status == 1 %>
                      <tr>
                        <td class="bordercolor" width="15%">                                                       
                            <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                        </td>
                        <td class="bordercolor" width="85%" id="nameColor">                          
                            <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
              <% else %>
                  <% @challenge.child_challenges.each do |eachChallenge| %>
                    <% if eachChallenge.social_type.status == 1 %>
                      <tr>
                        <td class="bordercolor" width="15%">                                                       
                            <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                        </td>
                        <td class="bordercolor" width="85%" id="nameColor">                          
                            <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
              <% end %>
              </tbody>        
            </table>
        </div>
        <div id="second">            
            <table id="myTable" class="tablesorter">
              <thead>
                  <tr>
                      <th></th>
                      <th></th>                          
                  </tr>
              </thead>
              <tbody>
              <% if @challenge.instance_of?ChildChallenge %>
                  <% @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
                  <% @parentChallenge.child_challenges.each do |eachChallenge| %>
                    <% if eachChallenge.social_type.status.to_i == 0 %>
                      <tr>
                        <td class="bordercolor" width="15%">                                                       
                            <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                        </td>
                        <td class="bordercolor" width="85%" id="nameColor">                          
                            <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
              <% else %>
                  <% @challenge.child_challenges.each do |eachChallenge| %>
                    <% if eachChallenge.social_type.status.to_i == 0 %>
                      <tr>
                        <td class="bordercolor" width="15%">                                                       
                            <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                        </td>
                        <td class="bordercolor" width="85%" id="nameColor">                          
                            <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
              <% end %>
              </tbody>        
            </table>
        </div>
        <div id="third">
          <table id="myTable" class="tablesorter">
          <thead>
                <tr>
                    <th></th>
                    <th></th>                          
                </tr>
            </thead>
            <tbody>
            <% if @challenge.instance_of?ChildChallenge %>
              <% @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
              <% @parentChallenge.child_challenges.each do |eachChallenge| %>              
                <% if eachChallenge.social_type.status.to_i == -1 %>
                  <tr>
                    <td class="bordercolor" width="15%">                                                       
                        <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                    </td>
                    <td class="bordercolor" width="85%" id="nameColor">                          
                        <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                    </td>
                  </tr>
                <% end %>
              <% end %>
          <% else %>
              <% @challenge.child_challenges.each do |eachChallenge| %>                  
                <% if eachChallenge.social_type.status.to_i == -1 %>
                  <tr>
                    <td class="bordercolor" width="15%">                                                       
                        <%= image_tag(FbGraph::User.new(eachChallenge.user_id).fetch.picture) %>                          
                    </td>
                    <td class="bordercolor" width="85%" id="nameColor">                          
                        <%= FbGraph::User.new(eachChallenge.user_id).fetch.name %>                           
                    </td>
                  </tr>
                <% end %>
              <% end %>
          <% end %>
          </tbody>        
          </table>        
        </div>
        <div id="fourth">
            <h2>No info</h2>
            <p>Under process.</p>
        </div>
    </div>
</section>

<section id="pStatusMy" style="display: none">
  <div class="tabs">
        <ul class="tabNavigation">
            <li>                
                <a href="#first"><%= image_tag("icon_accept.png")%><b>Accepted (<%= @myAccepted.count %>)</b></a>              
            </li>
            <li>                
                <a href="#second"><%= image_tag("icon_thinking.png")%><b>Thinking (<%= @myThinking.count %>)</b></a>              
            </li>            
            <li>                
                <a href="#third"><%= image_tag("icon_decline.png")%><b>Declined (<%= @myDeclined.count %>)</b></a>
            </li>
            <li>                            
                <a href="#fourth"><%= image_tag("quet.png")%><b></b></a>
            </li>
        </ul>
        <div id="first">            
          <table width="100%" id="myTable" class="tablesorter"> 
              <thead>
                  <tr>
                      <th></th>
                      <th></th>                          
                  </tr>
              </thead>
              <tbody> 
                <% if @myAccepted.count > 0 %>
                    <% @myAccepted.each do |eachChallenge| %>                    
                        <tr>
                          <td class="bordercolor" width="15%">                                                       
                              <%= image_tag(FbGraph::User.new(eachChallenge).fetch.picture) %>                          
                          </td>
                          <td class="bordercolor" width="85%" id="nameColor">                          
                              <%= FbGraph::User.new(eachChallenge).fetch.name %>                           
                          </td>
                        </tr>                    
                    <% end %>
                <% end %>        
              </tbody>        
            </table>
        </div>
        <div id="second">            
            <table id="myTable" class="tablesorter">              
              <thead>
                  <tr>
                      <th></th>
                      <th></th>                          
                  </tr>
              </thead>
              <tbody>
              <% if @myThinking.count > 0 %>  
                  <% @myThinking.each do |eachChallenge| %>                    
                    <tr>
                      <td class="bordercolor" width="15%">                                                       
                          <%= image_tag(FbGraph::User.new(eachChallenge).fetch.picture) %>                          
                      </td>
                      <td class="bordercolor" width="85%" id="nameColor">                          
                          <%= FbGraph::User.new(eachChallenge).fetch.name %>                           
                      </td>
                    </tr>
                  <% end %>              
              <% end %>      
              </tbody>        
            </table>
        </div>
        <div id="third">
          <table id="myTable" class="tablesorter">
          <thead>
                <tr>
                    <th></th>
                    <th></th>                          
                </tr>
            </thead>
            <tbody>
            <% if @myDeclined.count > 0 %>  
                <% @myDeclined.each do |eachChallenge| %>                              
                  <tr>
                    <td class="bordercolor" width="15%">                                                       
                        <%= image_tag(FbGraph::User.new(eachChallenge).fetch.picture) %>                          
                    </td>
                    <td class="bordercolor" width="85%" id="nameColor">                          
                        <%= FbGraph::User.new(eachChallenge).fetch.name %>                           
                    </td>
                  </tr>                
                <% end %>
            <% end %>      
          </tbody>        
          </table>        
        </div>
        <div id="fourth">
            <h2>No info</h2>
            <p>Under process.</p>
        </div>
    </div>
</section>

<style>
    #pStatusAll{
      background-color: #F4F4F4;
      padding: 8px 8px 8px 8px;
      width: 95%;
    }
    
    #pStatusMy{
      background-color: #F4F4F4;
      padding: 8px 8px 8px 8px;
      width: 95%;
    }

    IMG {
      position: relative;
      top:5px;
    }    
    
    UL.tabNavigation {
        list-style: none;
        margin: 0;
        padding: 0;         
    }

    UL.tabNavigation LI {
        display: inline;     
    }

    UL.tabNavigation LI A {
        padding: 3px 5px;
        background-color: #B4B4B4;
        color: #000;
        text-decoration: none;
        font-weight: bold;           
    }

    UL.tabNavigation LI A.selected,
    UL.tabNavigation LI A:hover {
        background-color: #F4F4F4;
        color: #000;
        padding-top: 7px;
        font-weight: bold;
    }

    UL.tabNavigation LI A:focus {
            outline: 0;
    }

    div.tabs > div {
            padding: 5px;
            margin-top: 3px;
            border: 5px solid #F4F4F4;
    }

    div.tabs > div h2 {
            margin-top: 0;
    }

    #first,#second,#third,#fourth {
        background-color: #FFF;
    }
    
    #nameColor{
      color: #6883AF; 
      font-size: 15px;
      font-weight: bold;
    }
    
    #peopleinchallenge{
      color:#F3A840;      
      font-size:16px;
      font-weight: bold;
    }
    
    #changeChallegne{
      color:#000000;
      font-weight:bold;
      font-size:14px;
    }
    
    #floatRight{
      float: right;
    }
    
    thead th{
      background-color: #FFFFFF;
    }
</style>

<script type="text/javascript" charset="utf-8">
    $(function () {
        var tabContainers = $('div.tabs > div');
        tabContainers.hide().filter(':first').show();

        $('div.tabs ul.tabNavigation a').click(function () {
            tabContainers.hide();
            tabContainers.filter(this.hash).show();
            $('div.tabs ul.tabNavigation a').removeClass('selected');
            $(this).addClass('selected');
            return false;
        }).filter(':first').click();
    });
</script>

<script>
  $(document).ready(function(){
    $("#myfrd").click(function(){      
      if ($('#myfrd').attr('checked')) 
      {
          $("#pStatusAll").hide();
          $("#pStatusMy").show();
      }
      else
      {         
          $("#pStatusMy").hide();
          $("#pStatusAll").show();
      }
    });    
  });
</script>

<script type="text/javascript" id="js">
  $(document).ready(function() {
      // call the tablesorter plugin
      $("table").tablesorter({
              // sort on the first column and third column, order asc
              sortList: [[0,0],[1,0]]
      });
  }); 
</script>
<script>
	$('#status_update_popup').colorbox();
</script>


<input type="button" value="Marak Complete" class="links_score_p" onclick="winnerList();"/>
<style>
  #winList{
    width: 100%;
    background-color: #F4F4F4;    
    font-size: 18px;
    color: #666666;
    font-weight:bold;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  #winListM{
    width: 95%;
    background-color: #FFFFFF;    
    font-size: 14px;
    color: #666666;
    font-weight:bold;
    padding: 10px 10px 10px 20px;
  }
  
  #winListMNo{
    background-color: #f4f4f4;
    border: 2px;
    border-style:solid;
    border-color: #D0D0D0;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
  }
  
  #winListMNoL{
    margin-top: 10px;
    background-color: #ffffff;
  }

  #addPersonalM{
    margin-top:10px;	
  }
	
  #addPersonalMm{
    margin-top:10px;
    hight:100px;	
  }

	.textareaMessage{
		border-width: 1px;
		border-style: solid;
		border-color: #999999;
		background-color:#F4F4F4;
		background-repeat: repeat-x;
		font-family: Arial;
		font-size: 15px;
		color: #333333;
		resize: none;
		height: 50px;	
		width:98%;
	}

	.linksMWinner {
		background: none repeat scroll 0 0 #f9a943;
		border-radius: 3px 3px 3px 3px;
		color: #FFFFFF;
		display: block;
		font-size: 12px;
		margin: 20px 0;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
		width: 90px;
		margin-right:10px;
		position: relative;
		text-align: center;
		top: -20px;
}

	#sentMessage{
		color: #666666;
}

</style>

<section style="display: none">
  <section id="winList">
    Publish the winners!
    <section id="winListM">
      Here's the list of winner(s) for <%= @challenge.title %>. On your approval, the winner(s) will be published to Facebook.
      <section id="winListMNo">
        No of winners:&nbsp;<%= @challenge.social_type.how_many_winners %><%= image_tag("icon_edit.png", :style=>"float:right;" )%>
        <table id="winListMNoL" width="100%">
          <thead>          
            <th>Rank</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th style="float:right">Score</th>
          </thead>
          <tbody>            
	    <% if @challenge.instance_of?ChildChallenge %>
		<% @fetChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
	    <% else %>
		 <% @fetChallenge = Challenge.where(:_id => params[:id]).first%>
	    <% end %>
            <% @flag = 1 %>
            <% @latestScore = 1 %>
              <% sl=0 %>
              <% if @fetChallenge.social_type.who_win == "Highest number of points" %>
                  <% @all =  Challenge.winner(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Participant completes all tasks" %>
                  <% @all =  Challenge.winnerCompleteAllTask(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Lowest number of points" %>
                  <% @temp =  Challenge.winner(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>			
							<% if @fetChallenge.social_type.who_win == "1st person to reach End Point" %>
                  <% @temp =  Challenge.winnerFirstPersonReach(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>
							<% @sendM = [] %>
              <% @all.each do |aWinner,index| %>
									<% @sendM.push(aWinner) %>
                  <tr>
                      <td class="bordercolor">
                        <% if @flag == 1 %>
                          gold
                          <%= image_tag("trophy_gold.png") %>                          
                          <% @latestScore = index %>
                          <% @flag += 1 %>
                        <% elsif @flag == 2 %>
                          <% if @latestScore == index %>
                            gold
                            <%= image_tag("trophy_gold.png") %>                            
                          <% else %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>              
                        <% elsif @flag == 3 %>              
                          <% if @latestScore == index %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                          <% else %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %> 
                        <% elsif @flag == 4 %>
                          <% if @latestScore == index %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                          <% else %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 5 %>
                          <% if @latestScore == index %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                          <% else %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 6 %>
                          <% if @latestScore == index %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                          <% else %>
                            platinum
                            <%= image_tag("trophy_platinum.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% else %>

                        <% end %>
                      </td>
                      <td class="bordercolor"><div align="center"><%=image_tag(FbGraph::User.new(aWinner).fetch.picture) %></div></td>
                      <td class="bordercolor">
												<div align="center" style="float:left"><%= FbGraph::User.new(aWinner).fetch.name %></div>
		      						</td>               
                      <td class="bordercolor"><div align="center">
												<section id="taskpercentages">
													<section id="winnerListProgressPercentage<%= aWinner %>">				
													</section>            
												</section></div>
											</td>			                    
          						<td class="bordercolor">			
												<% eachChallenge = Challenge.all(conditions: {:user_id => aWinner, :title=>@fetChallenge.title}).first %>
												<% total_score = 0 %>
													<% total_score_count = 0 %>
													<% total = 0 %>              
													<% eachChallenge.tasks.each do |aTask| %>
												<% total += aTask.score.to_i %>
												<% if (aTask.is_complete == 1 ) %>
													<% total_score+=Integer(aTask.score) %>  
													<% total_score_count += 1 %>                  				                       
												<% end %>
												<%end%>             
												<section style="width:200px">                
												<section class="task" id="winnerListProgress<%= aWinner %>"></section>
													<section id="sblackbox_personal">
															<section class="snotcompleted2">
																<span class="tasks_color"><%= total_score %></span> <font color="gray" weight="bold" size="4px">points </br><%= total_score_count %>&nbsp; tasks</font>
															</section>                   
													</section>
												<br>
												</section>	
												<script type="text/javascript">
															$(function() {
														$("#winnerListProgress<%= aWinner %>").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });					
														$("<p>").attr("id", "spercentage_personal").text($("#winnerListProgress<%= aWinner %>").progressbar("option", "value") + "%").appendTo("#winnerListProgressPercentage<%= aWinner %>");		
							
															});
												</script>						     	 	             	
											</td>
                  </tr>
                  <% sl +=1 %>
                  <% if sl.to_i == @challenge.social_type.how_many_winners.to_i %>
                      <% break %>
                  <% end %>
              <% end %>		
          </tbody>
        </table>
      </section>
			<section id="addPersonalM">
				<%= link_to "Add personal message", "#", :id=>"sentMessage" %>		
				<%= image_tag("cancellbutton.PNG", :style=>"float:right") %>
				<%= image_tag("approve.png", :style=>"float:right; margin-right:10px;") %>
			</section>
			<section id="addPersonalMm" style="display:none">
				<%= form_tag mForWinner_challenges_path, :method=> :get do %>
						<%= hidden_field_tag "winnerList", @sendM %>	
						<%= hidden_field_tag "noOfWinner", @challenge.social_type.how_many_winners.to_i%>
						<%= hidden_field_tag "challengeId", @challenge.id %>	
						<%= text_area_tag 'message','', :class =>"textareaMessage" %>
						<%= link_to image_tag("cancellbutton.PNG", :style=>"float:right"), show_soc_challenges_path(:id => @challenge.id) %>
						<%#= image_tag("approve.png", :style=>"float:right; margin-right:10px;")  %>
						<%= submit_tag "APPROVE", :style => "width: 80px; float:right;", :class => "linksMWinner" %>
				<% end %>
			</section>	
				</section>
   
  </section>
</section>

<script type="text/javascript">

$(document).ready(function(){
	$("#sentMessage").click(function(){
		$("#addPersonalM").hide();
		$("#addPersonalMm").show();	
	});
				
});

function winnerList()
{  
  $(document).ready(function(){
        $.colorbox({
          opacity: 0.40,
          transition: 'none',
          speed: 200,
          width: 700,
          scrolling: true,
          inline:true, 
          href:"#winList",
          title: '',
          overlayClose: true,
          onComplete: function () {
              // $(this).initFunctions(); // if you want to reinit another colorbox, you should pass the element as an argument to initFunctions rather than calling this as a blanket initializer for all colorboxes.
          }              
      });
    });
}
</script>

