				<table>
					<td width="47%">
							<label for="search">
							<strong>

							<% if  @challenge.class.to_s == "Challenge" %>
																<font size="4" color="#8c8c8c"><b  id="total">Total: <%= @challenge.child_challenges.length %></b></font>
															<%else %>
																<font size="4" color="#8c8c8c"> <b  id="total">Total: <%= @challenge.parent.child_challenges.length %></b></font>
															<% end %>
															<% if @challenge.instance_of?Challenge %>
																<%= image_tag("btn_msg_up.png", :style=>"margin-left:10px; position:relative; top:5px;" ,:onclick=>"contactToInvitee()")%>
															<% end %>
															
							</strong>

							</label>
					</td>
					<td><input type="text" id="search" onclick="search();" /></td>
					<td><div class="styled-select"> <select id="select">
							<option value="All" id="select">ALL</option>
							<option value="1" id="select">ACCEPTED</option>
							<option value="pending" id="select">PENDING</option>
							<option value="-1" id="select">DECLINED</option>
						</select> </div>
					</td>
					<td>
					<%=image_tag("searchbutton.PNG",  :onclick=>"select();" )%>
					</td>
				</table>
				<table width="100%"  class="sortable" border=1>
					<thead>
						<tr>
							<th width="80%"><b style="position:relative; color:#666666; padding-left:20px; " >NAME</b></th>
							<th width="20%"><b style=" color:#666666;  " >STATUS </b></th>
						</tr>
					</thead>
			    </table>
				<div id="list">
				
				<table width="100%" id="tblData" class="sortable" border=1 >
				<tbody bgcolor="#ffffff"  >
				  <%if @challenge.parent .nil? %>
											   <% childChallenges =  @challenge.child_challenges %>
											  <%else%>
											   <%childChallenges =  @challenge.parent.child_challenges %>
											   <%end%>                      
												  <% childChallenges.each do |aChildChallenge| %>
				
				<tr id="total">
						<td ><%=image_tag FbGraph::User.new(aChildChallenge.user_id).fetch.picture %> <a href="#"  id="ahref"><%= FbGraph::User.new(aChildChallenge.user_id).fetch.name %></a></td>
						<td >  <% if aChildChallenge.social_type.status.nil? or aChildChallenge.social_type.status == 0 %>
																	<%= image_tag  "icon_thinking.png"  %>
															   <% elsif aChildChallenge.social_type.status == 1 %>
																	<%= image_tag  "icon_accept.png"  %>
															   <% else %>
																	<%= image_tag "icon_decline.png"  %>
															   <% end %>
						</td>
				</tr>	
					
				<% end %>
				</tbody>
				</table>
				</div>
				<script>
				function select()
				{
                	$("#tblData").hide();
					 status();
				}
				function status()
				{
	            <%if @challenge.parent .nil? %>
					<% childChallenges =  @challenge.child_challenges %>
				<%else%>
					<%childChallenges =  @challenge.parent.child_challenges %>
				<%end%>                      
					<% childChallenges.each do |aChildChallenge| %>
					var status=document.getElementById("select").value
					var challenge_status="<%= aChildChallenge.social_type.status %>";
								if (select == "All")
								 var status = 2
								 if (select == "1")
								 var status = 1
								if (select == "pending")
								 var status = 0
								if (select == "-1")
								 var status = -1
			  <% end %>    

	
				</script>
				<script>
				function search()
				{
				$("#tblData").show();
				}
				</script>
				</div>
				
				<script type="text/javascript">
							$(document).ready(function()
							{
								$('#search').keyup(function()
								{
									searchTable($(this).val());
								});
							});
							function searchTable(inputVal)
							{
								var table = $('#tblData');
								table.find('tr').each(function(index, row)
								{
									var allCells = $(row).find('td');
									if(allCells.length > 0)
									{
										var found = false;
										allCells.each(function(index, td)
										{
											var regExp = new RegExp(inputVal, 'i');
											if(regExp.test($(td).text()))
											{
												found = true;
												return false;
											}
										});
										if(found == true)$(row).show();else $(row).hide();
									}
								});
							}
						</script>
	
											
													