<%= stylesheet_link_tag('soc_againstothers')%>
<% total_score = 0 %>
<% total_score_count = 0 %>
<% total = 0 %>
<% @challenge.tasks.each do |aTask| %>
<% total += aTask.score.to_i %>
<%end%>
<br/>
<table>
	<tr>
		<td width=50%>
			<b  id="total"> HOW AM I DOING ? </b>
		</td>
		<td>
			
			 <% allTaskComplete = 0 %>
			 <% if @challenge.instance_of?Challenge %>
				 <% if @challenge.canCompleteBeforeTasks? %> 
				    <% @challenge.tasks.each do |aTask| %>
				      <% if aTask.is_complete == 0 %>
				        <% allTaskComplete = 1 %>
				        <% break %>			
				      <% end %>
				    <% end %>
				    <% if allTaskComplete != 1 %> 
				 			<%= link_to "I'm Done with this challenge >> Submit my score: #{total-total_score} ", winnerListPopup_challenges_path(:id => @challenge.id) , :class => "links_score_p" %>
				 	<% end %>					 	
				 <% else %>
				 	<%= link_to "I'm Done with this challenge >> Submit my score: #{total-total_score} ", winnerListPopup_challenges_path(:id => @challenge.id) , :class => "links_score_p" %>
				 <% end %>
			<% else %>
				<% if @challenge.canCompleteBeforeTasks? %> 
				    <% @challenge.tasks.each do |aTask| %>
				      <% if aTask.is_complete == 0 %>
				        <% allTaskComplete = 1 %>
				        <% break %>			
				      <% end %>
				    <% end %>
				    <% if allTaskComplete != 1 %> 
				 			<%= link_to "I'm Done with this challenge >> Submit my score: #{total-total_score} ", challenge_comp_challenges_path(:id => @challenge.id) , :class => "links_score_pp" %>
				 	<% end %>					 	
				 <% else %>
				 	<%= link_to "I'm Done with this challenge >> Submit my score: #{total-total_score} ", challenge_comp_challenges_path(:id => @challenge.id) , :class => "links_score_pp" %>
				 <% end %>				
			<% end %>	 
			</td>
	</tr>
</table>
<hr/>
<br/>
<table>
	<tr>
		</td>
		<td width=10%>
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width=10%>
			<div id="taskpercentage">
			</div>
		</td>
		<td width=60%>
			<div style="width=30px">
				<span id="myscore"><b>My score</b></span><span  id ="top_score">Top Score</span> <br>
				<div class="task" id="taskprogress"></div>
				<div class="showperscore_personal"></div>	
				<div id="blackbox_personal">
					<div class="notcompleted2">
							<span class="tasks_color"><%= (total-total_score) %></span> <font color="gray" weight="bold" size="4px">points (<%= @challenge.tasks.count.to_i-total_score_count.to_i %>&nbsp; tasks)</font>
					</div>
				</div>
				<br>
			</div>
		</td>
		<td width=10%>
		<% time_stamps =Array[] %>		
		<% @challenge.tasks.each do |aTask| %>
			<% if aTask.updated_at == nil %>
				<%#= rescue N/A %>
			<% else %>
				<% time_stamps << aTask.updated_at.to_date %>				
			<% end %>
		<% end %>
		<%=  time_stamps.max  %>
		</td>
	</tr>
</table>

<%#= link_to "Testing", winnerListPopup_challenges_path(:id => @challenge.id) , :class => "links_score_p" %>

<script type="text/javascript">

$('.links_score_p').colorbox();

$(function() {
	$("#taskprogress").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });							
	$("<p>").attr("id", "percentage_personal").text($("#taskprogress").progressbar("option", "value") + "%").appendTo("#taskpercentage");
});
</script>

<script type="text/javascript">
function mark_as_complete()
{  
  alert("In Progress");
}
</script>






