<%= stylesheet_link_tag('soc_againstmyself')%>
<% percentage1 =0%>
<% tasks1=0%>
<% score_total1 = 0 %>
<% total_score1 = 0 %>
<% remaining_score1 = 0 %>
<% total_score_count1 = 0 %>
<% total1 = 0 %>
				<% @challenge.tasks.each do |aTask| %>
				<% tasks1+=1 %>
				 <% total1 += aTask.score.to_i %>
				<% if aTask.is_complete.to_i == 0 %>
				<% remaining_score1+= aTask.score.to_i %>
					<% else %>	
							<% total_score1 += aTask.score.to_i %>
							</div>
					<% end %>
				<% end %>
				
				<br/>
<table>
	<tr>
			<td width=50%>
				<b  id="total"> HOW AM I DOING ? </b>
			</td>
			<td>
				<% if @challenge.is_complete != 1 %>
					<input type="button" value="I'm Done with this challenge >> Submit my score <%=total_score1%>" class="links_score_p" onclick="mark_as_complete();"/>
					<%#= button_to "I'm Done with this challenge >> Submit my score #{total-total_score } ",:id=>"button_color" %>
				<% end %>
			</td>
	</tr>
</table>
	<hr/>
	<br/>
<table>
	<tr>
		<td width=10%>
			Ranks
		</td>
		<td width=10%>
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width=10% id="td_content_percentage1" >
						
		</td>
		<td width=60%>
		
			<div style="width=30px">
			<div style="width=30px">
				<span id="myscore"><b>My score</b></span><span  id ="top_score">Top Score</span> <br>
				<div class="task" id="taskprogress1"></div>
				<span id ="score_under_progress" ><%= total_score1 %></span> <span id="score_under_progress_in_words">Points( <%= tasks1%> tasks)  </span> &nbsp; <span id="top_score_list"> <%= remaining_score1 %>points (<%= tasks1%> tasks ) </span>
				<div class="showperscore_personal"></div>	
					<div id="blackbox_personal">
						<div class="notcompleted12">
						</div>
						<script type="text/javascript">
								$(function() {
									$("#taskprogress1").progressbar({ value: Math.round(((<%= total_score1 %>/<%= total1 %>)*100)) });							
									$("<p>").attr("id", "percentage_personal").$("#taskprogress1").progressbar("option") .appendTo("#taskpercentage");
								});
						</script>
					</div><br>
				</div>
	</td>		
		</td>
		<td width=10%>
	      
		</td>
	</tr>
</table>

<script>
	<% @challenge.tasks.each do |aTask| %>
			<% total1 += aTask.score.to_i %>
				<% if aTask.is_complete.to_i == 0 %>
				<% else %>	
					<% total_score1 += aTask.score.to_i %>
				<% end %>
	<% end %>
var percentage= (<%= total_score1 %>/<%= total1 %>)*100
var percent = parseInt(percentage);
document.getElementById("td_content_percentage1").textContent=percent+"%"
</script>




<script>
function mark_as_complete()
{
alert("In progress");
}
</script>
