<%= stylesheet_link_tag('soc_againstmyself')%>
<% percentage1 =0%>
<% tasks1=0%>
<% score_total1 = 0 %>
<% total_score1 = 0 %>
<% remaining_score1 = 0 %>
<% total_score_count1 = 0 %>
<% total1 = 0 %>
<% @challenge.tasks.each do |aTask| %>
  <% tasks1+=1 %>
  <% total1 += aTask.score.to_i %>
  <% if aTask.is_complete.to_i == 0 %>
    <% remaining_score1+= aTask.score.to_i %>
  <% else %>	
    <% total_score1 += aTask.score.to_i %>
    </div>
  <% end %>
<% end %>
<table>
  <tr width="100%">

    <td width="22%">
      <span class="howamspace"> HOW AM I DOING ?</span>
    </td>
    <td width="85%">
      <% if @challenge.is_complete != 1 %>
        <input type="button" value="I'm done with this challenge >> Submit my score: <%=total_score1%>" class="links_score_p_myself" onclick="mark_as_complete();"/>
  <%#= button_to "I'm Done with this challenge >> Submit my score #{total-total_score } ",:id=>"button_color" %>
<% end %>
    </td>

  </tr>
</table>
<hr/>
<table>
  <tr width="100%">
    <td width="5%"></td>
    <td width="15%" id="imagewidth">
      <%= image_tag (current_user.facebook.picture), :id=>"image" %>
    </td>
    <td width="50%">
      <div class="task" id="taskpercentage"></div>
      <% flag1=0 %>
      <% flag2=0 %>
      <% aScore= 0 %>
      <% bScore= 0 %>
      <% @challenge.tasks.each do |aTask| %>
        <% if (aTask.is_complete == 1 ) %>
          <% aScore+=Integer(aTask.score) %>
          <% flag1+=1 %>
        <% else %>
          <% bScore += aTask.score.to_i %>
          <% flag2+=1 %>
        <% end %>
      <% end %>

      <span id="myscoreself">Completed</span><span class="togocolo">To Go</span> <br>

      <div class="taskprogress1" id="taskprogress1"></div>
      <div id="modiifcation"><span id="tasksnumber"><%= flag2 %>tasks&nbsp;(&nbsp;</span><span class="diffcolor"><%= bScore %></span><span id="tasksnumber"> Points)</span></div>
      <div id="modiifcation2"><span id="tasksnumber2">
          <%= flag1 %>&nbsp;tasks&nbsp;
          (&nbsp;<%= aScore %>&nbsp; Points)</span>
      </div>

    </td>
    <td width="15%">
      <% time_stamps = Array[] %><span class="colorlastupdate">Last Updated</span><br>
      <% timecount = []%>
      <% @challenge.tasks.each do |aTask| %>
        <% timecount.push(aTask.updated_at) %>
      <% end %>
      <% finaltime = []%>
      <% timecount.delete_if {|x| x == nil}.each do |latesttime|%>
        <% finaltime.push(latesttime)	 %>
      <%end%>
      <% if finaltime.count == 0 %>
        <%finaltime.each do |singleelement|%>
          No updation is takes place
        <%end%>
      <%else%>
        <span class="latestupdatedtime"><%= time_ago_in_words finaltime.sort.last %></span>
      <%end%>
    </td>
  </tr>

  <script type="text/javascript">
    $(function() {
      $("#taskprogress1").progressbar({ value: Math.round(((<%= total_score1 %>/<%= total1 %>)*100)) });							
        $("<p>").attr("id", "percentage_personal_myself").text($("#taskprogress1").progressbar("option", "value") + "%  ").appendTo("#taskprogress1");
      });
  </script>
</table>
