<table width="100%" border="0" height="40px">
	<tr bgcolor=#F4F4F4>
		<td width="220px">
			<b  id="total">Total: <%= @challenge.child_challenges.length %></b>
			<% if @challenge.instance_of?Challenge %>
				<%= image_tag("btn_msg_up.png", :style=>"margin-left:10px; position:relative; top:5px;" ,:onclick=>"contactToInvitee()")%>
			<% end %>
		</td>
		<td width = "100px" id="search">
		</td>
		<td width="300px">
			<select>
				<option value="volvo">ALL</option>
				<option value="saab">ACCEPTED</option>
				<option value="mercedes">PENDING</option>
				<option value="audi">DECLINED</option>
			</select> 
			&nbsp;
			<%= image_tag ("search_it.PNG") %>
		</td>
	</tr>
</table>
<style>
	.filterinput
	{
	width :200px;
	height:25px;
	}
</style>
<table  border="0" height="20px" bgcolor="gray"> 
	<tr bgcolor=#D7D7D7>
		<td>
			<b>NAME &nbsp;</b>
		</td>
		<td width="80px">
			<font color=#A8A8A8>STATUS</font>
		</td>
	</tr>
</table>
<div id="wrap">
	<h1 id="header"></h1>
	<table bgcolor="white">
		<tr>
			<td id="list">
				<%if @challenge.parent .nil? %>
					<% childChallenges =  @challenge.child_challenges %>
				<%else%>
					<%childChallenges =  @challenge.parent.child_challenges %>
				 <%end%>                      
				<% childChallenges.each do |aChildChallenge| %>
					<p><%=image_tag FbGraph::User.new(aChildChallenge.user_id).fetch.picture %> <a href="#"  id="ahref"><%= FbGraph::User.new(aChildChallenge.user_id).fetch.name %></a>
					<span id="status_icon"> 
					<% if aChildChallenge.social_type.status.nil? or aChildChallenge.social_type.status == 0 %>
						<%= image_tag  "icon_thinking.png"  %>
					<% elsif aChildChallenge.social_type.status == 1 %>
							<%= image_tag  "icon_accept.png"  %>
					<% else %>
								<%= image_tag "icon_decline.png"  %>
					<% end %>
				<% end %>                    
				</span> 
					</p>
				</td>
		</tr>	
	</table>
</div>