<% total_score = 0 %>
				<% total_score_count = 0 %>
					<% percentage =0%>
				<% total = 0 %>
				<% score_total = 0 %>
				<% @challenge.tasks.each do |aTask| %>
				<% total += aTask.score.to_i %>
				<%end%>
				<br/>
<table>
	<tr>
			<td width=50%>
				<b  id="total"> HOW AM I DOING ? </b>
			</td>
			<td>
				<% if @challenge.is_complete != 1 %>
					<input type="button" value="I'm Done with this challenge >> Submit my score <%= total-total_score%>" class="links_score_p" onclick="mark_as_complete();"/>
					<%#= button_to "I'm Done with this challenge >> Submit my score #{total-total_score } ",:id=>"button_color" %>
				<% end %>
			</td>
	</tr>
</table>
	<hr/>
	<br/>
<table>
	<tr>
		<td width=10%>
			Ranks
		</td>
		<td width=10%>
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width=10% id="td_content_percentage" >
						
		</td>
		<td width=60%>
			<% total_score = 0 %>
				<% total_score_count = 0 %>
				<% total = 0 %>
				<% @challenge.tasks.each do |aTask| %>
				 <% total += aTask.score.to_i %>
				<% if aTask.is_complete.to_i == 0 %>
					<% else %>	
							<% total_score += aTask.score.to_i %>
							</div>
					<% end %>
				<% end %>
			<div style="width=30px">
			<div class="task" id="taskprogress"></div>
				<div class="showperscore_personal"></div>	
				<style>
					.task
					{
						width:400px;
						}
					</style>
					<div id="blackbox_personal">
						
						<div class="notcompleted12">
									
						</div>
						<script type="text/javascript">
								$(function() {
									$("#taskprogress").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });							
									$("<p>").attr("id", "percentage_personal").$("#taskprogress").progressbar("option") .appendTo("#taskpercentage");
								});
						</script>
						
					</div><br>
				</div>
			
	</td>		
		</td>
		<td width=10%>
		<%#=  time_ago_in_words aTask.updated_at %>
		</td>
	</tr>
</table>

<script>
	<% @challenge.tasks.each do |aTask| %>
			<% total += aTask.score.to_i %>
				<% if aTask.is_complete.to_i == 0 %>
				<% else %>	
					<% total_score += aTask.score.to_i %>
				<% end %>
	<% end %>
var percentage= (<%= total_score %>/<%= total %>)*100
var percent = parseInt(percentage);
document.getElementById("td_content_percentage").textContent=percent+"%"
</script>


<style>
#image
{
position:relaticve;
margin-top:0px;
}
p{
color:green;
font-weight:bold;
font-size:26px;
margin-top:20px;
}
#top_score
{
padding-left: 50%;
font-weight:bold;
font-size:16px;
color:gray;
}
.tasks_color
{
font-size:16px;
font-weight:bold;
color:green;
}
#points
{
font-size:16px;
font-weight:bold;
color:gray;
}

.notcompleted2 {
    color: #FFFFFF;
    float: left;
    left: 1%;
    position: relative;
    top: 12%;
}
#update_progress {
    margin-right: -10px;
    padding-left: 100px;
    position: relative;
}
#button_color
{
background-color:orange;
color:white;
margin-right:20px;
}
.task
{
	width:100%;
	}
#td_content_percentage
{
color:green;
font-weight:bold;
font-size:20;
}
.ui-widget-content
{
border-radius: 0px 0px 0px 0px;
}
</style>


<script>
function mark_as_complete()
{
alert("In progress");
}
</script>