<%= stylesheet_link_tag('soc_againstothers')%>
<% total_score = 0 %>
				<% total_score_count = 0 %>
				<% total = 0 %>
				<% @challenge.tasks.each do |aTask| %>
				<% total += aTask.score.to_i %>
				<%end%>
				<br/>
<table>
	<tr>
			<td width=50%>
				<b  id="total"> HOW AM I DOING ? </b>
			</td>
			<td>
                            <% if @challenge.is_complete != 1 %>
                                <input type="button" value="I'm Done with this challenge >> Submit my score <%= total-total_score%>" class="links_score_p" onclick="winnerList();"/>
                                <%#= button_to "I'm Done with this challenge >> Submit my score #{total-total_score } ",:id=>"button_color" %>
                            <% end %>
			</td>
	</tr>
</table>
	<hr/>
	<br/>
<table>
	<tr>

		</td>
		<td width=10%>
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width=10%>
			<div id="taskpercentage">
			</div>
		</td>
		<td width=60%>
				<div style="width=30px">
						<span id="myscore"><b>My score</b></span><span  id ="top_score">Top Score</span> <br>
						<div class="task" id="taskprogress"></div>
						<div class="showperscore_personal"></div>	
						<div id="blackbox_personal">
							<div class="notcompleted2">
									<span class="tasks_color"><%= (total-total_score) %></span> <font color="gray" weight="bold" size="4px">points (<%= @challenge.tasks.count.to_i-total_score_count.to_i %>&nbsp; tasks)</font>
							</div>
						</div>
					<br>
				</div>
		</td>
		<td width=10%>
		<% time_stamps =Array[] %>
		
		<% @challenge.tasks.each do |aTask| %>
			<% if aTask.updated_at == nil %>
				<%#= rescue N/A %>
			<% else %>
				<% time_stamps << aTask.updated_at.to_date %>
				
			<% end %>
		<% end %>
		<%=  time_stamps.max  %>
		
	
		</td>
	</tr>
</table>


<script type="text/javascript">
$(function() {
	$("#taskprogress").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });							
	$("<p>").attr("id", "percentage_personal").text($("#taskprogress").progressbar("option", "value") + "%").appendTo("#taskpercentage");
});
</script>

<script type="text/javascript">
function mark_as_complete()
{  
  alert("In Progress");
}
</script>





<section style="display: none">
  <section id="winList">
    <span class="titlepopup">Publish the winners!</span>
    <section id="winListM">
      Here's the list of winner(s) for <%= @challenge.title %>. On your approval, the winner(s) will be published to Facebook.
      <section id="winListMNo">
        No of winners:&nbsp;<%= @challenge.social_type.how_many_winners %><%= image_tag("icon_edit.png", :style=>"float:right;", :id=>"editWinner" )%>
        <table id="winListMNoL" width="100%">
          <thead >          
            <th width="10%" id="backround">Rank</th>
            <th id="backround">Name</th>
            <th id="backround"></th>
            <th id="backround" ></th>
            <th id="backround">Score</th>
          </thead>
          <tbody>            
	    <% if @challenge.instance_of?ChildChallenge %>
		<% @fetChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
	    <% else %>
		 <% @fetChallenge = Challenge.where(:_id => params[:id]).first%>
	    <% end %>
            <% @flag = 1 %>
            <% @latestScore = 1 %>
              <% sl=0 %>
              <% if @fetChallenge.social_type.who_win == "Highest number of points" %>
                  <% @all =  Challenge.winner(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Participant completes all tasks" %>
                  <% @all =  Challenge.winnerCompleteAllTask(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Lowest number of points" %>
                  <% @temp =  Challenge.winner(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>			
							<% if @fetChallenge.social_type.who_win == "1st person to reach End Point" %>
                  <% @temp =  Challenge.winnerFirstPersonReach(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>
				  <% @allParticipants = [] %>
				  <% @allWinners = [] %>
				  <% @all.each do |aWinner,index| %>
				  		<% @allParticipants.push(aWinner) %>
				  <% end %>
				  <% @all %>					  						
              <% @all.each do |aWinner,index| %>
						<% @allWinners.push(aWinner) %>
                  <tr>
                      <td class="bordercolor">
                        <% if @flag == 1 %>
                          gold
                          <%= image_tag("trophy_gold.png") %>                          
                          <% @latestScore = index %>
                          <% @flag += 1 %>
                        <% elsif @flag == 2 %>
                          <% if @latestScore == index %>
                            gold
                            <%= image_tag("trophy_gold.png") %>                            
                          <% else %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>              
                        <% elsif @flag == 3 %>              
                          <% if @latestScore == index %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                          <% else %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %> 
                        <% elsif @flag == 4 %>
                          <% if @latestScore == index %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                          <% else %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 5 %>
                          <% if @latestScore == index %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                          <% else %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 6 %>
                          <% if @latestScore == index %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                          <% else %>
                            platinum
                            <%= image_tag("trophy_platinum.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% else %>

                        <% end %>
                      </td>
                      <td class="bordercolor"><div align="center">
									<%=image_tag(FbGraph::User.new(aWinner).fetch.picture) %></div>
							 </td>
                      <td class="bordercolor"><div align="center" style="float:left">
									<%= FbGraph::User.new(aWinner).fetch.name %></div>
		      			 </td>               
                      <td class="bordercolor">
								<div align="center">
									<section id="taskpercentages">
										<section id="winnerListProgressPercentage<%= aWinner %>">				
									</section>            
								</section>
								</div>
							 </td>			                    
    						<td class="bordercolor">
								<% eachChallenge = Challenge.all(conditions: {:user_id => aWinner, :title=>@fetChallenge.title}).first %>
								<% total_score = 0 %>
									<% total_score_count = 0 %>
									<% total = 0 %>              
									<% eachChallenge.tasks.each do |aTask| %>
								<% total += aTask.score.to_i %>
								<% if (aTask.is_complete == 1 ) %>
									<% total_score+=Integer(aTask.score) %>  
									<% total_score_count += 1 %>                  				                       
								<% end %>
								<%end%>											            
								<section style="width:200px">                
								<section class="task" id="winnerListProgress<%= aWinner %>"></section>
									<section id="sblackbox_personal">
										<section class="snotcompleted2">
											<span class="tasks_color"><%= total_score %></span> <font color="gray" weight="bold" size="4px">points </br><%= total_score_count %>&nbsp; tasks</font>
										</section>                   
									</section>
								<br>
								</section>	
								
							</td>							
                  </tr>
                  <% sl +=1 %>
                  <% if sl.to_i == @challenge.social_type.how_many_winners.to_i %>
                      <% break %>
                  <% end %>						
              <% end %>		
          </tbody>
        </table>
      </section>
		

		<section id="winListMNoEdit" style="display:none">
				No of winners:&nbsp;<%= @challenge.social_type.how_many_winners %>
				<%= link_to image_tag("cancellbutton.PNG", :style=>"float:right"), show_soc_challenges_path(:id => @challenge.id) %>
				<%#= image_tag("approve.png", :style=>"float:right; margin-right:10px;")  %>
				<%= submit_tag "SAVE", :style => "width: 80px; float:right;", :class => "linksMWinner" %>	
        <table id="winListMNoL" width="100%">
          <thead>
				<th></th>          
            <th>Rank</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th>Score</th>
				<th></th>
          </thead>
          <tbody>            
	    <% if @challenge.instance_of?ChildChallenge %>
		<% @fetChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
	    <% else %>
		 <% @fetChallenge = Challenge.where(:_id => params[:id]).first%>
	    <% end %>
            <% @flag = 1 %>
            <% @latestScore = 1 %>
              <% sl=0 %>
              <% if @fetChallenge.social_type.who_win == "Highest number of points" %>
                  <% @all =  Challenge.winner(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Participant completes all tasks" %>
                  <% @all =  Challenge.winnerCompleteAllTask(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Lowest number of points" %>
                  <% @temp =  Challenge.winner(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>			
							<% if @fetChallenge.social_type.who_win == "1st person to reach End Point" %>
                  <% @temp =  Challenge.winnerFirstPersonReach(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>
				  <% @allParticipants = [] %>
				  <% @allWinners = [] %>
				  <% @all.each do |aWinner,index| %>
				  		<% @allParticipants.push(aWinner) %>
				  <% end %>		
              <% @all.each do |aWinner,index| %>
						<% @allWinners.push(aWinner) %>
                  <tr>
							 <td class="bordercolor">
									<a href="#" class="up">Up</a>
            					<a href="#" class="down">Down</a>
							</td>	
                      <td class="bordercolor">
                        <% if @flag == 1 %>
                          gold
                          <%= image_tag("trophy_gold.png") %>                          
                          <% @latestScore = index %>
                          <% @flag += 1 %>
                        <% elsif @flag == 2 %>
                          <% if @latestScore == index %>
                            gold
                            <%= image_tag("trophy_gold.png") %>                            
                          <% else %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>              
                        <% elsif @flag == 3 %>              
                          <% if @latestScore == index %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                          <% else %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %> 
                        <% elsif @flag == 4 %>
                          <% if @latestScore == index %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                          <% else %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 5 %>
                          <% if @latestScore == index %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                          <% else %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 6 %>
                          <% if @latestScore == index %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                          <% else %>
                            platinum
                            <%= image_tag("trophy_platinum.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% else %>

                        <% end %>
                      </td>
                      <td class="bordercolor"><div align="center">
									<%=image_tag(FbGraph::User.new(aWinner).fetch.picture) %></div>
							 </td>
                      <td class="bordercolor"><div align="center" style="float:left">
									<%= FbGraph::User.new(aWinner).fetch.name %></div>
		      			 </td>               
                      <td class="bordercolor">
								<div align="center">
									<section id="taskpercentages">
										<section id="winnerListProgressPercentageEdit<%= aWinner %>">				
									</section>            
								</section>
								</div>
							 </td>			                    
    						<td class="bordercolor">
								<% eachChallenge = Challenge.all(conditions: {:user_id => aWinner, :title=>@fetChallenge.title}).first %>
								<% total_score = 0 %>
									<% total_score_count = 0 %>
									<% total = 0 %>              
									<% eachChallenge.tasks.each do |aTask| %>
								<% total += aTask.score.to_i %>
								<% if (aTask.is_complete == 1 ) %>
									<% total_score+=Integer(aTask.score) %>  
									<% total_score_count += 1 %>                  				                       
								<% end %>
								<%end%>											            
								<section style="width:200px">                
								<section class="task" id="winnerListProgressEdit<%= aWinner %>"></section>
									<section id="sblackbox_personal">
										<section class="snotcompleted2">
											<span class="tasks_color"><%= total_score %></span> <font color="gray" weight="bold" size="4px">points </br><%= total_score_count %>&nbsp; tasks</font>
										</section>                   
									</section>
								<br>
								</section>	
																															     	 	            
							</td>	
							<td class="bordercolor"><%= link_to image_tag("btn_delete_up.png"), deleteWinner_challenges_path(:id=>eachChallenge.id) %></td>						
                  </tr>
                  <% sl +=1 %>
                  <% if sl.to_i == @challenge.social_type.how_many_winners.to_i %>
                      <% break %>
                  <% end %>						
              <% end %>		
          </tbody>
        </table>
      </section>

		<section id="addPersonalM">
			<%= link_to "Add personal message", "#", :id=>"sentMessage" %>		
			<%= link_to image_tag("cancellbutton.PNG", :style=>"float:right"), show_soc_challenges_path(:id => @challenge.id)  %>
			<%#= image_tag("approve.png", :style=>"float:right; margin-right:10px;", :id=>"approve") %>
			<%= image_tag("approve.png", :style=>"float:right; margin-right:10px;", :id=>"approve") %>
			<%#= link_to image_tag("approve.png", :style=>"float:right; margin-right:10px;"), storeWinner_messages_path(:noOfWinner=>@challenge.social_type.how_many_winners, :winners=> @all, :challengeId => @challenge.title), :id=>"approve" %>
		</section>
		<section id="addPersonalMm" style="display:none">
			<%= form_tag mForWinner_challenges_path, :method=> :get do %>
					<%= hidden_field_tag "winnerList", @allWinners %>	
					<%= hidden_field_tag "noOfWinner", @challenge.social_type.how_many_winners.to_i%>
					<%= hidden_field_tag "challengeId", @challenge.id %>	
					<%= text_area_tag 'message','', :class =>"textareaMessage" %>
					<%= link_to image_tag("cancellbutton.PNG", :style=>"float:right"), show_soc_challenges_path(:id => @challenge.id) %>
					<%#= image_tag("approve.png", :style=>"float:right; margin-right:10px;")  %>
					<%= submit_tag "APPROVE", :style => "width: 80px; float:right;", :class => "linksMWinner" %>
			<% end %>
		</section>

		</section>   
  </section>
</section>

<script type="text/javascript">

$(document).ready(function(){
	$("#sentMessage").click(function(){
		$("#addPersonalM").hide();
		$("#addPersonalMm").show();	
	});
				
});

function winnerList()
{  
  $(document).ready(function(){
        $.colorbox({
          opacity: 0.40,
          transition: 'none',
          speed: 200,
          width: 700,
          scrolling: true,
          inline:true, 
          href:"#winList",
          title: '',
          overlayClose: true,
          onComplete: function () {
              // $(this).initFunctions(); // if you want to reinit another colorbox, you should pass the element as an argument to initFunctions rather than calling this as a blanket initializer for all colorboxes.
          }              
      });
    });
}
</script>

<div id="fb-root"></div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
   	$("#approve").click(function(){
   	
   		//var orgId = '<%= @fetChallenge.id %>';
			var winnerDetails = new Object();
			//winnerDetails.winners = '<%= @allWinners %>',
			//winnerDetails.title = '<%= @challenge.title %>',
			winnerDetails.orgId = '<%= @fetChallenge.id %>',
			//winnerDetails.noOfWinner = '<%= @fetChallenge.social_type.how_many_winners %>', 	
			//var allWinns = '<%= @allWinners %>','<%= @challenge.title %>';
			//var title = '<%= @challenge.title %>';                  
			$.post('/challenges/storeWinner', winnerDetails );

			$.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+@allParticipants.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).replace("'", "");	

            function fbCallback(response){
              if(response == null){
              } else
              {
                  var srt = '<%= params[:id] %>';
                  jQuery.support.cors = true;
                  $.get('/challenges/update_status_af_meg', 
                      {thinking_abt:srt},
                      function(data) {

                      }, 'script'
                  );
              }
            }
		});
	});
</script>

<script>
	$(document).ready(function(){
		$('#editWinner').click(function(){
			$("#winListMNo").hide();
			$("#winListMNoEdit").show();
			//alert("Maisa")
		});
		
		$(document).ready(function(){
    	$(".up,.down").click(function(){
        var row = $(this).parents("tr:first");
        if ($(this).is(".up")) {
            row.insertBefore(row.prev());
        } else {
            row.insertAfter(row.next());
        }
    	});
});
		
				
	});
</script>

<%#= @challenge.user_id%>
<%#= @allParticipants %>
<%#= @allWinners %>


