<%= stylesheet_link_tag('soc_againstothers')%>
<% total_score = 0 %>
<% total_score_count = 0 %>
<% total = 0 %>
<% @challenge.tasks.each do |aTask| %>
<% total += aTask.score.to_i %>
<%end%>
<br/>
<table>
	<tr width="100%">
		<td width="30%">
			<span  id="total"> HOW AM I DOING ? </span>
		</td>
		<td width="70%" id ="createnewte">
			
			 <% allTaskComplete = 0 %>
			 <% if @challenge.instance_of?Challenge %>
				 <% if @challenge.canCompleteBeforeTasks? %> 
				    <% @challenge.tasks.each do |aTask| %>
				      <% if aTask.is_complete == 0 %>
				        <% allTaskComplete = 1 %>			
				      <% end %>
				    <% end %>
					 <% if allTaskComplete == 1 %>
					 	<input type="button" value="I'm Done with this challenge >> Submit my score : <%= total-total_score%>" class="links_score_p"/>
					 <% end %>
				 <% else %>
				 	<input type="button" value="I'm Done with this challenge >> Submit my score :<%= total-total_score%>" class="links_score_p"/>
				 <% end %>
			<% else %>
				
			<% end %>	 
			</td>
	</tr>
</table>
<hr/>
<br/>
<table>
	<tr width="100%">
		<td width="10%" id="ranktrip">
		Rank<br><span id="rankcolor">18</span><br>(of 1234)
		</td>
		</td>
		<td width="20%">
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width="50%">
			<div id="taskpercentage">
			</div>
		</td>
		<td width="30%">
			<div style="width=30px">
				<span id="myscore"><b>My score</b></span><span  id ="top_score">Top Score</span> <br>
				<div class="task" id="taskprogress"></div>
				<div class="showperscore_personal"></div>	
				<div id="blackbox_personal">
					<div class="notcompleted2">
							<span class="tasks_color"><%= (total-total_score) %></span> <font color="gray" weight="bold" size="4px">points (<%= @challenge.tasks.count.to_i-total_score_count.to_i %>&nbsp; tasks)</font>
					</div>
				</div>
				<br>
			</div>
		</td>
		<td width="10%">
		 Last Upate
		</td>
	</tr>
</table>

<%#= link_to "Testing", winnerListPopup_challenges_path(:id => @challenge.id) , :class => "links_score_p" %>

<script type="text/javascript">

$('.links_score_p').colorbox();

$(function() {
	$("#taskprogress").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });							
	$("<p>").attr("id", "percentage_personal").text($("#taskprogress").progressbar("option", "value") + "%").appendTo("#taskpercentage");
});
</script>

<script type="text/javascript">
function mark_as_complete()
{  
  alert("In Progress");
}
</script>





