<%= stylesheet_link_tag('main','simple-tabs')%>
<%= stylesheet_link_tag('simple-tabs','datePicker', 'colorbox')%>
<%= javascript_include_tag('simple-tabs')%>
<%= javascript_include_tag('simple-tabs','jquery.colorbox-min','jquery.table.addrow','jquery.datePicker','date','jquery.editable-1.3.3','on_the_spot','jquery.ezpz_tooltip','jquery.ezpz_tooltip.min.js')%>
<%= render 'layouts/loggedinbody'%>
<br><br>
<div id="ch_main_div">
			<div id="ch_main_div1">
						<div class="challange">
							<%= @challenge.title%>
						</div>
						
				
			
						<div>
							<table >
									<tr>
										<td width="100px" heigh="50px">
											<b><font color= #909090>DESCRIPTION</font></b></td>
										<td width="500px">
										<pre ><%= on_the_spot_edit @challenge,:description , :type=>:textarea ,:rows => 10, :columns => 55  %></pre>
										</td>
									</tr>
							</table>
						</div>
			
						<div>
								<table>
											<tr>
												<td width="100px" class="titles">
													<b><font color= #909090>ORGANIZER</font></b>
												</td>
												<td id="username">
												</td>
												<td>
												<%=link_to image_tag("btn_msg_up.png"), message_challenges_path(:id => @challenge) %>
												<%#= link_to  render(:partial => 'challenges/message'), root_url %>
												
												</td>
											</tr>
											<tr><hr/>
											</tr>
								</table>
						</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
								<table>
										<tr>
											<td width=120px>
													<b><font color= #909090>START POINT</font></b>
											</td>
											<td>
											<%= @challenge.start_point.value%> 
											</td><td align="right"><%#=link_to image_tag("icon_edit.png"), date_update_challenges_path(:id => @challenge),:class=>"task_update_popup", :align=>"right" %></td>
										</tr>
								</table>
					</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
							<table>
								<tr> 
									<td width=120px>
										<b><font color= #909090>END POINT</font></b>
									</td>
									<td>
										<%= @challenge.end_point.value %>
									</td>
									<td>
									<%#=link_to image_tag("icon_edit.png"), date_update_challenges_path(:id => @challenge),:class=>"task_update_popup", :style => "text-decoration: underline;",:align=>"right" %>
									</td>
								</tr>
							</table>
					</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
							<table>
								 <tr>
		<td width="100px" class="titles">
			<b><font color= #909090>PARTICIPANTS</b></font>
		</td>
		<td><%= @challenge.child_challenges.length %> </td>
	</tr>
</table>
<table>
	<tr>
    		<td colspan="1">
    				<ul class="tabs">
    					<li><a href="#tab1"><b>TASKS</b></a></li>
    					<li><a href="#tab2"><b>PEOPLE</b></a></li>
					</ul>
				<br>
<div class="tab_container">
	<div id="tab1" class="tab_content">
					<%= render(:partial => 'challenges/tasks')  %>

    					<div id="tab2" class="tab_content">
       						
							<table width="100%" border="0">
  								<tr>	
									<td>
												<table bgcolor=#F4F4F4>
													<tr bgcolor=#F4F4F4>
														<td width=250px"><b  id="total">Total:<%= @challenge.child_challenges.length %></b>	<%=link_to image_tag("btn_msg_up.png"), message_challenges_path(:id => @challenge) %>
														</td>
														<td><input type="text">&nbsp;
															<select>
															<option value="volvo">ALL</option>
															<option value="saab">ACCEPTED</option>
															<option value="mercedes">PENDING</option>
															<option value="audi">DECLINED</option>
															</select> 
															</td>
															<td>
															<%= image_tag ("search.png") %>
														</td>
													</tr>
												</table>
									

														<table  border="0"> 
															<tr bgcolor=#F4F4F4>
																			<td>
																				NAME
																			</td>
																			<td align="right">
																				STATUS
																			</td>
															</tr>
															
															<div id="friendslist">
															<% @challenge.child_challenges.each do |aTask| %>
															<tr> 
																<td align="left"> 
													               <%= aTask.user_id %>
																</td> 
																</tr> 
															     <% end %>
															</div> 
													
															
														</table> 
														</td></tr>
														</table>
														
														</div>
					</div>
		</div>	
 </div>
 </div>
														
												
    <script> 
	     $('.task_update_popup').colorbox();
	     window.fbAsyncInit(); 
         FB.getLoginStatus(function(response) { 
                 if (response.session)
            { 
                       globaluserid=response.session["uid"]; 
					   name=globaluserid;
					    $("#username").append(name);
						}

						}
						);
						
						
         $("document").ready(function(){
		$(".addComment").btnAddRow({rowNumColumn:"rowNumber"}),
		$(".delRow").btnDelRow()						
	});
</script>




