<% score = 1 %>
<table>
	<tr>
		<td>
		<b  id="total">Total: <%= @challenge.tasks.count %></b>
		</td>
	</tr>
</table>

<table bgcolor=#f4f4f4>
	<thead>
		<td width=50%>
			<b  id="total">Name</b>
		</td>
		<td width=6%>
			<b  id="total">Points<b id="sign">X</b></b>
		</td>
		<td width=6%>
			<b  id="total">Hours<b id="sign">=</b></b>
		</td>
		<td width=20%>
			<b  id="total">My Score</b>
		</td>
		<td width=18%>
			<b  id="total">Updated</b>
		</td>
	</thead>
</table>
	<% t = 0 %>
<table>
	<tbody>
		<% @challenge.tasks.each do |aTask| %>
			<tr>
				<td  width=50%>
					<b  id="total"><%= aTask.name %></b>
				</td>
				<td width=6%>
					<b  id="<%=aTask.name %>"><%= aTask.score.to_i %></b>
				</td>
				<td width=6%>
				   <% if aTask.score_by == "Check box:1 for checking off the task"  %>
						<span id="check_zero">
								<% if aTask.total==0 %>
									<img src="/assets/check_zero.PNG" id="myImage<%= score %>"  onclick="update_task();" />
									<%#= image_tag ("check_zero.PNG"),:onclick=>"update_task();" %>
								<% else %>
									<img src="/assets/check_one.PNG" />
								<% end %>
						</span>
							
						<script>
								function update_task()
						{
						 var image = "/assets/check_one.PNG"
						 document.myImage<%= score %>.src=image	
						 if (image== "/assets/check_one.PNG")
						 {
							var my_score="<%= aTask.score.to_i %>";
							document.getElementById("my_score<%=score %>").innerHTML=my_score
						 }
						}
						</script>
					<% else %>
					   <input type="text" name="hours" id="hours" />
					<% end %>
				</td>
				<td width=20% id="my_score<%=score %>" >
					<%= aTask.total %>
				</td>
				<td width=18% id="updated_at">
			       <% if aTask.score_by == "Check box:1 for checking off the task"  %>
				        <%if aTask.total == 0 %>
							<%= link_to " update", update_tasks_list_challenges_path(:id=>aTask.id, :ch_id=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
				        <% else %>
							<% aTask.updated_at %>
						<% end%>
				<% else %>
						<%= link_to " update", update_tasks_list_challenges_path(:id=>aTask.id, :ch_id=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
					<% end %>
				</td>
				<script>
				function update_date()
				{
				 <% if aTask.score_by == "Check box:1 for checking off the task"  %>
							var my_score="<%= aTask.score.to_i %>";
							<% t= DateTime.now %>
							<% date=t.strftime("%d/%m/%y%H:%M:%S") %>
							document.getElementById("my_score<%=score %>").innerHTML=my_score
							document.getElementById("updated_at").innerHTML="<%= date %>"
				<% else%>
					var self_report = document.getElementById("hours").value
					var points ="<%= aTask.score.to_i %>";
					var total_myscore= self_report * points
					<% t= DateTime.now %>
					<% date=t.strftime("%d/%m/%y%H:%M:%S") %>
					document.getElementById("<%= aTask.name %>").innerHTML=total_myscore
					document.getElementById("updated_at").innerHTML="<%= date %>"
					
				<% end %>
				}
				</script>
			
			</tr>
			<tr> 
				<td colspan="5"> 
					<hr/>
				</td>
			</tr> 
         <% score+=1 %>			
		<% end %>
	</tbody>
</table>
<style type="text/css">
#sign
{
color:orange;
}
#hours
{
width:30px;
}
</style>