
<table width="100%" border="1" bgcolor=#f4f4f4 >
	<tr bgcolor=#f5f5f5>
		<th width="85%">
			<h3 align="left"><font color="#8c8c8c"><b>Total : <%= @challenge.tasks.count %></b></font></h3>
		</th>
		<% t=0 %>
		<% @challenge.child_challenges.each do |aTask| %>
			<% if aTask.user_id == @challenge.user_id %>
				<% t+=1 %>
			<%end%>
		<%end%>
		<% if t != 1 %>
			<th width="3%">	</th>
			<th width="12%">
				<% if @challenge.social_type.status == 1 %>
					<%= link_to image_tag("icon_edit.png", :style =>"margin-top:3px; float:right" ), show_soc_challenges_path(:id => @challenge, :flg => "ed") %>
				<% end %>	
			</th>
		<% end %> 
	</tr>
	<tr bgcolor=#D7D7D7>
		<td width="85%">
			<h4 style="margin-top:15px;"><font color="#999999"  style="margin-top:15px;"><b>POINT(s)</b></font> <%= image_tag("icon_slash.png", :height => '12', :width => '5') %> <font color="#999999"><b>TASKS</b></font></h4>
		</td>
		<td></td>
		<td width="15%">
			<h4 style="margin-top:15px;"><p style="float:right; color:#999999;"><b>SCORE</b> </p></h4>
		</td>
	</tr>
	<% total_score = 0 %>
	<% total_score_count = 0 %>
	<% @challenge.tasks.each do |aTask| %>
		<tr bgcolor=#ffffff>
			<td colspan="3"  id="mytable" >
				<% if aTask.is_complete.to_i == 0 %>
					<div id="task_list">
						<p style="float:left; margin-top:15px;">
							<%= aTask.score %> 
							<%= image_tag("icon_slash.png", :height => '10', :width => '5')%>
						</p>
						<p style="float:left;  margin-top:15px; margin-left:5px;">
							<%= aTask.name %>
						</p>
						<div class="showperscore_0">
							<% if @challenge.social_type.status == 1 %>
								<%= link_to "0", task_update_challenges_path(:id => @challenge, :name=>aTask.name, :score=>aTask.score, :score_by=>aTask.score_by) ,:class=>"task_update_popup", :style => "text-decoration: underline;" %>
							<% else %>
								<font style="color:black">0</font>
							<% end %>
						</div>
					</div>
				<% else %>	
					<div id="task_list">
						<% total_score_count +=1 %>
						<p style="float:left; margin-top:15px;"><%= aTask.score %> <%= image_tag("icon_slash.png", :height => '10', :width => '5')%></p><p style="float:left; margin-top:15px; margin-left:5px; text-decoration:line-through;"><%= aTask.name %></p>
					<div class="showperscore"><%= aTask.score %></div>
						<% total_score += aTask.score.to_i %>
					</div>
				<% end %>
				<hr/ width=400px>																																	
			</td>
		</tr>
	<% end %>
	<tr bgcolor=#f4f4f4>
		<td colspan="3"></td>
	</tr>
</table>
<table bgcolor=#f4f4f4>
	<tr bgcolor=#ffffff>
		<td colspan="2" >
			My Dojitsu score: <br>					  
			<b><h4><font color="green"><%= total_score_count %></b></font> <font color="black"><b>completed,</b></font>
			<b><font color="orange"><%= @challenge.tasks.count.to_i-total_score_count.to_i %></b></font> <font color="black"><b>remaining</b></font></h4>
		</td>
		<td width="13%">
			<div class="showperscore"><%= total_score %></div>						
		</td>
	</tr>
	<tr bgcolor=#ffffff>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr bgcolor=#f4f4f4>
		<td></td>
		<td colspan="2">
			<%= link_to "MARK AS COMPLETED",  challenge_comp_challenges_path(:id=>@challenge), :style => "text-decoration: none; color:#fff; float:right" ,:class => "challenge_mark_as_c"%>
		</td>
	</tr>
</table>

<div id="tooltip" class="tooltip">
</div>
<script>
	$('.task_update_popup').colorbox();
	$('.add_task_popup').colorbox();
	
// execute your scripts when the DOM is ready. this is a good habit
$(function() {
	// setup tooltip for a single DIV element
	$("#mytable a").tooltip({
		// each trashcan image works as a trigger
		tip: '#tooltip',

		// custom positioning
		position: 'center right',

		// move tooltip a little bit to the right
		offset: [0, 15],

		// there is no delay when the mouse is moved away from the trigger
		delay: 0
	});	
});
</script>