<% score = 1 %>
<table>
	<tr>
		<td>
		<b  id="total">Total: <%= @challenge.tasks.count %></b>
		</td>
	</tr>
</table>

<table bgcolor=#f4f4f4>
	<thead>
		<td width=50%>
			<b  id="total">Name</b>
		</td>
		<td width=6%>
			<b  id="total">Points<b id="sign">X</b></b>
		</td>
		<td width=6%>
			<b  id="total">Hours<b id="sign">=</b></b>
		</td>
		<td width=20%>
			<b  id="total">My Score</b>
		</td>
		<td width=18%>
			<b  id="total">Updated</b>
		</td>
	</thead>
</table>
	<% t = 1 %>
<table>
	<tbody>
		<% @challenge.tasks.each do |aTask| %>
			<tr id="row<%=t %>">
				<td  width=50%>
					<b  id="total"><%= aTask.name %></b>
				</td>
				<td width=6%>
					<b  id="<%=aTask.name %>"><%= aTask.score.to_i %></b>
				</td>
				<td width=6%>
				   <% if aTask.score_by == "Check box:1 for checking off the task"  %>
						<span id="check_zero">
								<% if aTask.total==0 %>
									<img src="/assets/check_zero.PNG" id="myImage<%= t %>"  onclick="update_task<%=t%>();" />
									<%#= image_tag ("check_zero.PNG"),:onclick=>"update_task#{t}();" %>
								<% else %>
									<img src="/assets/check_one.PNG" />
								<% end %>
						</span>
							
						<script>
								function update_task<%=t%>()
						{
						 var image = "/assets/check_one.PNG"
						 document.myImage<%= t %>.src=image	
						 if (image== "/assets/check_one.PNG")
						 {
							var my_score="<%= aTask.score.to_i %>";
							document.getElementById("my_score<%=t %>").innerHTML=my_score
						 }
						}
						</script>
					<% else %>
					   <input type="text" class="hours" value="<%=t%>"  id="hours" />
					<% end %>
				</td>
				<td width=20%   id="my_score<%=t%>" >
				 <% if aTask.score_by == "Check box:1 for checking off the task"  %>
					<%= aTask.total %>
				<%else %>
				   <b id="hours_myscore"></b>
				<% end %>
				</td>
				<td width=18% id="updated_at">
			       <% if aTask.score_by == "Check box:1 for checking off the task"  %>
				        <%if aTask.total == 0 %>
							<%= link_to image_tag("update.png"), update_tasks_list_challenges_path(:id=>aTask.id, :ch_id=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
				        <% else %>
							  <b ><%=  time_ago_in_words aTask.updated_at %></b>
						<% end%>
				<% else %>
						<%=image_tag("update.png",:id=>"#{t}",:onclick=>" update_data#{t}();")%>
						<%#= link_to " update", update_tasks_list_challenges_path(:id=>aTask.id, :ch_id=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
					<% end %>
				</td>
				<script>
				function update_data<%=t%>()
				{
					var elTableRow = document.getElementById("row<%= t%>");
					var elTableCells = elTableRow.getElementsByTagName("td");
					alert(elTableCells[0].textContent);
				}
				</script>
			
			</tr>
			<tr> 
				<td colspan="5"> 
					<hr/>
				</td>
			</tr> 
         <%t+=1 %>			
		<% end %>
	</tbody>
</table>
<style type="text/css">
#sign
{
color:orange;
}
.hours
{
width:30px;
}
</style>