<% total_score = 0 %>
<% score = 1 %>
<table>
	<tr>
		<td>
		<b  id="total">Total: <%= @challenge.tasks.count %></b>
		</td>
	</tr>
</table>

<table bgcolor=#f4f4f4>
	<thead>
		<td width=50%>
			<b  id="total">Name</b>
		</td>
		<td width=6%>
			<b  id="total">Points<b id="sign">x</b></b>
		</td>
		<td width=6%>
			<b  id="total">Hours<b id="sign">=</b></b>
		</td>
		<td width=20%>
			<b  id="total">My Score</b>
		</td>
		<td width=18%>
			<b  id="total">Updated</b>
		</td>
	</thead>
</table>
	<% t = 1 %>
	<% task =0 %>
    <% total_tasks = 0%>
<table>
	<tbody>
		<% @challenge.tasks.each do |aTask| %>
		<% if aTask.is_complete ==0 %>
			<tr id="row<%=t %>" class="tr_style">
		<% else %>
			<tr id="row<%=t %>" class="tr_style1">
		<% end %>
				<td  width=50% >
					<b  id="total"><%= aTask.name %></b>
				</td>
				<td width=6% class="td_content">
					<%= aTask.score.to_i %>
				</td>
				<td width=6% class="td_content">
				   <% if aTask.score_by == "Check box:1 for checking off the task"  %>
						<span id="check_zero">
								<% if aTask.total==0 %>
									<img src="/assets/check_zero.PNG" id="myImage<%= t %>"  onclick="update_task<%=t%>();" />
									<%#= image_tag ("check_zero.PNG"),:onclick=>"update_task#{t}();" %>
								<% else %>
									<img src="/assets/check_one.PNG" />
								<% end %>
						</span>
							
						<script>
								function update_task<%=t%>()
										{
										 var image = "/assets/check_one.PNG"
										 document.myImage<%= t %>.src=image	
											 if (image== "/assets/check_one.PNG")
											 {
												var my_check_score="<%= aTask.score.to_i %>";
												var elTableRow = document.getElementById("row<%= t%>");
												var elTableCells = elTableRow.getElementsByTagName("td");
												document.getElementById("hours_myscore<%=t%>").innerHTML=my_check_score
											 }
										}
						</script>
					<% else %>
					 <%if aTask.total == 0 %>
						<input type="text" id="hours<%=t%>" class="hour" onkeypress="return isNumberKey(event)" onmouseout="getvalue<%=t %>();" />
					 <%else%>
							<% sc_score =aTask.score.to_i %>
							 <%= aTask.total.to_i.div sc_score.to_i  rescue 0 %>
                     <% end %>					  
					   <script>
						   function isNumberKey(evt)
								  {
									 var charCode = (evt.which) ? evt.which : event.keyCode
									 if (charCode > 31 && (charCode < 48 || charCode > 57))
										return false;

									 return true;
								  }
					   </script>
					 
					   <script>
							   function getvalue<%=t %>()
									   {
									  
										   var elTableRow = document.getElementById("row<%= t%>");
											var elTableCells = elTableRow.getElementsByTagName("td");
											var points = elTableCells[1].textContent
											var self_report = document.getElementById("hours<%=t %>").value
											var sum = points*self_report
										
											document.getElementById("hours_myscore<%=t%>").innerHTML=sum
											 var total = elTableCells[3].textContent
											 var mytotal=String(total).replace('\t','');
										      var my_score= parseInt(mytotal);
											  
											 document.getElementById("sum<%=t%>").value=mytotal
											 document.getElementById("ch<%=t%>").value="<%= @challenge.id %>";
											 document.getElementById("task<%=t%>").value="<%= aTask.id %>"
									  }
					   </script>
					   <%#= raise @sum.inspect %>
				<% end %>
				</td>
				<td width=20% id="hours_myscore<%=t%>" class="td_content">
				 <% if aTask.score_by == "Check box:1 for checking off the task"  %>
				 <%if aTask.total == 0 %>
				<b id="hours_myscore<%=t%>"><b id="orange"><%= aTask.total %></b></b>
					<% else %>
					<b id="hours_myscore<%=t%>"><b id="green"><%= aTask.total %></b></b>
				<%end %>
				<%else %>
				 <%if aTask.total == 0 %>
				<b id="hours_myscore<%=t%>"><b id="orange"><%= aTask.total %></b></b>
					<% else %>
					<b id="hours_myscore<%=t%>"><b id="green"><%= aTask.total %></b></b>
				<%end %>
				<% end %>
				</td>
				<td width=18% id="updated_at" class="td_content">
			       <% if aTask.score_by == "Check box:1 for checking off the task"  %>
				        <%if aTask.total == 0 %>
							<%= link_to image_tag("update.png"), update_tasks_list_challenges_path(:id=>aTask.id, :challengeId=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
				        <% else %>
							  <b id="update_time"><%=  time_ago_in_words aTask.updated_at %></b>
						<% end%>
				<% else %>
				<%#= raise @challenge.id.inspect %>
				  <%= form_tag myscore_update_self_report_challenges_path, :method => :get do %>
					   <%=hidden_field_tag 'sum', @sum, :id=>"sum#{t}"%>
					   <%=hidden_field_tag 'challenge', @ch, :id=>"ch#{t}"%>
					    <%=hidden_field_tag 'task', @task, :id=>"task#{t}"%>
						
					   <%#= raise @sum.inspect %>
					    <%if aTask.total == 0 %>
							<%= submit_tag "" ,:class=>"my_submit_button"%>
						<% else %>
							  <b id="update_time"><%=  time_ago_in_words aTask.updated_at %></b>
						<% end%>					   
						<%#= raise @sum.inspect %>
					   <%#= link_to image_tag("update.png"), myscore_update_self_report_challenges_path(:id=>aTask.id, :challengeId=>@challenge.id, :mytotal=>@sum) %>
						<%#=image_tag("update.png",:id=>"#{t}",  :onclick =>"score_mytotal1#{t}();")%>
					<% end %>
						<%#=image_tag("update.png",:id=>"#{t}",  :onclick =>"score_mytotal();")%>
						<script>
                        </script>
						<%#= link_to " update", update_tasks_list_challenges_path(:id=>aTask.id, :ch_id=>@challenge.id, :score=>aTask.score.to_i,:total=>aTask.total) %>
					<% end %>
				</td>
				<script>
				function update_data<%=t%>()
				{
					var elTableRow = document.getElementById("row<%= t%>");
					var elTableCells = elTableRow.getElementsByTagName("td");
					alert(elTableCells[2].textContent);
				}
				</script>
			
			</tr>
			<% if aTask.is_complete ==0 %>
				<tr  id="hr_line"> 
			<%else%>
				<tr id="hr_line1"> 
			<% end %>
				<td colspan="5"> 

					<hr/>
				</td>
			</tr> 
         <%t+=1 %>		
       <% if aTask.is_complete == 1 %>	
			<% task+=1 %>
		<% end %>
	    <% total_tasks+=1%>
		
		<% total_score=total_score+ aTask.total.to_i %>
		
	<% end %>
		
</tbody>
	<tfoot id="tfoot">
		<td width=50%>
			<span  id="taskstatus"><%= task %> Tasks Completed <% tasks_remaining =  total_tasks - task %> <%= tasks_remaining %> more  to go</span>
		</td>
		<td width=6%>
			
		</td>
		<td width=6%>
			
		</td>
		<td width=20% class="td_content">
			<b  id="total_score" ><%=total_score %></b>
		<td width=18%>
			<b  id="total1"><%= button_to "" ,show_per_challenges_path,:class=>"my_submit_button1"%></b>
		</td>
	</tfoot>
	
</table>
<input type="button" value="Marak Complete" class="links_score_p" onclick="winnerList();"/>
<style type="text/css">
#sign
{
color:orange;
font-size:8;
font-weight:bold;
}
.hour
{
width:30px;
text-align: center;
}
#orange
{
color:orange;
}
#green
{
color:green;
}
#total_score
{
color:green;
font-weigth:bold;
}
.my_submit_button
{
background-image: url("/assets/update.png");
color:#fff;
height: 26px;
width: 89px;
}
.my_submit_button1
{
background-image: url("/assets/submit_button.PNG");
background-repeat:no-repeat;
color:#fff;
height: 26px;
width: 89px;
}
border: none;
}
.td_content
{
text-align:center;
color:#8C8C8C;
font-weight:bold;
}
#update_time
{
text-align:center;
color:#8C8C8C;
font-weight:bold;
}
tfoot  #tfoot{
    font-style: bold;
}
#taskstatus
{
font-weight:bold;
color:#8C8C8C;
}
.tr_style
{
background:#ffffff;
}
.tr_style1
{
background:#f1faec;
}
hr_line
{
background:#ffffff;
}
hr_line1
{
background:#f1faec;
}
</style>


<style>
  #winList{
    width: 100%;
    background-color: #F4F4F4;    
    font-size: 18px;
    color: #666666;
    font-weight:bold;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  #winListM{
    width: 95%;
    background-color: #FFFFFF;    
    font-size: 14px;
    color: #666666;
    font-weight:bold;
    padding: 10px 10px 10px 20px;
  }
  
  #winListMNo{
    background-color: #f4f4f4;
    border: 2px;
    border-style:solid;
    border-color: #D0D0D0;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
  }
  
  #winListMNoL{
    margin-top: 10px;
    background-color: #ffffff;
  }

  #addPersonalM{
    margin-top:10px;	
  }
	
  #addPersonalMm{
    margin-top:10px;
    hight:100px;	
  }

	.textareaMessage{
		border-width: 1px;
		border-style: solid;
		border-color: #999999;
		background-color:#F4F4F4;
		background-repeat: repeat-x;
		font-family: Arial;
		font-size: 15px;
		color: #333333;
		resize: none;
		height: 50px;	
		width:98%;
	}

	.linksMWinner {
		background: none repeat scroll 0 0 #f9a943;
		border-radius: 3px 3px 3px 3px;
		color: #FFFFFF;
		display: block;
		font-size: 12px;
		margin: 20px 0;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
		width: 90px;
		margin-right:10px;
		position: relative;
		text-align: center;
		top: -20px;
}

	#sentMessage{
		color: #666666;
}

</style>

<section style="display: none">
  <section id="winList">
    Publish the winners!
    <section id="winListM">
      Here's the list of winner(s) for <%= @challenge.title %>. On your approval, the winner(s) will be published to Facebook.
      <section id="winListMNo">
        No of winners:&nbsp;<%= @challenge.social_type.how_many_winners %><%= image_tag("icon_edit.png", :style=>"float:right;" )%>
        <table id="winListMNoL" width="100%">
          <thead>          
            <th>Rank</th>
            <th>Name</th>
            <th></th>
            <th></th>
            <th style="float:right">Score</th>
          </thead>
          <tbody>            
	    <% if @challenge.instance_of?ChildChallenge %>
		<% @fetChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
	    <% else %>
		 <% @fetChallenge = Challenge.where(:_id => params[:id]).first%>
	    <% end %>
            <% @flag = 1 %>
            <% @latestScore = 1 %>
              <% sl=0 %>
              <% if @fetChallenge.social_type.who_win == "Highest number of points" %>
                  <% @all =  Challenge.winner(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Participant completes all tasks" %>
                  <% @all =  Challenge.winnerCompleteAllTask(@fetChallenge.id) %>
              <% end %>
              <% if @fetChallenge.social_type.who_win == "Lowest number of points" %>
                  <% @temp =  Challenge.winner(@fetChallenge.id) %>
                  <% @all = @temp.sort {|a,b| a[1] <=> b[1]} %>
              <% end %>
							<% @sendM = [] %>
              <% @all.each do |aWinner,index| %>
									<% @sendM.push(aWinner) %>
                  <tr>
                      <td class="bordercolor">
                        <% if @flag == 1 %>
                          gold
                          <%= image_tag("trophy_gold.png") %>                          
                          <% @latestScore = index %>
                          <% @flag += 1 %>
                        <% elsif @flag == 2 %>
                          <% if @latestScore == index %>
                            gold
                            <%= image_tag("trophy_gold.png") %>                            
                          <% else %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>              
                        <% elsif @flag == 3 %>              
                          <% if @latestScore == index %>
                            silver
                            <%= image_tag("trophy_green.png") %>                            
                          <% else %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %> 
                        <% elsif @flag == 4 %>
                          <% if @latestScore == index %>
                            bronze
                            <%= image_tag("trophy_orange.png") %>                            
                          <% else %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 5 %>
                          <% if @latestScore == index %>
                            blue
                            <%= image_tag("trophy_blue.png") %>                            
                          <% else %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% elsif @flag == 6 %>
                          <% if @latestScore == index %>
                            red
                            <%= image_tag("trophy_purple.png") %>                            
                          <% else %>
                            platinum
                            <%= image_tag("trophy_platinum.png") %>                            
                            <% @latestScore = index %>
                            <% @flag += 1 %>
                          <% end %>                
                        <% else %>

                        <% end %>
                      </td>
                      <td class="bordercolor"><div align="center"><%=image_tag(FbGraph::User.new(aWinner).fetch.picture) %></div></td>
                      <td class="bordercolor">
			<div align="center" style="float:left"><%= FbGraph::User.new(aWinner).fetch.name %></div>
		      </td>               
                      <td class="bordercolor"><div align="center">
			<section id="taskpercentages">
			  <section id="taskpercentage<%= aWinner %>">				
			  </section>            
			</section></div>
		      </td>			                    
          <td class="bordercolor">			
										<% eachChallenge = Challenge.all(conditions: {:user_id => aWinner, :title=>@fetChallenge.title}).first %>
										<% total_score = 0 %>
											<% total_score_count = 0 %>
											<% total = 0 %>              
											<% eachChallenge.tasks.each do |aTask| %>
										<% total += aTask.score.to_i %>
										<% if (aTask.is_complete == 1 ) %>
											<% total_score+=Integer(aTask.score) %>  
											<% total_score_count += 1 %>                  				                       
										<% end %>
											<%end%>             
											<section style="width:200px">                
										<section class="task" id="taskprogress<%= aWinner %>"></section>
										
										<section id="sblackbox_personal">
												<section class="snotcompleted2">
											<span class="tasks_color"><%= (total-total_score) %></span> <font color="gray" weight="bold" size="4px">points (<%= eachChallenge.tasks.count.to_i-total_score_count.to_i %>&nbsp; tasks)</font>
												</section>                   
										</section>
										<br>
											</section>	
										<script type="text/javascript">
													$(function() {
												$("#taskprogress<%= aWinner %>").progressbar({ value: Math.round(((<%= total_score %>/<%= total %>)*100)) });					
												$("<p>").attr("id", "spercentage_personal").text($("#taskprogress<%= aWinner %>").progressbar("option", "value") + "%").appendTo("#taskpercentage<%= aWinner %>");		
							
													});
										</script>						     	 	             	
											</td>
                  </tr>
                  <% sl +=1 %>
                  <% if sl.to_i == @challenge.social_type.how_many_winners.to_i %>
                      <% break %>
                  <% end %>
              <% end %>		
          </tbody>
        </table>
      </section>
			<section id="addPersonalM">
				<%= link_to "Add personal message", "#", :id=>"sentMessage" %>		
				<%= image_tag("cancellbutton.PNG", :style=>"float:right") %>
				<%= image_tag("approve.png", :style=>"float:right; margin-right:10px;") %>
			</section>
			<section id="addPersonalMm" style="display:none">
				<%= form_tag mForWinner_challenges_path, :method=> :get do %>
						<%= hidden_field_tag "winnerList", @sendM %>	
						<%= hidden_field_tag "noOfWinner", @challenge.social_type.how_many_winners.to_i%>
						<%= hidden_field_tag "challengeId", @challenge.id %>	
						<%= text_area_tag 'message','', :class =>"textareaMessage" %>
						<%= link_to image_tag("cancellbutton.PNG", :style=>"float:right"), show_soc_challenges_path(:id => @challenge.id) %>
						<%#= image_tag("approve.png", :style=>"float:right; margin-right:10px;")  %>
						<%= submit_tag "APPROVE", :style => "width: 80px; float:right;", :class => "linksMWinner" %>
				<% end %>
			</section>	
				</section>
   
  </section>
</section>

<script type="text/javascript">

$(document).ready(function(){
	$("#sentMessage").click(function(){
		$("#addPersonalM").hide();
		$("#addPersonalMm").show();	
	});
				
});

function winnerList()
{  
  $(document).ready(function(){
            $.colorbox({
              opacity: 0.40,
              transition: 'none',
              speed: 200,
              width: 700,
              scrolling: true,
              inline:true, 
              href:"#winList",
              title: '',
              overlayClose: true,
              onComplete: function () {
                  // $(this).initFunctions(); // if you want to reinit another colorbox, you should pass the element as an argument to initFunctions rather than calling this as a blanket initializer for all colorboxes.
              }              
          });
    });
}
</script>

