<%= stylesheet_link_tag('colorbox')%>
<%= javascript_include_tag('jquery.table.addrow','jquery.colorbox-min')%>

<table width="100%">
	<%= form_for(@challenge, :url => update_task_soc_challenges_path(:id =>@challenge))  do |f| %>
	<tr  bgcolor="#f4f4f4">
		<div><b>Edit my tasks (<%= @challenge.tasks.count %>)</b></div>
		<div style="position:relative; margin-top:-40px; margin-bottom:-15px; float:left; left:400px; ">
			<%= link_to "CANCEL",  show_soc_challenges_path(:id => @challenge), :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel"%>
			<%#= button_to "DONE",  update_task_soc_challenges_path, :style => "text-decoration: none; color:#fff; float:right; margin-right:5px;" ,:class => "task_links_cancel"%>
			<%= f.submit "DONE",:onclick=>"confirm();", :id=>"taskedit",:style => "width: 100px; float:right; margin-right:10px;", :class => "links" %>	
			</div>
			<div id="task">
			</div>
			<script>
			</script>
			<script>
			function show_confirm()
			{
			alert("hi");
			
			</script>
							
				
	</tr>
	<tr bgcolor="#d7d7d7">
		<td width="4%"></td>
		<td width="38%">SORT SCORE THIS TASK BY</td>		
		<td width="3%"></td>
		<td width="18%">POINT(S)</td>
		<td width="3%"></td>
		<td width="29%">TASK(NAME)</td>
		<td width="5%"></td>
	</tr>
	<% total_task_count = 0 %>
	<% @challenge.tasks.count %>
	<% @challenge.tasks.each_with_index do |task, index| %>      
	<%= f.fields_for "tasks[]", task do |task_fields| %>
	<% total_task_count += 1 %>
	<tr bgcolor="#ffffff">
		<td><%= image_tag("select_icon.png", :height => '20', :width => '20')%></td>
		<td>
		<div class="styled-select">
		<%= task_fields.select :score_by, options_for_select([
			[task.score_by, task.score_by],
			["Check box:1 for checking off the task", "Check box:1 for checking off the task"],	 
			["Self-report number","Self-report number"]														
			]), :style => "width:280px; position:relative; float:left;"
		%>
		</div></td>		
		<td><%= image_tag("icon_multiply.png")%></td>
	
		<td><%= task_fields.text_field :score, :size=> "12" %></td>
		<td><%= image_tag("icon_slash.png")%></td>
		<td><%= task_fields.text_field :name, :id=> "na", :size=> "24" %></td>
		<td><%= image_tag("btn_delete_up.png", :height => '20', :width => '20', :class => "delRow")%></td>
	</tr>
	<tr>
		<td  colspan="7">
			<hr/ width="100%">		</td>
	</tr>
	<% end %>
	<% end %>
	<tr>
		<td  colspan="7">
			<hr/ width="100%">		</td>
	</tr>	
	<tr bgcolor="#ffffff">
		<td colspan="7">
			<b class="color999"><%= image_tag("icon_arrow_left.png")%>&nbsp;&nbsp;Do all tasks need to be complete before the challenge is marked complete?</b><br>
                        <%= f.radio_button :canCompleteBeforeTasks, true, :class => "chall_type" ,:checked =>"checked"%>
                        <font class="color999"><%= f.label "Yes" %></font>
                        <%= f.radio_button :canCompleteBeforeTasks, false, :class => "chall_type"%>
                        <font class="color999"><%= f.label "No" %></font>		
	
		<td>
			<div class="addbutton_soc">
				<%= link_to image_tag("btn_add_up.png", :style=>"position:relative;left:-13px; top:10px;"), add_task_link_challenges_path(:id => @challenge), :class => "soc_add_task_popup" %>
			</div>
		</td>
			
	</tr>
	<% end %>
</table>
<style>
   .addbutton_soc
   {
		position:relative;
		bottom:72px;
		float:right;
		right:29px;
   }

   </style>

<script type="text/javascript">
	$(document).ready(function(){
		
		$(".addRow").btnAddRow();
		$(".delRow").btnDelRow();
		
		$(".soc_add_task_popup").colorbox();
});
</script>

<style>
.delRow {
    left: 0;
    position: relative;
    top: 1px;
}
</style>