<%= render 'layouts/loggedinbody'%>
<h2>Create new task</h2>
<div id="nw_tsk_div" style="width:100%; border:1px solid black; background-color:grey;">
	</br>
	<div id="ne_tsk_div_form" style="width:99%; background-color:#fff; margin-left:4px;">
	   <div id="ne_tsk_div_form_al" style="width:99%; background-color:#fff; margin-left:4px;">
		<%= form_tag challenge_path(@tsk_id), :method => :get do %>
			<%= text_field_tag :margin , "#{@tsk_id}" ,:class => "textfield_effect_nw_tk" %>
			<%= text_area_tag :marginn , "#{@tsk_id}" ,:class => "textarea_nw_tk" %>
			<input type="button" value="Delete" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
			<input type="button" class="rm" value="Edit" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
			<input type="button" class="ad" value="Add" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
		    </br>
			<div id="new_tsk_field" style="display:none;">
		    	hiiiii
		    </div>
			<%= submit_tag "Save"%>
			<input type="button" value="Cancel">
		<% end %>
	   </div>	
	   <%= debug params.to_yaml%>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		//alert("jquery working");
		$('.ad').click(function(){
			alert("hey, U hit add")
			$("<div></div>").appendTo("div#new_tsk_field");
		});
		
		$('.rm').click(function(){
			alert("hey, U hit remove")
		})
	});
</script>