<%= form_tag add_task_fun_challenges_path, :method => :get do %>
<table width="150" border="1">
	<tr bgcolor="#ffffff">
		<td colspan="5" align="center">
			<h3 style="color:#f9a943">Add new Task</h3>
		<td>
	</tr>
	<tr>
		<td width="66" >
			<%= hidden_field_tag :challenge_id, @ch_id %>
			<div class="styled-select">
			<%= select_tag "score_by", options_for_select([
				["Choose", "0"],
				["Check box:1 for checking off the task", "Check box:1 for checking off the task"],	 
				["Self-report number","Self-report number"]														
				]), :style => "width:222px;"
			%>
			</div>	
		</td>
		<td width="17"><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
		<td width="100">
			<input type="text" name="score" class="textfield_effect" placeholder="Score........">
		</td>
		<td width="17"  valign="middle"><%= image_tag("icon_slash.png", :height => '20', :width => '5')%></td>
		<td width="100">
			<input type="text" name="name" class="textfield_effect" placeholder="taks name..........">
		</td>
	</tr>
	<tr bgcolor="#ffffff">
		<td colspan="5">
			<div align="right" style="color:#fff"><%= submit_tag "ADD TASK" , :style => "text-decoration: none; color:#fff; float:right; margin-right:5px;" ,:class => "task_links_cancel" %></div>
		<td>
	</tr>
</table>
<% end %>
