<%= javascript_include_tag('jquery.table.addrow')%>

<%= render 'layouts/loggedinbody'%>
<h2>Second form of challenge</h2>
<%= debug @all_data%>
<div id="nw_tsk_div" style="width:100%; border:1px solid black; background-color:grey;">
	</br>
	<div id="ne_tsk_div_form" style="width:99%; background-color:#fff; margin-left:4px;">
	   <div id="ne_tsk_div_form_al" style="width:99%; background-color:#fff; margin-left:4px;">
		<%= form_for (@challenge, :method => "post") do |f| %>
		  <p>
		  	<!--
			<%= f.text_field :title ,:class => "textfield_effect_nw_tk" %>
			-->
			<%= text_field_tag :title , "#{@title}" ,:class => "textfield_effect_nw_tk" %>
		  </p>
		  <p>	
		  	<!--
			<%= f.text_area :description, :class => "textarea_nw_tk" %></br></br>
			-->
			<%= text_field_tag :description , "#{@description}" ,:class => "textfield_effect_nw_tk" %>
			<%= f.hidden_field :title, @title %>
			<%= hidden_field_tag 'description', @description %>
			<%= hidden_field_tag 'dateStart', @dateStart %>
			<%= hidden_field_tag 'dateEnd', @dateEnd %>
			<%= hidden_field_tag 'discipline', @discipline %>
			<%= hidden_field_tag 'participants', @participants %> 
		  </p>	
			<!--
			<input type="button" value="Delete" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
			<input type="button" class="rm" value="Edit" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
			<input type="button" class="ad" value="Add" style="float:right; color: #000; border: 2px solid grey; padding: 2px 5px; margin-left:2px;">
		    -->
		  <p>	
    		<%= f.radio_button :cha_type, "soc", :class => "chall_type"%>
			<%= f.label "Social Challenge" %><br />			
			<div id="challenge_cha_type_soc_div" style="display:none;">
			<fieldset>
   			<legend><h4 style="color:#000000;"><i><div id="heading_style">Social Challenge</div></i></h4></legend>
			  <p>
			  	<%= f.label :scoring_method_soc, "Scoring Method"%></br>
				<%= f.select :scoring_method_soc, options_for_select([
    							["Select Categories", "0"],							
								["Add all milestones together","sco1"],
								["1st person to reach End Point","sco2"],	 
								["Highest milestone","sco3"],	
								["Lowest milestone","sco4"],	
								["Participant reaches all milestones","sco5"] 														
 							]), :style => "width:197px" 
 				%>
				</p>
				<p>
			  	<%= f.label :will_participating, "Scoring Method"%></br>
				<%= f.select :will_participating, options_for_select([
    							["Select Categories", "0"],							
								["Participating","Participating"],
								["Organizing","Organizing"] 														
 							]), :style => "width:197px" 
 				%>
				</p>
				<p>
			  	<%= f.label :no_of_winners, "Scoring Method"%></br>
				<%= f.select :no_of_winners, options_for_select([
								["Select Categories", "0"],
    							["1", "1"],							
								["3","3"],
								["5","5"],	 
								["All participants win","all"] 														
 							]), :style => "width:197px" 
 				%>
				</p>
			</fieldset>	
			</div>
		  </p>	
			<%= f.radio_button :cha_type, "per", :class => "chall_type" %>
			<%= f.label "Personal Challenge" %><br />
			<div id="challenge_cha_type_per_div" style="display:none;">
			<fieldset>
   			<legend><h4 style="color:#000000;"><i><div id="heading_style">Personal Challenge</div></i></h4></legend>
				<p>
			  	<%= f.label :scoring_method_per, "Scoring Method"%></br>
				<%= f.select :scoring_method_per, options_for_select([
    							["Select Categories", "0"],							
								["Add all milestones together","sco1"],
								["1st person to reach End Point","sco2"],	 
								["Highest milestone","sco3"],	
								["Lowest milestone","sco4"],	
								["Participant reaches all milestones","sco5"] 														
 							]), :style => "width:197px" 
 				%>
				</p>
			</fieldset>	
			</div>
		</p>	
			<%= f.submit "Save"%>
			<input type="button" value="Cancel">
		<% end %>
	   </div>	
	   <%= debug params.to_yaml%>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function(){
		//alert("jquery working");
		$('.chall_type').click(function(){
			if ($(this).attr("id") == "challenge_cha_type_per")
			{
				//alert($(this).attr("id"));
				$("#challenge_cha_type_per_div").show("fast");
				$("#challenge_cha_type_soc_div").hide("fast");
			}
			else
			{
				//alert($(this).attr("id"));
				$("#challenge_cha_type_soc_div").show("fast");
				$("#challenge_cha_type_per_div").hide("fast");
			}
			//$("<div></div>").appendTo("div#new_tsk_field");
		});
	});
</script>
