<%= stylesheet_link_tag('status_update')%>
<div class="maindiv">
	<span id="textstyle">Accepting  Challenge?</span>
	<div class="subdiv">
		 <table>
				<tr >
						<td  >  
								<%= link_to image_tag("accepted.png", :class =>"replacestatusacc"), update_status_challenges_path(:id => @challenge, :status=> 1) %>
						</td> 
						<td  >
								<%= link_to image_tag("declane.png"), update_status_challenges_path(:id => @challenge, :status=> -1)%>
						</td>
						<td >
								<%= image_tag("thinkbutton.png") %>
						</td>
				</tr>
		</table>
	</div>
</div>
<script>
 $('.replacestatusacc').click(function()
{
				var staus1 = '<%= status %>';
				alert(staus1);
				
});
</script>