<%= form_for @challenge do |f| %>
<p><%= f.label :title %><br/><%= text_field_tag 'challenge[title]', @challenge.title, :placeholder => 'enter title...' %></p>
<p><%= f.label :description %><br/><%= text_area_tag 'challenge[description]', @challenge.description, :placeholder => 'enter description...' %></p>


<%= f.submit %>
<% end %>
