<%= stylesheet_link_tag('colorbox')%>
<%= javascript_include_tag('jquery.colorbox-min')%>

<h3>All Challenges</h3>
	<% if @challenges.blank? %>
		<p>no challenges at all.</p>
	<% else %>
	<div id="ch_index_list" style="width:100%; float:left;">
		<% @challenges.each do |c| %>
			<%= link_to c.title, {:action => 'show', :id => c.id } %> <%= link_to "Add Task", new_challenge_path, :class=>"add_task_popup"  %><br>
		<% end %>	
	</br>
	</div>
<% end %>
<br/>
<p><%= link_to "Create New Challenge", new_challenge_url %></p>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		//popup for task
		//alert("Date picker is working");
		$('.add_task_popup').colorbox();	
	});
</script>
