<%= stylesheet_link_tag('simple-tabs_new.css','jquery-ui.css','jquery.cluetip.css','challenges.css')%>
<%= javascript_include_tag('simple-tabs','jquery.table.addrow.js','jquery.cluetip.js','challenge_new')%>

<%= render 'layouts/loggedinbody'%>

<div class="challengeSubNav">

   	<%= button_to "", new_challenge_url, :class => "new_challenge_button_new1", :method => :get %>
    
	<%= link_to "MY CHALLENGES >> ",challenges_url , :class => "challenge_link1" %>
	
	<%= link_to "CREATE NEW ",new_challenge_url , :class => "challenge_link1" %> 

</div>

<div class="pageContainer">
	<span class="pageTitle">CREATE NEW</span>

	<%= form_for :challenge, :url => {:controller=> "challenges",:action => "create"},:html=>{:multipart => true, :name => "challenge_form", :onSubmit => "return validate_form_fields(this);"} do |f| -%>
	<table width="100%" border="0" class ="challengecre">
		<tr >
			<td colspan="4">
			<%= f.text_field :title, :class => "textfield_effect_nw_tk_title", :placeholder=>"Enter challenge title here" , :required => "required", :maxlength => "30"  %><div id="title"></div>
			</td>	
		</tr>
	
		<tr >
			<td colspan="4">
				<hr id="all_hr">
			</td>
		</tr>
		<tr>
			<td valign="top" class="color999"><%= f.label :description, "DESCRIPTION" %></td>
			<td  colspan="3"><%= f.text_area :description, :class => "textarea_nw_tk", :id => "on_focus_textarea", :placeholder=>"Enter challenge description here" %></td>
		</tr>
		<tr>
				<td colspan="4">
					<hr id="all_hr">
				</td>
		</tr>
		<tr>
				<td width="13%"><b class="color999">START POINT</b></td>
				<td width="50px;"> 
				    <div class="styled-select">
					<%= select_tag "start_point_type", "<option value=''>Choose</option><option value='startPointDate'>Date</option><option value='startPointNumber'>Number</option>".html_safe , :required => "required" %>
					</div>
				</td>  
				<td colspan="2">					
					<div class="startPointDate">
					</div>
					<div class="startPointNumber">
					</div>				
				</td>  
		</tr>
		<tr>
				<td colspan="4">
					<hr id="all_hr">
				</td>
		</tr>
		<tr>  
				<td><b class="color999">END POINT</b></td>
				<td>  
					<div class="styled-select">
					<%= select_tag "end_point_type", "<option value=''>Choose</option><option value='endPointDate'>Date</option><option value='endPointNumber'>Number</option>".html_safe, :required => "required" %>
					</div>
				</td>  
				<td colspan="2" class="endpointdatenumber">					
					<div class="endPointDate">
					</div>
					<div class="endPointNumber">
					</div>				
				</td>
		</tr>
		<tr>
				<td colspan="4">
					<hr id="all_hr">
				</td>
		</tr>
		<tr>
				<td valign="top">
					<b class="color999"> CREATE TASK</b> 
					<span class="moreInfoTip color999" rel="#moreCreateTaskId" title="The score for each task will be added up to determin the winner(s).">
						<%= image_tag("btn_questionmark_up.png")%>
					</span>
				
				</td>
				<td colspan="3">
					<table border="1">
						<tr>
							<th colspan="2" class="color999" valign="bottom">Score this task by</th>
							<th colspan="2" class="color999" valign="bottom">Point(s)</th>
							<th colspan="2" class="color999" valign="bottom">Task(name)
							</th>
						</tr>

						<% @challenge.tasks.each_with_index do |task, index| %>      
						<%= f.fields_for "task_attributes[]", task do |task_fields| %>						
						<tr>
							<td width="25%" class="taskSelection">
							<div class="styled-select">
								<%= task_fields.select :score_by, options_for_select([
								["Choose", ""],
								["Check box:1 for checking off the task", "Check box:1 for checking off the task"],	 
								["Self-report number","Self-report number"]														
								]), :class => "styleselect", :required => "required"%>	
							</td>
							</div>
							<td align="center" class="taskIcon"><%= image_tag("icon_multiply.png")%></td>
							<td align="center">     
								<%= task_fields.text_field :score, :class => "textfield_effect_nw_tk_add", :size=>"10px",:required => "required", :placeholder=>"Enter task point(s)" %>
							</td>
							<td align="center" class="taskIcon"><%= image_tag("icon_slash.png")%></td>
							<td align="center">     
								<%= task_fields.text_field :name, :class => "textfield_effect_nw_tk", :required => "required",  :placeholder=>"Enter task name here"%>
							</td>				
							<td>
								<%= image_tag("btn_delete_up.png" ,:class => "delRow") %>			
							</td>
						</tr>
						<tr>
							<td colspan="5"><hr id="all_hr1"></td>									
							<td align="right">
							<%= image_tag("btn_add_up.png", :class => "addRow")%>
								
							</td>
						</tr>
							
						<% end %> 
						<% end %>
						<tr>
							<td colspan="6">
								<b class="color999"><%= image_tag("icon_arrow_left.png")%>&nbsp;&nbsp;Do all tasks need to be complete before the challenge is marked complete?</b><br>
								<span class="spacing2"><%= f.radio_button :canCompleteBeforeTasks, "1", :class => "chall_type" ,:checked =>"checked"%>
								<font class="color999"><%= f.label "Yes" %></span></font><span class="spacing"></span>
								<%= f.radio_button :canCompleteBeforeTasks, "0", :class => "chall_type"%>
								<font class="color999"><%= f.label "No" %></font>							   
							</td>
						</tr>    
					</tr> 
					</table>
				</td>
				</tr>
				<tr>
					<td colspan="4">
						<hr id="all_hr">
					</td>
				</tr>
				<tr>
					<td valign="top"><b class="color999">PRIVACY</b></td>
					<td colspan="3">
					<ul class="tabs">
    					<li><a href="#tab1" id="soc">Social</a></li>
    					<li><a href="#tab2" id="per">Personal</a></li>
					</ul>

					<div class="tab_container">
    					<div id="tab1" class="tab_content">
    						
		<table width="100%" border="0">
		<tr>
			<td width="25%"><b class="color999">Who wins</b></td>
			<td>
				<div class="styled-select1">
				<%= select_tag :soc_who_win, options_for_select([
					["Choose", ""],							
					["Highest number of points","Highest number of points"],
					["Lowest number of points","Lowest number of points"],	 
					["1st person to reach End Point","1st person to reach End Point"],	
					["Participant completes all tasks","Participant completes all tasks"]			 														
					]), :id => "soc_wn", :class => "selectagwidth"
					%>		
				</div>	
				<div id="select_challenge_div"></div>
			</td>
			</tr>
			<tr>
				<td><b class="color999">How many winners</b></td>
				<td>
					<div class="styled-select1">
					<%= select_tag :soc_how_many_winner, options_for_select([
						["Choose", ""],
						["1", "1"],							
						["3","3"],
						["5","5"],	 
						["All participants win","all"] 														
						]), :id => "soc_hm", :class => "selectagwidth"
						%>
					</div>		
						<div id="soc_how_many_winner_div"></div>	
					</td>
				</tr>

				<tr>
					<td><b class="color999">Participants</b></td>
					<td>
                            
										
						<%= render :partial => 'invitations', :locals => {:form => f} %>
					</td>
				</tr>
	</table>
    					</div>
    					<div id="tab2" class="tab_content">
       						<table width="100%" border="0">
  								<tr>
    								<td  width="20%"><b class="color999">Who wins</b></td>
									<td>
										<div class="styled-select1">
										<%= select_tag :per_who_win, options_for_select([
    										["Choose", ""],							
											["Add all points together","Add all points together"],
											["Reach all milestones","Reach all milestones"]
 											]), :id => "per_wn", :class => "selectagwidth" 
 										%>
										</div>
									</td>
  								</tr>
							</table>  
    					</div>
					</div>	
		
	
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<hr id="all_hr">
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<%= link_to "CANCEL", challenges_path, :class => "links_cancel1"%>
						<%= f.submit "DONE" ,  :class => "linksnew" %>
					
					</td>
				</tr> 
			</table> 
		</td>	
	</tr>						
	<% end %>	
</div>
<div id="moreCreateTaskId">
	<table height="150">						
		<tr>
			<td width="43%"><p style="color:#f9a943; font-size:12px; margin-top:15px;"><b>check box:</b></p></td>
			<td width="17%"><input type="text" value="1(Check of the task)" size="18" /></td>
			<td width="3%"><%= image_tag("icon_multiply.png", :height => '15', :width => '11')%></td>
			<td width="13%"><input type="text" value="point(s) per task" size="14" /></td>
			<td width="3%"><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
			<td width="21%"><input type="text" value="Score" size="5" /></td>
		</tr>
		<tr>
			<td width="43%" height="36"><p style="color:#f9a943; font-size:12px; margin-top:15px;"><b>Self-reported Number:</b></p></td>
			<td width="17%"><input type="text" value="Number" size="18" /></td>
			<td><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
			<td width="13%"><input type="text" value="point(s) per task" size="14" /></td>
			<td><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
			<td width="21%"><input type="text" value="Score" size="5" /></td>
		</tr>
		<tr>	
			<td height="15"></td>
			<td colspan="5">e.g. reporting 10 miles for "run treadmill (2 points)" task scores 20 points</td>
		</tr>
	</table>			
</div>

			
			

			
		
