
<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox')%>
<%= javascript_include_tag('simple-tabs','jquery.table.addrow','jquery.datePicker','date','jquery.colorbox-min','jquery.tools.min')%>

<%= render 'layouts/loggedinbody'%>
<table bgcolor="#F0F0F0" width="100%" height="6px">
	<tr>
		<td width="40px"></td>
		<td width="10%">
			<%= button_to "NEW", new_challenge_url ,  :class => "new_button", :method => :get %>
		</td> 
		<td align="left">MY CHALLENGES <b>>></b> CREATE NEW</td>
	</tr>
</table>

<div id="ch_main_div">
	<p style="font-size:20px; color:#f9a943;margin-left:10px;margin-top:10px; font-weight:bold;">CREATE NEW</p>
	<%= form_for @challenge, :validate => true do |f| %>
		<table width="100%" border="0" style="margin-top:0px;">
  			<tr>
    			<td colspan="4"><p align="left"><%= f.text_field :title, :class => "textfield_effect_nw_tk_title", :id => "on_focus_textfield" %></p></td>	
			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;">
				</td>
			</tr>
			<tr>
    			<td width="15%"><%= f.label :description, "DESCRIPTION" %></td>
    			<td colspan="3"><%= f.text_area :description, :class => "textarea_nw_tk", :id => "on_focus_textarea" %></td>
  			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:1px;">
				</td>
			</tr>
			<%= f.fields_for :point_types do |pt|%>
			<tr>
    			<td><%= pt.label :dateStart, "START POINT" %></td>
    			<td width="18%">
					<%= select_tag "ch_st_date", options_for_select([
						["Choose", "0"],
						["Date","#ch_st_dat"],	 
						["Number","#ch_st_num"]														
						]), :style => "width:197px" 
					%>				
				</td>
				<!--
				<td width="30%">
					<%= pt.text_field :dateStart, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
				</td>
				-->
				<td width="60%">	
					
					<div id="ch_st_dat" style="display:none;">
						<%= pt.text_field :st_value1, :class => "textfield_effect  date-pick" %></br>
					</div>
					<div id="ch_st_num" style="display:none;">
						<%= pt.text_field :st_value, :class => "textfield_effect" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<%= pt.text_field :st_label, :class => "textfield_effect" %>
					</div>
							
			   </td>
  			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:1px;">
				</td>
			</tr>
			<tr>
    			<td><%= pt.label :dateEnd, "END POINT" %></td>
    			<td>
					<%= select_tag "ch_ed_date", options_for_select([
						["Choose", "0"],							
						["Date","#ch_ed_dat"],	 
						["Number","#ch_ed_num"]														
						]), :style => "width:197px" 
					%>				
				</td>
				<!--
				<td>
					<%= pt.text_field :dateEnd, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
				</td>
				-->
				<td>	
					
					<div id="ch_ed_dat" style="display:none;">
						<%= pt.text_field :ed_value1, :class => "textfield_effect  date-pick" %></br>
					</div>
					<div id="ch_ed_num" style="display:none;">
						<%= pt.text_field :ed_value, :class => "textfield_effect" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<%= pt.text_field :ed_label, :class => "textfield_effect" %>
					</div>
					
				</td>
  			</tr>
			<% end %>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:1px;">
				</td>
			</tr>
			<% fs = 0%>
			<tr>
  				<td>
  					<b id="download_now">CREATE TASK 
					<!--
						<%= link_to image_tag("btn_questionmark_up.png"), test_challenges_path,:class=>"reset_password_popup"%>
    				-->
					<%= image_tag("btn_questionmark_up.png")%></b>
					<div class="tooltip">
					<table width="257" style="margin:10">
						<tr>	
    						<td colspan="4"><h2>The score for each task will be added up to determin the winner(s).</h2></td>
  						</tr>
						<tr>
	  					  <td width="20%"><p style="color:#f9a943; font-size:15px;"><b>check box:</b></p></td>
    						<td width="14%"><input type="text" value="1(Check of the task)" size="18" /></td>
							<td><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
							<td width="17%"><input type="text" value="point(s) per task" size="14" /></td>
    						<td><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
							<td width="49%"><input type="text" value="Score" size="5" /></td>
  						</tr>
						<tr>
	  					  <td width="20%"><p style="color:#f9a943; font-size:15px;"><b>Self-reported Number:</b></p></td>
    						<td width="14%"><input type="text" value="Number" size="18" /></td>
							<td><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
							<td width="17%"><input type="text" value="point(s) per task" size="14" /></td>
    						<td><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
							<td width="49%"><input type="text" value="Score" size="5" /></td>
  						</tr>
						<tr>	
  							<td></td>
    						<td colspan="3">e.g. reporting 10 miles for "run treadmill (2 points)" task scores 20 points</td>
  						</tr>		
					</table>
					</div>
				</td>
				<td colspan="3">
    				<div id="new_tsk_field">		
						<table border="1" class="atable">
							<tr>
								<th colspan="2">Score this task by</th>
								<th colspan="2">Point(s)</th>
								<th colspan="2">Task(name)
								<%= image_tag("btn_add_up.png", :class => "alternativeRow", :style => "float:right; margin-right:20px;") %>
							</th>
						    </tr>
							<tr>
								<td>
									<%= select_tag "challenge[ch_task_type][]", options_for_select([
										["Choose", "0"],
										["Check box:1 for checking off the task", "1"],	 
										["Self-report number","2"]														
										]), :style => "width:197px;" 
									%>
								</td>
								<td><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
								<td>
									<%= text_field_tag "challenge[task_point][]", nil , :class => "textfield_effect_nw_tk_add", :id => "on_focus_textfield" %>								
								</td>
								<td><%= image_tag("icon_slash.png", :height => '20', :width => '5')%></td>
								<td>
									<%= text_field_tag "challenge[task_description][]", nil ,:class => "textfield_effect_nw_tk", :id => "on_focus_textfield" %>
									<%= image_tag("btn_delete_up.png", :class => "delRow", :style => "float:right; margin-top:12px;") %>
								</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td colspan="6">
									<b><%= image_tag("icon_arrow_left.png")%>Do all tasks need to be complete before the challenge is marked complete?</b><br>
									<%= f.radio_button :task_comp, "soc", :class => "chall_type"%>
									<%= f.label "Yes" %>
									<%= f.radio_button :task_comp, "soc", :class => "chall_type"%>
									<%= f.label "No" %>								</td>
							</tr>
						</table>
					</div>
    			</td>
  			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;">
				</td>
			</tr>
			<tr>
  				<td><b>PRIVACY</b></td>
    			<td colspan="3">
    				<ul class="tabs">
    					<li><a href="#tab1">Social</a></li>
    					<li><a href="#tab2">Personal</a></li>
					</ul>

					<div class="tab_container">
    					<div id="tab1" class="tab_content">
    						<table width="100%" border="0">
  								<tr>
    								<td><%= f.label :soc_who_win, "Who wins?"%></td>
									<td>
										<%= f.select :soc_who_win, options_for_select([
	    									["Choose", "0"],							
											["Add all milestones together","sco1"],
											["1st person to reach End Point","sco2"],	 
											["Highest milestone","sco3"],	
											["Lowest milestone","sco4"],	
											["Participant reaches all milestones","sco5"] 														
 											]), :style => "width:197px" 
 										%>		
									</td>
  								</tr>
  								<tr>
    								<td><%= f.label :soc_how_many_winner, "How many winners?"%></td>
									<td>
										<%= f.select :soc_how_many_winner, options_for_select([
											["Select Categories", "0"],
    										["1", "1"],							
											["3","3"],
											["5","5"],	 
											["All participants win","all"] 														
 											]), :style => "width:197px" 
 										%>		
									</td>
  								</tr>
  								<tr>
    								<td><%= f.label :soc_will_participating, "Participants"%></td>
									<td><%= link_to "INVITE PARTICIPANTS" ,challenges_path,:class => "links_invite_p", :style => "text-decoration: none; color:#fff;"%></td>
  								</tr>
								<!--
  								<tr>
  									<td></td>
    								<td><%= f.check_box :soc_add_me%><b>Add myself as one of the participants</b></td>
  								</tr>
								-->
							</table>
    					</div>
    					<div id="tab2" class="tab_content">
       						<table width="100%" border="0">
  								<tr>
    								<td><%= f.label :per_who_win, "Who wins?"%></td>
									<td>
										<%= f.select :per_who_win, options_for_select([
    										["Select Categories", "0"],							
											["Add all milestones together","sco1"],
											["1st person to reach End Point","sco2"],	 
											["Highest milestone","sco3"],	
											["Lowest milestone","sco4"],	
											["Participant reaches all milestones","sco5"] 														
 											]), :style => "width:197px" 
 										%>
									</td>
  								</tr>
							</table>  
    					</div>
					</div>
    			</td>
  			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;">
				</td>
			</tr>
			<!--
			<tr>
    			<td colspan="4"><b><%= f.check_box :save_as_tempalate%>Save this challenge as template in my profile</b></td>
  			</tr>
			-->		
  			<tr>
  				<td></td>
    			<td></td>
    			<td colspan="2">
    				<%= f.submit "DONE", :style => "width: 100px; float:right", :class => "links" %>
    				<%= f.submit "CANCEL", :style => "width: 100px; float:right;", :class => "links"%>
				</td>
  			</tr> 
		</table>
	<% end %>	
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	
	
	// Add row for new task
	//alert("hiiiiiiiii");
	$(".alternativeRow").btnAddRow({oddRowCSS:"oddRow",evenRowCSS:"evenRow"});
	$(".delRow").btnDelRow();
	
	// Date Picker scripting code
	//alert("Date picker is working");
	$('.date-pick').datePicker({startDate:'01/01/1996'});

    $('#ch_st_date').change(function() {
		console.debug('changed...' + $(this));

	});
	
	$('#ch_ed_date').change(function() {
		console.debug('changed...' + $(this));

	});
	
	$('.chall_type').click(function(){
		if ($(this).attr("id") == "challenge_cha_type_per")
		{
			//alert($(this).attr("id"));
			$("#challenge_cha_type_per_div").show("fast");
			$("#challenge_cha_type_soc_div").hide("fast");
		}
		else
		{
			//alert($(this).attr("id"));
			$("#challenge_cha_type_soc_div").show("fast");
			$("#challenge_cha_type_per_div").hide("fast");
		}
		//$("<div></div>").appendTo("div#new_tsk_field");
	});
	
	$("#download_now").tooltip({ 
		offset: [10, 2],
		effect: 'slide',
		position: "top right"
	});
	
	
	$('#ch_st_date').change(function() {
		var sel_val = $(this).val();
		//alert("hiiiiiii")
		//alert("new"+sel_val);
		//$('#ch_st_date').hide();
		if ($(this).val() == "#ch_st_dat")
		{
			//alert("date");
			$(sel_val).show();
			$('#ch_st_num').hide();	
		}
		else
		{
			//alert("number");
			$(sel_val).show();
			$('#ch_st_dat').hide();
		}

	});
	
	$('#ch_ed_date').change(function() {
		var sel_val = $(this).val();
		//alert("hiiiiiii")
		//alert("new"+sel_val);
		//$('#ch_st_date').hide();
		if ($(this).val() == "#ch_ed_dat")
		{
			//alert("date");
			$(sel_val).show();
			$('#ch_ed_num').hide();	
		}
		else
		{
			//alert("number");
			$(sel_val).show();
			$('#ch_ed_dat').hide();
		}

	});
	
	//pop up for task creation hint
	//alert("hiiiii")
	$('.reset_password_popup').colorbox();

});

</script>