<%= stylesheet_link_tag('simple-tabs.css','jquery-ui.css','jquery.cluetip.css','challenges.css')%>
<%= javascript_include_tag('simple-tabs','jquery.table.addrow.js','jquery.cluetip.js','challenge_new')%>
<%= render 'layouts/loggedinbody'%>

<div class="pageContainer">
	<span class="pageTitle">CREATE NEW</span>

	<%= form_for :challenge, :url => {:controller=> "challenges",:action => "create"},:html=>{:multipart => true, :name => "challenge_form", :onSubmit => "return validate_form_fields(this);"} do |f| -%>
	<table width="100%" border="0" style="margin-top:0px;">
		<tr>
			<td colspan="4">
				<p align="left"><%= f.text_field :title, :class => "textfield_effect_nw_tk_title", :placeholder=>"enter challenge title here" , :required => "required"  %><div id="title"></div></p>
			</td>	
		</tr>
	
		
		<tr>
			<td colspan="4">
				<hr style="color:#0066CC;width:98%; height:2px;">
			</td>
		</tr>
		<tr>
			<td valign="top" class="color999"><%= f.label :description, "DESCRIPTION" %></td>
			<td colspan="3"><%= f.text_area :description, :class => "textarea_nw_tk", :id => "on_focus_textarea", :placeholder=>"enter challenge description here" %><div %></td>
			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;;">
				</td>
			</tr>
			<tr>
				<td width="13%"><b class="color999">START POINT</b></td>
				<td width="50px;"> 
					<%= select_tag "start_point_type", "<option value=''>Choose</option><option value='startPointDate'>Date</option><option value='startPointNumber'>Number</option>".html_safe , :required => "required" %>
				</td>  
				<td colspan="2">					
					<div class="startPointDate">
					</div>
					<div class="startPointNumber">
					</div>				
				</td>  
			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;">
				</td>
			</tr>
			<tr>  
				<td><b class="color999">END POINT</b></td>
				<td>  
					<%= select_tag "end_point_type", "<option value=''>Choose</option><option value='endPointDate'>Date</option><option value='endPointNumber'>Number</option>".html_safe, :required => "required" %>
				</td>  
				<td colspan="2" style="float: left;">					
					<div class="endPointDate">
					</div>
					<div class="endPointNumber">
					</div>				
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<hr style="color:#0066CC;width:98%; height:2px;">
				</td>
			</tr>
			<tr>
				<td valign="top">
					<b class="color999"> CREATE TASK</b> 
					<span class="moreInfoTip color999" rel="#moreCreateTaskId" title="The score for each task will be added up to determin the winner(s).">
						<%= image_tag("btn_questionmark_up.png")%>
					</span>
				</td>
				<td colspan="3">
					<table border="1">
						<tr>
							<th colspan="2" class="color999">Score this task by</th>
							<th colspan="2" class="color999">Point(s)</th>
							<th colspan="2" class="color999">Task(name)
							</th>
						</tr>

						<% @challenge.tasks.each_with_index do |task, index| %>      
						<%= f.fields_for "task_attributes[]", task do |task_fields| %>						
						<tr>
							<td width="30%" class="taskSelection">
								<%= task_fields.select :score_by, options_for_select([
								["Choose", ""],
								["Check box:1 for checking off the task", "Check box:1 for checking off the task"],	 
								["Self-report number","Self-report number"]														
								])%>	
							</td>
							<td align="center" class="taskIcon"><%= image_tag("icon_multiply.png")%></td>
							<td align="center">     
								<%= task_fields.text_field :score, :class => "textfield_effect_nw_tk_add", :size=>"10px", :placeholder=>"enter task point(s)" %>
							</td>
							<td align="center" class="taskIcon"><%= image_tag("icon_slash.png")%></td>
							<td align="center">     
								<%= task_fields.text_field :name, :class => "textfield_effect_nw_tk", :required => "required",  :placeholder=>"enter task name here"%>
							</td>				
							<td>
								<%= image_tag("btn_delete_up.png" ,:class => "delRow") %>			
							</td>
						</tr>
						<tr>
							<td colspan="5"></td>									
							<td align="right">
							<%= image_tag("btn_add_up.png", :class => "addRow")%>
								<style>
								  .addRow
								  {
									 position:relative;
									 top:-41px;
								  }
								</style>
							</td>
						</tr>
							<script type="text/javascript">
							(function($){
								$(document).ready(function(){
									$(".addRow").btnAddRow();
									$(".delRow").btnDelRow();
							});
							})(jQuery);
							</script>	
						<% end %> 
						<% end %>
						<tr>
							<td colspan="6">
								<b class="color999"><%= image_tag("icon_arrow_left.png")%>&nbsp;&nbsp;Do all tasks need to be complete before the challenge is marked complete?</b><br>
								<%= f.radio_button :task_comp, "soc", :class => "chall_type" ,:checked =>"checked"%>
								<font class="color999"><%= f.label "Yes" %></font>
								<%= f.radio_button :task_comp, "soc", :class => "chall_type"%>
								<font class="color999"><%= f.label "No" %></font>							   
							</td>
						</tr>    
					</tr> 
					</table>
				</td>
				</tr>
				<tr>
					<td colspan="4">
						<hr style="color:#0066CC;width:98%; height:2px;">
					</td>
				</tr>
				<tr>
					<td valign="top"><b class="color999">PRIVACY</b></td>
					<td colspan="3">
					<ul class="tabs">
    					<li><a href="#tab1" id="soc">Social</a></li>
    					<li><a href="#tab2" id="per">Personal</a></li>
					</ul>

					<div class="tab_container">
    					<div id="tab1" class="tab_content">
    						
		<table width="100%" border="0">
		<tr>
			<td><b class="color999">Who wins</b></td>
			<td>
				<%= select_tag :soc_who_win, options_for_select([
					["Choose", ""],							
					["Highest number of points","Highest number of points"],
					["Lowest number of points","Lowest number of points"],	 
					["1st person to reach End Point","1st person to reach End Point"],	
					["Participant completes all tasks","Participant completes all tasks"]			 														
					]), :id => "soc_wn", :style => "width:197px"
					%>		
			</td>
			</tr>
			<tr>
				<td><b class="color999">How many winners</b></td>
				<td>
					<%= select_tag :soc_how_many_winner, options_for_select([
						["Choose", ""],
						["1", "1"],							
						["3","3"],
						["5","5"],	 
						["All participants win","all"] 														
						]), :id => "soc_hm", :style => "width:197px"
						%>	
						<div id="soc_how_many_winner_div"></div>	
					</td>
				</tr>

				<tr>
					<td><b class="color999">Participants</b></td>
					<td>
                            
						<%= hidden_field_tag "myvar", 0%>					
						<%= render :partial => 'invitations', :locals => {:form => f} %>
					</td>
				</tr>
	</table>
    					</div>
    					<div id="tab2" class="tab_content">
       						<table width="100%" border="0">
  								<tr>
    								<td><b style="color:#999999;">Who wins</b></td>
									<td>
										<%= select_tag :per_who_win, options_for_select([
    										["Choose", ""],							
											["Add all points together","Add all points together"],
											["Reach all milestones","Reach all milestones"]
 											]), :id => "per_wn", :style => "width:197px" 
 										%>
									</td>
  								</tr>
							</table>  
    					</div>
					</div>	
		
	
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<hr style="color:#0066CC;width:98%; height:2px;">
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<%= link_to "CANCEL", challenges_path, :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel"%>
						<%= f.submit "DONE", :style => "width: 100px; float:right; margin-right:10px;", :class => "links" %>
					</td>
				</tr> 
			</table> 
		</td>	
	</tr>						
	<% end %>	
</div>
<div id="moreCreateTaskId">
	<table height="150">						
		<tr>
			<td width="43%"><p style="color:#f9a943; font-size:12px; margin-top:15px;"><b>check box:</b></p></td>
			<td width="17%"><input type="text" value="1(Check of the task)" size="18" /></td>
			<td width="3%"><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
			<td width="13%"><input type="text" value="point(s) per task" size="14" /></td>
			<td width="3%"><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
			<td width="21%"><input type="text" value="Score" size="5" /></td>
		</tr>
		<tr>
			<td width="43%" height="36"><p style="color:#f9a943; font-size:12px; margin-top:15px;"><b>Self-reported Number:</b></p></td>
			<td width="17%"><input type="text" value="Number" size="18" /></td>
			<td><%= image_tag("icon_multiply.png", :height => '15', :width => '10')%></td>
			<td width="13%"><input type="text" value="point(s) per task" size="14" /></td>
			<td><%= image_tag("icon_equal.png", :height => '10', :width => '10')%></td>
			<td width="21%"><input type="text" value="Score" size="5" /></td>
		</tr>
		<tr>	
			<td height="51"></td>
			<td colspan="5">e.g. reporting 10 miles for "run treadmill (2 points)" task scores 20 points</td>
		</tr>
	</table>			
</div>


			
			
			

			
		
