<%= stylesheet_link_tag('simple-tabs','jquery-ui','ui.progressbar','ui.theme', 'main')%>
<%= javascript_include_tag('simple-tabs','ui.progressbar.js','soc-per','messages','nonloginsocialpage')%>

<section id="ch_main_section"> 
    <section id="ch_main_section1"> 
        <section class="challange"> 
            <%= @challenge.title%>
        </section> 							
        <section>
            <table >
                <tr>
                    <td width="80px">
                         <b><font color= #999999>DESCRIPTION</font></b></td>
                    <td width="500px">
                         <b><%= @challenge.description %></b>
                    </td>
                </tr>
            </table>
        </section>	
        <section>
            <table width="500px">
                <tr>
                    <td width="130px" class="titles">
                            <b><font color= #999999>ORGANIZER</font></b>
                    </td>
                    <td >
                        <% if @challenge.instance_of?ChildChallenge%>
                            <%  @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
                            <script>
                                    var ordId = <%=  orgId = @parentChallenge.user_id %>
                            </script>
                            <b><%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></b>
                        <% else %>	
                            <b id="user_name"></b>
                            <script>
                                    var ordId = <%=  orgId = @challenge.user_id %>
                            </script>
                        <% end %>	
                    </td>
                    <td width="100px">
                        <%= image_tag("btn_msg_up.png", :onclick=>"contactToOrganizer(ordId)" ) %>
                    </td>
                </tr>
                <tr>
                    <hr/>
                </tr>
            </table>
        </section>
        <section>
            <hr/>
        </section>
        <section>
            <table>
                <tr>
                    <td width=130px>
                         <b><font color= #999999>START POINT</font></b>
                    </td>
                    <td>
                        <% if @challenge.start_point.instance_of?PointDateType %>		
                                 <b><%= @challenge.start_point.value.strftime("%b %d, %Y") %> </b>
                        <% else %>							
                                <b><%= @challenge.start_point.value.to_i %></b>
                        <% end %>
                    </td>
                </tr>
            </table>
        </section>			
        <section>
              <hr/>
        </section>
        <section>
            <table>
                <tr> 
                    <td width=130px>
                        <b><font color= #999999>END POINT</font></b>
                    </td>
                    <td>
                        <% if @challenge.end_point.instance_of?PointDateType %>		
                                <b><%= @challenge.end_point.value.strftime("%b %d, %Y") %></b>
                        <% else %>							
                                <b><%= @challenge.end_point.value.to_i %></b>
                        <% end %>
                    </td>
                </tr>
            </table>
        </section>
        <section>
             <hr/>
        </section>	
        <table>
            <tr>
                <td width="130px" class="titles">
                     <b><font color= #999999>PARTICIPANTS</b></font>
                </td>
                <td>
                <% if @challenge.social_type.status == 1 &&  @challenge.class.to_s == "ChildChallenge" %>
                     <b><%= @challenge.parent.child_challenges.length %></b>
                <% else %>
                    <% if @challenge.social_type.status == 1 %>
                            <b><%= @challenge.child_challenges.length %></b>
                    <% else %>
                            <b><%= @challenge.parent.child_challenges.length %></b>
                    <% end %>
                <% end %>
                </td>
            </tr>
        </table>
        <input type="hidden" name="thinking_abt" id="thinking_abt" value="<%= @challenge.id %>"> 
        <table width="100%" border="0" class="tabsstyle">
            <tr>
                <td colspan="3">
                    <ul class="tabs">
                        <li><a href="#tab1"><b>TASKS</b></a></li>
                        <li><a href="#tab2"><b>PEOPLE</b></a></li>
                    </ul>
                    <section class="tab_container">
                        <section id="tab1" class="tab_content">
                            <% if(@challenge.social_type.status? and @flg.to_s == "ed") %>
                                    <%= render :partial=> "challenges/tasks_edit" %>
                            <% else %>
                                    <%= render :partial=> "challenges/nonLoginTasks" %>																										
                            <% end %>
                        </section>
                        <section id="tab2" class="tab_content">
                            <table width="100%" border="0" height="40px">
                                <tr bgcolor=#F4F4F4>
                                    <td width="220px">
                                        <b  id="total">Total: <%= @challenge.child_challenges.length %></b>
                                        <% if @challenge.instance_of?Challenge %>
                                                <%= image_tag("btn_msg_up.png", :class => "imgbtnmsgup", :onclick=>"contactToInvitee()")%>
                                        <% end %>
                                    </td>
                                    <td width = "100px" id="search">
                                    </td>
                                    <td width="300px">
                                        <select>
                                                <option value="volvo">ALL</option>
                                                <option value="saab">ACCEPTED</option>
                                                <option value="mercedes">PENDING</option>
                                                <option value="audi">DECLINED</option>
                                        </select> 
                                        &nbsp;
                                        <%= image_tag ("search_it.PNG") %>
                                    </td>
                                </tr>
                            </table>
                      
                            <table  border="0" height="20px" bgcolor="gray"> 
                                <tr bgcolor=#D7D7D7>
                                    <td>
                                            <b>NAME &nbsp;</b>
                                    </td>
                                    <td width="80px">
                                            <font color=#A8A8A8>STATUS</font>
                                    </td>
                                </tr>
                            </table>
                            <section id="wrap">
                                 <h1 id="header"></h1>
                                 <table bgcolor="white">
                                  <tr>
                                   <td id="list">
                                        <%if @challenge.parent .nil? %>
                                         <% childChallenges =  @challenge.child_challenges %>
                                        <%else%>
                                         <%childChallenges =  @challenge.parent.child_challenges %>
                                         <%end%>                      
                                        <% childChallenges.each do |aChildChallenge| %>
                                         <p><%=image_tag FbGraph::User.new(aChildChallenge.user_id).fetch.picture %> <a href="#"  id="ahref"><%= FbGraph::User.new(aChildChallenge.user_id).fetch.name %></a>
                                         <span id="status_icon"> 
                                         <% if aChildChallenge.social_type.status.nil? or aChildChallenge.social_type.status == 0 %>
                                          <%= image_tag  "icon_thinking.png"  %>
                                         <% elsif aChildChallenge.social_type.status == 1 %>
                                           <%= image_tag  "icon_accept.png"  %>
                                         <% else %>
                                                <%= image_tag "icon_decline.png"  %>
                                         <% end %>
                                        <% end %>                    
                                        </span> 
                                         </p>
                                        </td>
                                  </tr> 
                                 </table>
                               </section> 
                            </section> 
                           
                           
                        </section>
                    </section>
                </td>
            </tr>
        </table>  
    </section>		
<% orgIds = "" %>
	<script> 
	 
                            $(document).ready(function() 
                            { 
                                    $("#btnFilter").click(function() 
                                    { 
                                            var selection = $("#catSelect").val(); 
                                             if (selection == "all") 
                                            { 
                                                    $(".item").show(); 
                                            } 
                                            else 
                                            { 
                                                    $(".item").hide(); 
                                                    $("."+selection).show(); 
                                            } 
                                    }); 
                            });
                         
                             (function (cash) {
                               jQuery.expr[':'].Contains = function(a,i,m){
                                    return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
                               };

                               function listFilter(header, list) {
                              var form = $("<form>").attr({"class":"filterform","action":"#"}),
                               input = $("<input>").attr({"class":"filterinput","type":"text"});
                              $("#search").append($(form).append(input).appendTo(header));

                              $(input)
                                    .change( function () {
                               var filter = $(this).val();
                               if(filter) {
                                     $(list).find("a:not(:Contains(" + filter + "))").parent().slideUp();
                                     $(list).find("a:Contains(" + filter + ")").parent().slideDown();
                               } else {
                                     $(list).find("p").slideDown();
                               }
                               return false;
                                    })
                              .keyup( function () {
                               $(this).change();
                              });
                               }

                               $(function () {
                              listFilter($("#header"), $("#list"));
                               });
                             }(jQuery));
		window.fbAsyncInit();
		FB.getLoginStatus(function(response) { 
		if (response.session)
        { 
		   globaluserid=response.session["uid"]; 
		   name=globaluserid;
		}
		}
		);
<% @challenge.child_challenges.each do |aTask| %>
						 var len = <%= @challenge.child_challenges.length %>
		var img = <%= aTask.user_id %>
						  FB.api({
				method: 'fql.query',
				query: 'SELECT name,pic_square FROM user WHERE uid=' + img
			}, function(response){
			htmlcontent = '<img src=' + response[0].pic_square + ' />'+ response[0].name ;
			 tableopen='<table>';
			 tropen='<tr>';
			 tdopen='<td >';
			 tdclose='</td>';
			 tdopen1='<td id="friendsstatus" >';
			 tdclose1='</td>';
			 trclose='<tr>';
			 tableclose='</table>'
			 hr = '<hr/>';
			 $("#friendlist").append(tableopen);
					$("#friendslist").append(tropen);
					$("#friendslist").append(tdopen);
					 $("#friendslist").append(htmlcontent);
					 $("#friendslist").append(tdclose);
					<% @challenge.child_challenges.each do |aTask| %>
						<% if aTask.user_id %>
							<% if aTask.social_type.status == 1  ||  @challenge.user_id == aTask.user_id %>
											status='<%= image_tag ("icon_accept.png") %>';
								<% else %>
								<% if aTask.social_type.status == 0 %>
											status='<%= image_tag ("icon_thinking.png") %>';
								<% else %>
											status='<%= image_tag("icon_decline.png") %>';
								<% end %>
							<% end %>
						<%end%>
								<%end%>		
					 $("#friendsstatus").append(tdopen1);
					 $("#friendsstatus").append(status);
					 $("#friendsstatus").append(tdclose1);
					 $("#friendslist").append(trclose);
					$("#friendslist").append(tropen);																
					$("#friendslist").append(hr);  
					$("#friendslist").append(trclose);
					 $("#friendslist").append(tableclose); 
			});
 <%end %>
				var user = <%= @challenge.user_id %>
					FB.api({
						method: 'fql.query',
					query: 'SELECT name FROM user WHERE uid=' +user
				}, function(response){
				htmlcontent =response[0].name ;
						$("#user_name").append(htmlcontent);    
			});
function contactToOrganizer(orgId)
{
	$.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+orgId+"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%= "'"+ challenge_url(@challenge) +"'"%>);	
}
</script>





