<%= render 'layouts/loggedinbody'%>
<%= stylesheet_link_tag('simple-tabs','jquery-ui','ui.progressbar','ui.theme', 'main','challenges_social','colorbox')%>
<%= javascript_include_tag('simple-tabs','ui.progressbar.js','soc-per','messages','nonloginsocialpage','jquery.colorbox-min')%>
<section id="ch_main_section"> 
    <section id="ch_main_section1"> 
        <section class="challange"> 
            <%= @challenge.title%>
        </section> 							
        <section>
            <table >
                <tr>
                    <td width="80px" valign="top">
                         <sapn class="fontcolor">DESCRIPTION</span></td>
                    <td width="500px">
                         <sapn class="colordarkblk"><%= @challenge.description %></span>
                    </td>
                </tr>
            </table>
        </section>	
        <section>
            <table width="500px">
                <tr>
                    <td width="130px" class="titles">
                           <sapn class="fontcolor">ORGANIZER</sapn>
                    </td>
                    <td >
                        <% if @challenge.instance_of?ChildChallenge%>
                            <%  @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
                            <script>
                                    var ordId = <%=  orgId = @parentChallenge.user_id %>
                            </script>
                            <sapn class="colordarkblk"><%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></span>
                        <% else %>	
                            <span class = "colordarkblk" id="user_name"></span>
                            <script>
                                    var ordId = <%=  orgId = @challenge.user_id %>
                            </script>
                        <% end %>	
                    </td>
                    <td width="100px">
                    <% if current_user %>
                    		<%= image_tag("btn_msg_up.png", :onclick=>"contactToOrganizer(ordId)" ) %>
                    <% else %>
                    		<%=link_to image_tag("btn_msg_up.png"), registerToMessage_challenges_path(:id=>@challenge),:class=>"register_tomessage_popup" %>
                    <% end %>                                                
                    </td>
                </tr>
                <tr>
                    <hr/>
                </tr>
            </table>
        </section>
        <section>
            <hr/>
        </section>
        <section>
            <table>
                <tr>
                    <td width=130px>
                        <sapn class="fontcolor">START POINT</sapn>
                    </td>
                    <td>
                        <% if @challenge.start_point.instance_of?PointDateType %>		
                               <sapn class="colordarkblk"><%= @challenge.start_point.value.strftime("%b %d, %Y") %> </sapn>
                        <% else %>							
                                <sapn class="colordarkblk"><%= @challenge.start_point.value.to_i %></sapn>
                        <% end %>
                    </td>
                </tr>
            </table>
        </section>			
        <section>
              <hr/>
        </section>
        <section>
            <table>
                <tr> 
                    <td width=130px>
                        <sapn class="fontcolor">END POINT</sapn></b>
                    </td>
                    <td>
                        <% if @challenge.end_point.instance_of?PointDateType %>		
                                <sapn class="colordarkblk"><%= @challenge.end_point.value.strftime("%b %d, %Y") %></sapn>
                        <% else %>							
                                <sapn class="colordarkblk"><%= @challenge.end_point.value.to_i %></sapn>
                        <% end %>
                    </td>
                </tr>
            </table>
        </section>
        <section>
             <hr/>
        </section>	
        <table>
            <tr>
                <td width="130px" class="titles">
                    <sapn class="fontcolor">PARTICIPANTS</sapn>
                </td>
                <td>
                <% if @challenge.social_type.status == 1 &&  @challenge.class.to_s == "ChildChallenge" %>
                     <sapn class="colordarkblk"><%= @challenge.parent.child_challenges.length %></sapn>
                <% else %>
                    <% if @challenge.social_type.status == 1 %>
                            <sapn class="colordarkblk"><%= @challenge.child_challenges.length %></sapn>
                    <% else %>
                             <sapn class="colordarkblk"><%= @challenge.parent.child_challenges.length %></sapn>
                    <% end %>
                <% end %>
                </td>
            </tr>
        </table>
        <input type="hidden" name="thinking_abt" id="thinking_abt" value="<%= @challenge.id %>"> 
        <table width="100%" border="0" class="tabsstyle">
            <tr>
                <td colspan="3">
                    <ul class="tabs">
                        <li><a href="#tab1"><b>TASKS</b></a></li>
                        <li><a href="#tab2"><b>PEOPLE</b></a></li>
                    </ul>
                    <section class="tab_container">
                        <section id="tab1" class="tab_content">
                            <% if(@challenge.social_type.status? and @flg.to_s == "ed") %>
                                    <%= render :partial=> "challenges/tasks_edit" %>
                            <% else %>
                                    <%= render :partial=> "challenges/nonLoginTasks" %>																										
                            <% end %>
                        </section>
                    
                            </section> 
                           
                           
                        </section>
                    </section>
                </td>
            </tr>
        </table>  
    </section>		
<% orgIds = "" %>


<script>
$('.register_tomessage_popup').colorbox();
</script>

<script>
    function contactToOrganizer(orgId)
    {
        $.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+orgId+"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%= "'"+ challenge_url(@challenge) +"'"%>);
    }
</script>




