<%= javascript_include_tag('fbWallPost') %>
<%= render 'layouts/loggedinbody'%>
<%= debug @users %>
<% @users.each do |aChallenge| %>
<table>
  <tr>
    <td><%= aChallenge.user_id %> </td>
    <td><%= aChallenge.target_id %></td>
  </tr>
</table>
<% end %>
<%= will_paginate @users %>

<script> 
  
	$.dojitsuWallPost.renderFbWallPost();
	
</script>