<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox','jquery.cluetip.css','jquery-ui','ui.progressbar','ui.theme', 'main', 'challenges_social', 'challenges')%>
<%= javascript_include_tag('simple-tabs','ui.progressbar.js','soc-per','on_the_spot','jquery.colorbox-min','jquery.tools.min','messages','fbWallPost')%>
<%= render 'layouts/loggedinbody'%>

<section class="challengeSubNav">
	<%= button_to "", new_challenge_url, :class => "new_challenge_button_new1", :method => :get %>
    <%= link_to "MY CHALLENGES >> ", challenges_url ,  :class => "challenge_link1" %>
	<%= link_to "#{@challenge.title}","#" ,  :class => "challenge_link1" %> 
</section>

<% name_search = 0%>

<% if params[:isNewChallenge] == "isNew" %>
    <script> 
      $.dojitsuWallPost.renderFbWallPost();
    </script>
<% end %>    

<% if !@challenge.child_challenges.blank? && userIds = []%>
	<% for aChild in @challenge.child_challenges %>
		<% if aChild.social_type.status.nil?%>
			<% userIds.push(aChild.user_id)  %>
		<% end %>
	<% end %>
	<% if isStandalone %>
            <% if !userIds.empty? and @challenge.user_id == current_user.gmauth.id%>

						<script type="text/javascript" charset="utf-8">
						$.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+userIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).replace("'", "");	

						function fbCallback(response){
							if(response == null){
							} else
							{
								var srt = '<%= params[:id] %>';
								jQuery.support.cors = true;
								$.get('/challenges/update_status_af_meg', 
									{thinking_abt:srt},
									function(data) {

									}, 'script'
								);
							}
						}
						</script>
	    <% end %>
		
        <% else %>
            <% if !userIds.empty? and @challenge.user_id == current_user.fbauth.uid%>

						<script type="text/javascript" charset="utf-8">
						$.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+userIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).replace("'", "");	

						function fbCallback(response){
							if(response == null){
							} else
							{
								var srt = '<%= params[:id] %>';
								jQuery.support.cors = true;
								$.get('/challenges/update_status_af_meg', 
									{thinking_abt:srt},
									function(data) {

									}, 'script'
								);
							}
						}
						</script>
            <% end %>
        <% end %>        
<% end %>

<section > 
	<section id="ch_main_section1"> 
		<% if @challenge.user_id == current_user.fbauth.uid %>
					 	<span class="challange" id ="updatetitle" onclick="TestingTitle();"><%= @challenge.title %>	</span> 
				<% else %>
						<span class="challange"><%= @challenge.title %>	</span> 
				<% end %>	
				<section id="replacedTitle">
					<%= text_field(:challenge, :title, :maxlength =>30, :class => "titlewidth")%>
					<%= link_to image_tag("update.png", :class =>"replacetitle"), show_per_challenges_path(:id => @challenge.id) %>
					<%= link_to "CANCEL", show_per_challenges_path(:id => @challenge.id), :class => "replace_cancel" %>
				</section>
							<script>
							$("#replacedTitle").hide();
							function TestingTitle()
							{
									$("#updatetitle").replaceWith($("#replacedTitle").show());
							}

							$('.replacetitle').click(function()
							{
									var startValue1 = $("#challenge_title").val();
									var challengeId = '<%= @challenge._id %>'
									jQuery.support.cors = true;
									var objj = {
												  myParams11:startValue1,
												  myParams21:challengeId
												};

									$.get('/challenges/title_soc_update',
									{value:objj},
									function(data) {

									}, 'script'
									);
							});
							</script>
		<br><br>
		<% unless @challenge.social_type.status.to_i == 1 %>
			<table>
				<tr >
					<td width="20px" >  
						<%= link_to image_tag("accepted.png"), update_status_challenges_path(:id => @challenge, :status=> 1), :onclick=>"fun();" %>
					</td> 
					<td width="20px" >
						<%= link_to(image_tag("declane.png"), update_status_challenges_path(:id => @challenge, :status=> -1))%>
					</td>
					<td >
						<%= image_tag("thinkbutton.png") %>
					</td>
				</tr>
			</table>
		<% end %>	
		<script>
		function fun()
		{
		window.fbAsyncInit();
		var body = 'Accepted challenge';
		FB.api('/me/feed', 'post', { message: body }, function(response) {
			if (!response || response.error) {
																		alert('Error occured');
																} else {
																		alert('Post ID: ' + response.id);
																}
		});
      }
		</script>
		
	
		<script type="text/javascript">
		$(document).ready(function(){
					$("#image1").hide();
					$("#image2").hide();
					$("#image3").hide();
					$("#image4").hide();
					$("#image5").hide();
					  $("#description").mouseover(function(){
						$("#image1").show()
					  });
					$("#organizer").mouseover(function(){
						$("#image2").show();
					  });
						$("#startdate").mouseover(function(){
						$("#image3").show();
					  });
					$("#enddate").mouseover(function(){
						$("#image4").show();
					  });
					$(document).mouseout(function(){
							$("#image1").hide();
							$("#image2").hide();
							$("#image3").hide();
							$("#image4").hide();
						//	$("#image5").hide();
					 });
			 });

		</script>
		
	<section>
	<table id="description" >
		<tr>
			<td valign="top"height="34px" width="15%" >
					<span class="colorligtblk1">DESCRIPTION<b ></span>
			<td valign="top" width="73%">
			<% if @challenge.user_id == current_user.fbauth.uid %>
					<section class="onthespandescription" >
					 	<span class ="updatedesccolo" ><%= @challenge.description %>	</span> 
					</section>
				<% else %>
					<section>
						<span class ="updatedesccolo" ><%= @challenge.description %>	</span> 
					</section>
				<% end %>	
			
			<section id="replacedDescription">
					<%= text_area(:challenge, :description, :class => "textareastyle" )%>
					<%= link_to image_tag("update.png", :class =>"replacedesc"), show_per_challenges_path(:id => @challenge.id) %>
					<%= link_to "CANCEL", show_per_challenges_path(:id => @challenge.id), :class => "replace_cancel_desc1" %>
			</section>
			</td>
						<% if @challenge.user_id == current_user.fbauth.uid %>
						<td valign="top" width="12%" onclick="TestingDesc();">
							<span id="image1"><%= image_tag("icon_edit.png") %></span>
						</td>
						<% else %>
							<td width="12%"></td>
						<%end%>
			</tr>
	</table>
			<script>
					$("#replacedDescription").hide();
					function TestingDesc()
					{
							$(".onthespandescription").replaceWith($("#replacedDescription").show());
					}

					$('.replacedesc').click(function()
					{
							var startValue2 = $("#challenge_description").val();
							var challengeId = '<%= @challenge._id %>'
							jQuery.support.cors = true;
							var objj = {
							myParams11:startValue2,
							myParams21:challengeId
							};
							$.get('/challenges/desc_soc_update',
							{value:objj},
							function(data) {

							}, 'script'
						);
					});
			</script>

		</tr>
	</table>
</section>	

<section>
	<table id="organizer">
		<tr>
			<td height="34px" width="15%" class="titles">
				<span class="colorligtblk1">ORGANIZER</span>
			</td>
			<td width="73%">
			
			<% if @challenge.instance_of?ChildChallenge%>
			 <%  @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
			 <script>
			  var ordId = <%=  orgId = @parentChallenge.user_id %>
			 </script>
				    <b><span class ="updatedesccolo" > <%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></span></b>
			<% else %> 
					<b><span class ="updatedesccolo"  id="user_name"><%= FbGraph::User.new(@challenge.user_id).fetch.name %></span></b>
			 <script>
			  var ordId = <%=  orgId = @challenge.user_id %>
			 </script>
			<% end %>
			</td>
			<td  width="12%">
				<span id="image2">
				<% if @challenge.instance_of?ChildChallenge || @challenge.user_id != current_user.fbauth.uid %>
					<%= image_tag("btn_msg_up.png", :onclick=>"contactToOrganizer(ordId)" ) %>
				<% end %>
				</span>
			</td>
		</tr>
		<tr>
			<hr/>
		</tr>
	</table>
</section>

<section>
	<hr/>
</section>

<section>
	<table id="startdate">
		<tr>
			<td height="34px" width="15%">
				<b class="colorligtblk">START POINT</b>
			</td>
			<td width="73%">
				<% if @challenge.start_point.instance_of?PointDateType %>		
					 <b class="colordarkblk"><%= @challenge.start_point.value.strftime("%b %d, %Y") %> </b>
				<% else %>							
					 <b class="colordarkblk"><%= @challenge.start_point.value.to_i %></b>
				<% end %>
			</td>
				<td></td>
				<!-- <% if @challenge.user_id == current_user.fbauth.uid %>
					<td valign="top" width="12%" onclick="TestingDesc();">
						<span id="image3"><%= image_tag("icon_edit.png") %></span>
					</td>
					<% else %>
						<td width="12%"></td>
				<%end%>
				-->
		</tr>
	</table>
</section>		
	
<section>
	<hr/>
</section>

<section>
	<table id="enddate">
		<tr> 
			<td height="34px" width=130px>
				<b class="colorligtblk">END POINT</b>
			</td>
			<td>
				<% if @challenge.end_point.instance_of?PointDateType %>		
					 <b class="colordarkblk"><%= @challenge.end_point.value.strftime("%b %d, %Y") %></b>
				<% else %>							
					 <b class="colordarkblk"><%= @challenge.end_point.value.to_i %></b>
				<% end %>
			</td>
			<!-- <% if @challenge.user_id == current_user.fbauth.uid %>
				<td valign="top" width="12%" onclick="TestingDesc();">
					<span id="image4"><%= image_tag("icon_edit.png") %></span>
				</td>
				<% else %>
					<td width="12%"></td>
			<%end%> -->
		
		</tr>
	</table>
</section>

<section>
	<hr/>
</section>	

<table id="participant">
	<tr  height="34px" >
		<td width="130px">
			<b><span class="colorligtblk">PARTICIPANTS</span></b>
		</td>
		<td>
		<% if @challenge.social_type.status == 1 &&  @challenge.class.to_s == "ChildChallenge" %>
				 <b class="colordarkblk"><%= @challenge.parent.child_challenges.length %>&nbsp;&nbsp;&nbsp;<% link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %></b>&nbsp;&nbsp;&nbsp;
			<% else %>
				<% if @challenge.social_type.status == 1 %> 
					 <b class="colordarkblk"><%= @challenge.child_challenges.length %></b>
					&nbsp;&nbsp;&nbsp;<% link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %>&nbsp;&nbsp;&nbsp;
				<% else %>
					 <b class="colordarkblk"><%= @challenge.parent.child_challenges.length %>&nbsp;&nbsp;&nbsp;<% link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %></b>&nbsp;&nbsp;&nbsp;
				<% end %>
		<% end %>
		<span class="textdecoration"><% link_to " Winners of the Challenge", trophies_challenges_path(:id => @challenge.id) %></span>
		</td>
		<td  width="12%"  >
		    
					
		</td>
	
	</tr>
</table>
<input type="hidden" name="thinking_abt" id="thinking_abt" value="<%= @challenge.id %>"> 
<table width="100%" border="0" class="marginalign">
	<tr>
		<td colspan="3">
			<ul class="tabs">
				<li><a href="#tab1"><b>TASKS</b></a></li>
				<li><a href="#tab2"><b>PEOPLE</b></a></li>
			</ul>
			<section class="tab_container">
				<section id="tab1" class="tab_content">
					<% if(@challenge.social_type.status? and @flg.to_s == "ed") %>
						<%= render :partial=> "challenges/tasks_edit" %>
					<% else %>
						<%= render :partial=> "challenges/tasks" %>																										
					<% end %>
				</section>
				<section id="tab2" style="background:#F5F5F5;" class="tab_content">
		<section class="tables">
Maisa
</table>  

    </section>   
          
    </section> 
                        

    
   </section> 
     
  </td>
 </tr>
</table>
<% orgIds = "" %>
	

<script>
	$('.task_update_popup').colorbox();
	$('.add_task_popup').colorbox();
	
// execute your scripts when the DOM is ready. this is a good habit
$(function() {
	// setup tooltip for a single section element
	$("#mytable a").tooltip({
		// each trashcan image works as a trigger
		tip: '#tooltip',

		// custom positioning
		position: 'center right',

		// move tooltip a little bit to the right
		offset: [0, 15],

		// there is no delay when the mouse is moved away from the trigger
		delay: 0
	});	
	     
	

});
</script>


<% if isStandalone %>
    <% if @challenge.class.to_s == "ChildChallenge" || @challenge.user_id != current_user.gmauth.id %>
    <script>
            function contactToOrganizer(orgId)
            {
                    $.dojitsu.renderSendBox(<%= "'"+@challenge.title.gsub("'","") + "'" %>, <%= "'"+orgId+"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%= "'"+ challenge_url(@challenge) +"'"%>);	
            }
    </script>
<% end %>
<% else %>
    <% if @challenge.class.to_s == "ChildChallenge" || @challenge.user_id != current_user.fbauth.uid %>
    <script>
            function contactToOrganizer(orgId)
            {
                    $.dojitsu.renderSendBox(<%= "'"+@challenge.title.gsub("'","") + "'" %>, <%= "'"+orgId+"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%= "'"+ challenge_url(@challenge) +"'"%>);	
            }
    </script>
    <% end %>
<% end %>
<!--
<% if @challenge.class.to_s == "ChildChallenge" %>
	<%= parentId = @challenge.user_id %>
	<% inviteeChildIds = [] %>
	<% for aParentChild in @challenge.parent.child_challenges %>
		<%= inviteeChildIds.push(aParentChild.user_id) %>
		<%= inviteeChildIds.pop(1) %>
	<% end %>
<% end %>
-->
<% if !@challenge.child_challenges.blank? && inviteeIds = []%>
	<% for aChild in @challenge.child_challenges %>
		<% inviteeIds.push(aChild.user_id)  %>
		<script>
			function contactToInvitee()
			{
				$.dojitsu.renderSendBox(<%= "'"+@challenge.title.gsub("'","") + "'" %>, <%= "'"+inviteeIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>);		
			}
		</script>
	<% end %>
<% else %>
	
<% end %>

<script type="text/javascript">
	function changeVal(str,score) {
		var tot_score = str*score;
		$("#tatal_s").val(tot_score);
	}
	
	
</script>


<section id="jfmfs-container-wrapper" style="display: none">
  <section id="jfmfs-container">
  </section>
 </section>
<script type="text/javascript" charset="utf-8">        
(function($j) { 
 var selectorObz = {    
  filter_default: "Search By Name",
  friend_fields: "id,name,last_name&access_token="+'<%= current_user.facebook.access_token%>'
 }

 $j('.invitees').live('click', function(){
  $j( "#jfmfs-container-wrapper" ).dialog({
   modal: true,
   resizable: false,
   closeText: "",
   position: 'center',
   title: 'Invite Participants',
   width: '725px',
   open: function(event, ui) { $j("#jfmfs-container").jfmfs(selectorObz); },
  

  buttons: {                                             
	 Cancel: function() {
     $j("#jfmfs-container").data('jfmfs').clearSelected(); 
     $j('#inviteBtn').val("INVITE PARTICIPANTS");    
     $j(this).dialog( "close" );
    },
    
	
	Save: function() {
     var friendSelector = $j("#jfmfs-container").data('jfmfs');
     var selectedFriends = friendSelector.getSelectedIds();
     $j('#invitees_id').val(selectedFriends);
        $j('#inviteBtn').val("INVITE PARTICIPANTS (" + selectedFriends.length + ")");   
    $j(this).dialog( "close" );
		jQuery.support.cors = true;
		$.get('/user_connections/sendInvitation', 
			{inviteIds:selectedFriends},
			function(data) {

			}, 'script'
		);
		

		
		
     } 
   }
   
  });
 }
 )          
})(jQuery);

$('.ui-button').live('click', function(){


  $.dojitsuAjaxPage.renderAjaxPageLoad("/user_connections/myDojo","#myDojo","#myDojo1");
    $(".tables").replaceWith($('.tables'));
  });
 </script>

