<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox','jquery.cluetip.css','jquery-ui','ui.progressbar','ui.theme', 'main', 'challenges_social', 'challenges')%>
<%= javascript_include_tag('simple-tabs','tabs2','ui.progressbar.js','ajaxPageLoad','soc-per','on_the_spot','jquery.colorbox-min','jquery.tools.min','messages','fbWallPost')%>
<%= render 'layouts/loggedinbody'%>

<section class="challengeSubNav">
	<%= button_to "", new_challenge_url, :class => "new_challenge_button_new1", :method => :get %>
    <%= link_to "MY CHALLENGES >> ", challenges_url ,  :class => "challenge_link1" %>
	<%= link_to "#{@challenge.title}","#" ,  :class => "challenge_link1" %> 
</section>
<% name_search = 0%>
<!--
<% if params[:isNewChallenge] == "isNew" %>
    <script> 
      $.dojitsuWallPost.renderFbWallPost();
    </script>
<% end %>    

<% if !@challenge.child_challenges.blank? && userIds = []%>
    <% for aChild in @challenge.child_challenges %>
        <% if aChild.social_type.status.nil?%>
           <% userIds.push(aChild.user_id)  %>
        <% end %>
    <% end %>
    <% if isStandalone %>
        <% if !userIds.empty? and @challenge.user_id == current_user.gmauth.id%>
            <script type="text/javascript" charset="utf-8">
            $.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+userIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).replace("'", "");	

            function fbCallback(response){
                if(response == null){
                } else
                {
                  var srt = '<%= params[:id] %>';
                  jQuery.support.cors = true;
                  $.get('/challenges/update_status_af_meg', 
                    {thinking_abt:srt},
                    function(data) {

                    }, 'script'
                  );
                }
            }
            </script>
    <% end %>

    <% else %>
        <% if !userIds.empty? and @challenge.user_id == current_user.fbauth.uid%>
            <script type="text/javascript" charset="utf-8">
            $.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+userIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).replace("'", "");	

            function fbCallback(response){
              if(response == null){
              } else
              {
                  var srt = '<%= params[:id] %>';
                  jQuery.support.cors = true;
                  $.get('/challenges/update_status_af_meg', 
                      {thinking_abt:srt},
                      function(data) {

                      }, 'script'
                  );
              }
            }
            </script>
        <% end %>
    <% end %>        
<% end %> -->

<table width="100">		
  <td valign="top" width="70%">
    <table>
        <tr>
                <td valign="top">
                <section  class="mychallenges">
                        <% if @challenge.user_id == current_user.fbauth.uid %>
                                        <span class="challange" id ="updatetitle" onclick="TestingTitle();"><%= @challenge.title %>	</span> 
                        <% else %>
                                        <span class="challange"><%= @challenge.title %>	</span> 
                        <% end %>	
                        <section id="replacedTitle">
                                <%= text_field(:challenge, :title, :maxlength =>30, :class => "titlewidth")%>
                                <%= link_to image_tag("update.png", :class =>"replacetitle"), show_per_challenges_path(:id => @challenge.id) %>
                                <%= link_to "CANCEL", show_per_challenges_path(:id => @challenge.id), :class => "replace_cancel" %>
                        </section>
                        <script>
                        $("#replacedTitle").hide();
                        function TestingTitle()
                        {
                                        $("#updatetitle").replaceWith($("#replacedTitle").show());
                        }

                        $('.replacetitle').click(function()
                        {
                                        var startValue1 = $("#challenge_title").val();
                                        var challengeId = '<%= @challenge._id %>'
                                        jQuery.support.cors = true;
                                        var objj = {
                                                                  myParams11:startValue1,
                                                                  myParams21:challengeId
                                                                };

                                        $.get('/challenges/title_soc_update',
                                        {value:objj},
                                        function(data) {

                                        }, 'script'
                                        );
                        });
                        </script>
                        <br><br>
                        <% unless @challenge.social_type.status.to_i == 1 %>
                                <table>
                                        <tr >
                                                <td  >  
                                                        <%= link_to image_tag("accepted.png"), update_status_challenges_path(:id => @challenge, :status=> 1), :onclick=>"fun();" %>
                                                </td> 
                                                <td  >
                                                        <%= link_to(image_tag("declane.png"), update_status_challenges_path(:id => @challenge, :status=> -1))%>
                                                </td>
                                                <td >
                                                        <%= image_tag("thinkbutton.png") %>
                                                </td>
                                        </tr>
                                </table>
                        <% end %>	
                        <script>
                        function fun()
                        {
                        window.fbAsyncInit();
                        var body = 'Accepted challenge';
                        FB.api('/me/feed', 'post', { message: body }, function(response) {
                                if (!response || response.error) {
                                                alert('Error occured');
                                } else {
                                                alert('Post ID: ' + response.id);
                                }
                        });
                  }
                </script>							
                <script type="text/javascript">
                $(document).ready(function(){
                                        $("#image1").hide();
                                        $("#image2").hide();
                                        $("#image3").hide();
                                        $("#image4").hide();
                                        $("#image5").hide();
                                          $("#description").mouseover(function(){
                                                $("#image1").show()
                                          });
                                        $("#organizer").mouseover(function(){
                                                $("#image2").show();
                                          });
                                                $("#startdate").mouseover(function(){
                                                $("#image3").show();
                                          });
                                        $("#enddate").mouseover(function(){
                                                $("#image4").show();
                                          });
                                        $(document).mouseout(function(){
                                                        $("#image1").hide();
                                                        $("#image2").hide();
                                                        $("#image3").hide();
                                                        $("#image4").hide();
                                                //	$("#image5").hide();
                                         });
                         });
                        </script>
                        <table>
                                <tr>
                                        <td>
                                                <section>
                                                        <table id="description" >
                                                                <tr>
                                                                        <td height="34px" width="130px valign="top">
                                                                                        <span class="colorligtblk1">DESCRIPTION<b ></span>
                                                                        </td >
                                                                        <td >
                                                                        <% if @challenge.user_id == current_user.fbauth.uid %>
                                                                                        <section class="onthespandescription" >
                                                                                                <span class ="updatedesccolo" ><%= @challenge.description %>																				</span> 
                                                                                        </section>
                                                                                <% else %>
                                                                                        <section>
                                                                                                <span class ="updatedesccolo" ><%= @challenge.description %></span> 
                                                                                        </section>
                                                                                <% end %>	

                                                                        <section id="replacedDescription">
                                                                                        <%= text_area(:challenge, :description, :class => "textareastyle" )%>
                                                                                        <%= link_to image_tag("update.png", :class =>"replacedesc"), show_per_challenges_path(:id => @challenge.id) %>
                                                                                        <%= link_to "CANCEL", show_per_challenges_path(:id => @challenge.id), :class => "replace_cancel_desc1" %>
                                                                        </section>
                                                                        </td>
                                                                                                <% if @challenge.user_id == current_user.fbauth.uid %>
                                                                                                <td valign="top" width ="20" onclick="TestingDesc();">
                                                                                                        <span id="image1"><%= image_tag("icon_edit.png") %></span>
                                                                                                </td>
                                                                                                <% else %>
                                                                                                        <td width ="20"></td>
                                                                                                <%end%>
                                                                        </tr>
                                                        </table>
                                                                <script>
                                                                        $("#replacedDescription").hide();
                                                                        function TestingDesc()
                                                                        {
                                                                                $(".onthespandescription").replaceWith($("#replacedDescription").show());
                                                                        }

                                                                        $('.replacedesc').click(function()
                                                                        {
                                                                                var startValue2 = $("#challenge_description").val();
                                                                                var challengeId = '<%= @challenge._id %>'
                                                                                jQuery.support.cors = true;
                                                                                var objj = {
                                                                                myParams11:startValue2,
                                                                                myParams21:challengeId
                                                                                };
                                                                                $.get('/challenges/desc_soc_update',
                                                                                {value:objj},
                                                                                function(data) {

                                                                                }, 'script'
                                                                        );
                                                                        });
                                                                </script>
                                                                        <section>
                                                                                <hr/>
                                                                        </section>
                                                                        <section>
                                                                        <table id="organizer">
                                                                                <tr>
                                                                                        <td height="34px" width="130px">
                                                                                                <span class="colorligtblk1">ORGANIZER</span>
                                                                                        </td>
                                                                                        <td >

                                                                                        <% if @challenge.instance_of?ChildChallenge%>
                                                                                         <%  @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
                                                                                         <script>
                                                                                          var ordId = <%=  orgId = @parentChallenge.user_id %>
                                                                                         </script>
                                                                                                        <b><span class ="updatedesccolo" > <%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></span></b>
                                                                                        <% else %> 
                                                                                                        <b><span class ="updatedesccolo"  id="user_name"><%= FbGraph::User.new(@challenge.user_id).fetch.name %></span></b>
                                                                                         <script>
                                                                                          var ordId = <%=  orgId = @challenge.user_id %>
                                                                                         </script>
                                                                                        <% end %>
                                                                                        </td>

                                                                                </tr>
                                                                                <tr>
                                                                                        <hr/>
                                                                                </tr>
                                                                        </table>
                                                                </section>
                                                                <section>
                                                                        <hr/>
                                                                </section>

                                                                <section>
                                                                <table id="startdate">
                                                                        <tr>
                                                                                <td height="34px" width="130px">
                                                                                        <b class="colorligtblk">START POINT</b>
                                                                                </td>
                                                                                <td >
                                                                                        <% if @challenge.start_point.instance_of?PointDateType %>		
                                                                                                 <b class="colordarkblk"><%= @challenge.start_point.value.strftime("%b %d, %Y") %> </b>
                                                                                        <% else %>							
                                                                                                 <b class="colordarkblk"><%= @challenge.start_point.value.to_i %></b>
                                                                                        <% end %>
                                                                                </td>

                                                                                        <!-- <% if @challenge.user_id == current_user.fbauth.uid %>
                                                                                                <td valign="top" width="12%" onclick="TestingDesc();">
                                                                                                        <span id="image3"><%= image_tag("icon_edit.png") %></span>
                                                                                                </td>
                                                                                                <% else %>
                                                                                                        <td width="12%"></td>
                                                                                        <%end%>
                                                                                        -->
                                                                        </tr>
                                                                </table>
                                                        </section>		

                                                        <section>
                                                                <hr/>
                                                        </section>
                                                                <section>
                                                                <table id="enddate">
                                                                        <tr> 
                                                                                <td height="34px" width=130px>
                                                                                        <b class="colorligtblk">END POINT</b>
                                                                                </td>
                                                                                <td>
                                                                                        <% if @challenge.end_point.instance_of?PointDateType %>		
                                                                                                 <b class="colordarkblk"><%= @challenge.end_point.value.strftime("%b %d, %Y") %></b>
                                                                                        <% else %>							
                                                                                                 <b class="colordarkblk"><%= @challenge.end_point.value.to_i %></b>
                                                                                        <% end %>
                                                                                </td>
                                                                                <!-- <% if @challenge.user_id == current_user.fbauth.uid %>
                                                                                        <td valign="top" width="12%" onclick="TestingDesc();">
                                                                                                <span id="image4"><%= image_tag("icon_edit.png") %></span>
                                                                                        </td>
                                                                                        <% else %>
                                                                                                <td width="12%"></td>
                                                                                <%end%> -->

                                                                        </tr>
                                                                </table>
                                                        </section>

                                                        <section>
                                                                <hr/>
                                                        </section>	
                                                        </tr>
                        </table>
							</section>
                        </td>
                </tr>
          <tr>
            <td>
                <section class="mychallengea">
                      <%= render :partial=> "challenges/againstothers" %>
                </section>
				</section>
            </td>					
          </tr><br><br>
          <tr>
              <td>
                  <section class="mychallengeb">
    <table width="100%" border="0" class="marginalign">
        <tr>
            <td colspan="3">
                <ul class="tabs">
                        <li><a href="#tab1"><b>TASKS</b></a></li>
                        <li><a href="#tab2"><b>SCOREBOARD</b></a></li>
                </ul>
                <section class="tab_container">
                    <section id="tab1" class="tab_content" style="background:white;">
                        <%= render :partial=> "challenges/tasksupdate" %>
                    </section>
                    <section id="tab2" style="background:white;" class="tab_content">
                        <section class="tables">
                             <%= render :partial=> "challenges/scoreboard" %>			
                        </section>   
                    </section> 
                </section> 
            </td>
        </tr>
    </table>
                  </section>
              </td>
          </tr>
        </table>
    </td>
    <td valign="top">
      <section class="mychallengec">
          <%= render :partial => "challenges/people_status" %>
      </section>
    </td>
</table>
	<style>
.mychallenges {
     border: 2px solid #BEBEBE;
    border-radius: 6px 6px 6px 6px;
    float: left;
    max-height: auto;
    max-width: auto;
}
.mychallengea {
    border: 2px solid #BEBEBE;
    border-radius: 6px 6px 6px 6px;
    float: left;
   max-height: auto;
    max-width: auto;
}
.mychallengeb {
    border: 2px solid #BEBEBE;
    border-radius: 6px 6px 6px 6px;
    float: left;
	max-height: auto;
    width: 100%;
}
.mychallengec {
    border: 2px solid #BEBEBE;
    border-radius: 6px 6px 6px 6px;
    float: left;
	max-height: auto;
    width: 100%;
}
</style>	

<script>
    $("#replacedDescription").hide();
    function TestingDesc()
    {
       $(".onthespandescription").replaceWith($("#replacedDescription").show());
    }

    $('.replacedesc').click(function()
    {
      var startValue2 = $("#challenge_description").val();
      var challengeId = '<%= @challenge._id %>'
      jQuery.support.cors = true;
      var objj = {
      myParams11:startValue2,
      myParams21:challengeId
      };
      $.get('/challenges/desc_soc_update',
      {value:objj},
      function(data) {

      }, 'script'
      );
    });
</script>

