<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox','jquery.cluetip.css','jquery-ui','ui.progressbar','ui.theme', 'main', 'challenges_social', 'challenges')%>
<%= javascript_include_tag('simple-tabs','tabs2','ui.progressbar.js','ajaxPageLoad','soc-per','on_the_spot','jquery.colorbox-min','jquery.tools.min','messages','fbWallPost')%>
<%= render 'layouts/loggedinbody'%>


              <section class="mychallengeb">
                <table width="100%" class="marginalign">
                  <tr>
                    <td>
                      <ul class="tabs">
                        <li><a href="#tab7"><b>TASKS</b></a></li>
                        <li><a href="#tab8"><b>SCOREBOARD</b></a></li>
                      </ul>
                      <section id="tab_container" class="tab_container12">
                        <section id="tab7" class="tab_content" style="background:white;">
                          <%= render :partial=> "challenges/tasksupdate" %>
                        </section>
                        <section id="tab8" style="background:white;" class="tab_content">
                          <section class="tables">
                            <%= render :partial=> "challenges/scoreboard" %>	
                            
                          </section>   
                        </section> 
                      </section> 
                    </td>
                  </tr>
                </table>
              </section>
           