
<%= stylesheet_link_tag('simple-tabs','datePicker')%>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag('simple-tabs','jquery.table.addrow','jquery.datePicker','date','jquery.editable-1.3.3','on_the_spot','jquery.ezpz_tooltip','jquery.ezpz_tooltip.min.js','jquery.tools.min')%>
<%= render 'layouts/loggedinbody'%>

<div id="ch_main_div">
<div id="ch_main_div1">
<%= form_for @challenge do |f| %>
<%#= debug @challenge %>
<table width="100%" border="0" border cellspacing=12px>
	<tr>
		<div class="title">
			<p class="allcaps"><font color="orange"><%= on_the_spot_edit @challenge, :title, :type=> :text %></p></font></h1></b>
		</div>
		<tr>
		<table border=1px width=500px height=60px bgcolor=white>
			<tr>
				<td width=120px>
					<b><font color=	#909090>DESCRIPTION</b>
				</td>
				<td class="editable">
					<pre width="10px"><%= on_the_spot_edit @challenge, :description, :type => :textarea, :rows => 4, :columns => 50  %></pre>
					<!--
					<% if @challenge.nil? %>
						<p>no challenge selected</p>
					<% else %>			
						<p>
						</p>
					<% end %>
					-->
				</td>
			</tr>
		</table>
		<hr/ width=400px>
	</tr>
	<tr>
		<table border=1px width=400px height=10px bgcolor=white>
			<tr>
				<td width=120px>
					<b><font color=	#909090>START POINT</font></b>
				</td>
				<td class="editable">
					<% if @challenge.start_point.value? %>		
						<script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js"></script>
							<!-- dateinput styling -->
							<link rel="stylesheet" type="text/css" href="dateinput.css"/>
							<!-- HTML5 date input -->
							<p class="date" > <%= @challenge.start_point.value %>&nbsp;&nbsp;<%#= @challenge.start_point.label %></p>
							<!-- make it happen -->
						<script>
						$(".date").dateinput({
							format: 'dd-mm-yyyy',	// the format displayed for the user
							selectors: true,             	// whether month/year dropdowns are shown
							min: -100,                    // min selectable day (100 days backwards)
							max: 100,                    	// max selectable day (100 days onwards)
							offset: [10, 20],            	// tweak the position of the calendar
							speed: 'fast',               	// calendar reveal speed
							firstDay: 1                  	// which day starts a week. 0 = sunday, 1 = monday etc..
						});
						</script>
					<% end %>
					<% if @challenge.start_point.value==nil%>
					
					<% else %>							
						<%#= @challenge.start_point.value %>
					<% end %>
				</td>
				<!--
				<td width="30%">
					<%#= pt.text_field :dateStart, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
				</td>
				-->
				<!--
				<td>
					<%#= pt.text_field :dateEnd, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
				</td>
				-->
			</tr>
		</table>
		<hr/ width=400px>
	</tr>
	<tr>
		<table border=1px width=400px height=10px bgcolor=white>
			<tr>
				<td width=120px>
					<b><font color=	#909090>END POINT</font></b></td>
				<td class="editable">
					<% if @challenge.end_point.value==nil %>
					
					<% else %>
						<%= on_the_spot_edit @challenge.end_point,:value ,:type=>:text %>&nbsp;&nbsp;<%#= @challenge.start_point.label %>
					<% end %>										
				</td>
			</tr>
		</table>
		<table bg color=#f4f4f4 height="20px" >
			<tr bgcolor="orange" height=6px border=0px>
				<td bgcolor="orange"><font color="white">TAsKS</font></td>
				<td bgcolor="orange"></td>
			</tr>
		</table>
	</tr>
	<tr>
		<div id="ch_main_div2">
			<table id="mytable" border="1" bgcolor=#f4f4f4 >
				<tr bgcolor=#f5f5f5 height=20px border=0px>
					<th>
						<b><h3><font color="black">TOTAL:<%= @challenge.task_attributes.count %></font></h3></b>
					</th>
					<th colspan="3">
						<div float:right>
							<%= image_tag("btn_add_up.png", :class => "addComment", :style => "float:right; margin-right:10px;") %><p align="right" style ="margin-right:10px;">ADD A TASK</p>
						</div>
					</th>
				</tr>
				<tr bgcolor=#D7D7D7 height=20px border=0px>
					<td width="100px"><h4>POINT(s)<font color="orange">/</font>TASKS</h4></td>
					<td bgcolor=#D7D7D7 width="600px"></td>
					<td bgcolor=#D7D7D7 colspan="2"><p style="float:right";>SCORE </p></td>
				</tr>
				<% ch= 1 %>
				<tr>
					<td width="5%">		
						<% @challenge.task_attributes.each do |tsk| %>
							<% tsk.each_with_index do |task_value, task_index|%>
								<% if task_index == 3%>
									 <%= task_value[1]%> <font color="orange">/</font></br>
								<% end %>
							<% end %>								
						<% end %>
					</td>
					<!--
					<td width="5%">
						<% @challenge.task_attributes.each do |tsk| %>
							<% tsk.each_with_index do |task_value, task_index|%>
								<% if task_index == 0%>
									 <font color="orange">/</font></br>						
								<% end %>
							<% end %>								
						<% end %>
					</td>
					-->
					<td width="80%">
						<% @challenge.task_attributes.each do |tsk| %>
							<% tsk.each_with_index do |task_value, task_index|%>
								<% if task_index == 0%>
									 <%= task_value[1]%></br>						
								<% end %>
							<% end %>								
						<% end %>		
					</td>
					<td width="10%">
						<% st=0 %>
						<% @task_na=0 %>
						<% tsk_compete= 0 %>
						<% sum = 0 %>
						<% @challenge.task_attributes.each do |tsk| %>
							<% tsk.each_with_index do |task_value, task_index|%>					
								<% if task_index == 0%>
									<% @task_na= task_value[1]%>
								<% end %>
								<% if task_index == 2%>
									<% st= task_value[1]%>
								<% end %>		
								<% if task_index == 3%>
									<% if st.to_i == 0 %>
										<%= link_to "0", '#dialog' ,:name=>"modal", :style => "text-decoration: underline;" %>
					
										
										
										
										
										
										
										<div id="boxes">
											<!-- #customize your modal window here -->
											<div id="dialog" class="window">
												<%= text_field_tag "description", @challenge.description, :class => "textfield_effect_nw_tk_title" %>							
												<%= link_to "CANCEL", challenges_path, :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel"%>
												<%= link_to "UPDATE", "#", :style => "text-decoration: none; color:#fff; float:right; margin-right:5px;" ,:class => "task_links_cancel"%>						
											</div>     
											<!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
											<div id="mask"></div>
										</div>
										
										


										
									<% else%>
										<% tsk_compete += 1 %>
										<% sum += task_value[1].to_i %>
										<%= task_value[1] %></br>
									<% end %> 											
								<% end %>
							<% end %>								
						<% end %>		
					</td>
				</tr>
				<!--
				<% @challenge.task_attributes.each do |tsk| %>
				<tr>
					<% tsk.each_with_index do |task_value, task_index|%>
						<% if task_index == 2%>
							<td>
								<%= task_value[1]%></br>
							</td>
						<% end %>
						<% if task_index == 0%>
							<td>
								<%= task_value[1]%>
							</td>
						<% end %>							
					<% end %>
				</tr>
				<% end %>
				-->	
				<tr bgcolor=#f4f4f4>
					<td></td>
					<td></td>									
				</tr>
			<table>
			<table bgcolor=#f4f4f4>
				<tr bgcolor=#ffffff>
				  <td colspan="2" >
					  My Dojitsu score: <br>					  
					  <b><h4><font color="green"><%= tsk_compete %></b></font> <font color="black"><b>completed,</b></font>
				      <b><font color="orange"><%= @challenge.task_attributes.count.to_i-tsk_compete.to_i %></b></font> <font color="black"><b>remaining</b></font></h4></td>
					<td width="13%" bgcolor="#DBF0E4">
						<p align=center>
							<%= sum %>						
						</p>
					</td>
				</tr>
				<tr bgcolor=#f4f4f4>
				  <td width="47%"></td>
					<td width="40%"></td>
					<td></td>
				</tr>
				<tr bgcolor=#f4f4f4>
				  <td></td>
					<td  colspan="2"><%= link_to "MARK AS COMPLETED",  challenge_comp_challenges_path(:id=>@challenge), :style => "text-decoration: none; color:#fff; float:right" ,:class => "challenge_mark_as_c"%></td>
					<td></td>
				</tr>
			</table>
		</div >
	</tr>
</table>
</div>			
</tr>		
</table>	
<% end %>	
</div>
</div>


<div id="tooltip" class="tooltip">
	
</div>


<script>
// execute your scripts when the DOM is ready. this is a good habit
$(function() {
	// setup tooltip for a single DIV element
	$("#mytable a").tooltip({
		// each trashcan image works as a trigger
		tip: '#tooltip',

		// custom positioning
		position: 'center right',

		// move tooltip a little bit to the right
		offset: [0, 15],

		// there is no delay when the mouse is moved away from the trigger
		delay: 0
	});	
});
</script>



<script type="text/javascript">

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.defaultText.js"></script>
<script type="text/javascript" src="/js/jquery.table.addrow.js"></script>
<script type="text/javascript">
	$("document").ready(function(){
		$(".addComment").btnAddRow({rowNumColumn:"rowNumber"}),
		$(".delRow").btnDelRow()						
	});
	
	// Jquery part
	jQuery(document).ready(function($) {
 	// to get date on click
	$(":date").dateinput({
		format: 'dddd dd, mmmm yyyy',	// the format displayed for the user
		selectors: true,             	// whether month/year dropdowns are shown
		min: -100,                    // min selectable day (100 days backwards)
		max: 100,                    	// max selectable day (100 days onwards)
		offset: [10, 20],            	// tweak the position of the calendar
		speed: 'fast',               	// calendar reveal speed
		firstDay: 1                  	// which day starts a week. 0 = sunday, 1 = monday etc..
	});

	// edit a text on the spot 
	$(".editable").editable("http://www.example.com/save.php", { 
    	method : "PUT"
	});

	$(".editable").editable("http://www.example.com/save.php", { 
    	settings.submit : '<button type="submit">Save</button>'
	});

	$(".editable").editable("http://www.example.com/save.php", { 
    	settings.submit : 'Save'
	});
 	
	$('.editable1').editable({
    	type:'text',
    	submit:'update',
    	cancel:'cancel',
    	editClass:'resultItem',
    	onSubmit:end
    }); 
	
	// edit on spot 2 nd type
	$('.editable2').editable({type:'textarea',submitBy:'dblclick'}).css('background-color','#39c');
	
	$(function(){
    	$('.editable1').editable({onEdit:begin});
    	function begin(){
    		this.append('Click somewhere else to submit');
    	}
    }); 
      
	$('.editable3').editable({
    	type:'text',
    	submit:'save',
    	onSubmit:end
    }); 

	$('div.editable').editable()
	
	$(function(){
    	$('.editable1').editable({onEdit:begin});
    	function begin(){
    		this.append('Click somewhere else to submit');
    	}
    }); 
	
	// Add row for new task
	//alert("hiiiiiiiii");
	$(".alternativeRow").btnAddRow({oddRowCSS:"oddRow",evenRowCSS:"evenRow"});
	$(".delRow").btnDelRow();
	
	// Date Picker scripting code
	//alert("Date picker is working");
	$('.date-pick').datePicker({startDate:'01/01/1996'});

    $('#ch_st_date').change(function() {
		console.debug('changed...' + $(this));

	});
	
	$('#ch_ed_date').change(function() {
		console.debug('changed...' + $(this));

	});
	
	$('.chall_type').click(function(){
		if ($(this).attr("id") == "challenge_cha_type_per")
		{
			//alert($(this).attr("id"));
			$("#challenge_cha_type_per_div").show("fast");
			$("#challenge_cha_type_soc_div").hide("fast");
		}
		else
		{
			//alert($(this).attr("id"));
			$("#challenge_cha_type_soc_div").show("fast");
			$("#challenge_cha_type_per_div").hide("fast");
		}
		//$("<div></div>").appendTo("div#new_tsk_field");
	});
	
	/*
	$('#ch_ed_date').change(function() {
		var sel_val = $(this).val();
		//alert("new"+sel_val);
		//$('#ch_st_date').hide();
		if ($(this).val() == "#ch_ed_dat")
		{
			//alert("date");
			$(sel_val).show();
			$('#ch_ed_num').hide();	
		}
		else
		{
			//alert("number");
			$(sel_val).show();
			$('#ch_ed_dat').hide();
		}

	});
	
	$('#ch_ed_date').change(function() {
	var sel_val = $(this).val();
	//alert(""+sel_val);
	//$('#ch_ed_date').hide();
	$(sel_val).show();
	});
	*/

});
$('.editable2').editable({type:'textarea',submitBy:'dblclick'}).css('background-color','#39c');
</script>

<script>
$(document).ready(function() {  
 
    //select all the a tag with name equal to modal
    $('a[name=modal]').click(function(e) {
        //Cancel the link behavior
        e.preventDefault();
        //Get the A tag
        var id = $(this).attr('href');
     
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
     
        //Set height and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});
         
        //transition effect     
        $('#mask').fadeIn(1000);    
        $('#mask').fadeTo("slow",0.8);  
     
        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();
               
        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);
     
        //transition effect
        $(id).fadeIn(2000); 
     
    });
     
    //if close button is clicked
    $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
        $('#mask, .window').hide();
    });     
     
    //if mask is clicked
    $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
    });   

		
		//id is the ID for the DIV you want to display it as modal window
  launchWindow(id); 
  
  
  $(document).keyup(function(e) {
  if(e.keyCode == 13) {
    $('#mask').hide();
    $('.window').hide();
  }
});
     
});
 
</script>

<style type="text/css">
.atable{
	border-collapse:collapse;
	border:1px solid #AAA;
	width:97%;
}
.topcalss {
	background-color: gray;

}
.atable th{
	border:1px solid #AAF;
	background:#ADD8E6;
	font-weight:bold;
}

.atable td{
	padding:4px;
	border:1px solid #AAF;
}

.oddRow{
	background:#FFFFFF;
}

.evenRow{
	background:#F0F8FF;
}
.allcaps {
	font-variant: small-caps;
	text-transform: uppercase;
	font-family:"Gothem Book","Arial";
	font-size:20px;
}

#ch_main_div {
    border-color: #F4F4F4;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 10px;
    margin-top: 35px;
}

#ch_main_div1{
	border-width:60px;
  	border-style:solid;
    border-radius: 15px 15px 15px 15px;
  	border-color:#ffffff;
	margin-top:10px;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
#ch_main_div2{
	border-width:5px;
  	border-style:solid;
    border-radius: 15px 15px 15px 15px;
  	border-color:#f4f4f4;
	margin-top:10px;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
	background-color:#fffff
}

div.htmltooltip{
	position: absolute; /*leave this and next 3 values alone*/
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	background: #272727;
	border: 10px solid black;
	color: white;
	padding: 3px;
	width: 250px; /*width of tooltip*/
}

</style>


<style>
 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#999999;
  display:none;
}
   
#boxes .window {
  position:absolute;
  top:90px;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}
</style>