<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox','jquery.cluetip.css','jquery-ui','ui.progressbar','ui.theme', 'main')%>
<%= javascript_include_tag('simple-tabs','ui.progressbar.js','soc-per','on_the_spot','jquery.colorbox-min','jquery.tools.min','messages','fbWallPost')%>
<%= render 'layouts/loggedinbody'%>
<div class="challengeSubNav">
	<%= button_to "", new_challenge_url, :class => "new_challenge_button_new1", :method => :get %>
    <%= link_to "MY CHALLENGES >> ", challenges_url , :style=> "text-decoration: none; color:#666666;", :class => "challenge_link1" %>
	<%= link_to "#{@challenge.title}","#" , :style=> "text-decoration: none; color:#666666;", :class => "challenge_link1" %> 
</div>



<% if params[:isNewChallenge] == "isNew" %>
    <script> 
      $.dojitsuWallPost.renderFbWallPost();
    </script>
<% end %>    




<% if !@challenge.child_challenges.blank? && userIds = []%>
	<% for aChild in @challenge.child_challenges %>
		<% if aChild.social_type.status.nil?%>
			<% userIds.push(aChild.user_id)  %>
		<% end %>
	<% end %>
	<% if !userIds.empty? and @challenge.user_id == current_user.fbauth.uid%>

						<script type="text/javascript" charset="utf-8">
						$.dojitsu.renderSendBox(<%= "'"+@challenge.title + "'" %>, <%= "'"+userIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>, fbCallback).Replace("'", "");	

						function fbCallback(response){
							if(response == null){
							} else
							{
								var srt = '<%= params[:id] %>';
								jQuery.support.cors = true;
								$.get('/challenges/update_status_af_meg', 
									{thinking_abt:srt},
									function(data) {

									}, 'script'
								);
							}
						}
						</script>
	<% end %>
<% end %>

<div id="ch_main_div"> 
	<div id="ch_main_div1"> 
		<div style=" font-size: 25px; font-weight: bold;" class="challange"> 
			<%= on_the_spot_edit @challenge,:title%>
		</div> 
		<% unless @challenge.social_type.status.to_i == 1 %>
			<table>
				<tr >
					<td width="20px" >  
						<%= link_to image_tag("accepted.png"), update_status_challenges_path(:id => @challenge, :status=> 1), :onclick=>"fun();" %>
					</td> 
					<td width="20px" >
						<%= link_to(image_tag("declane.png"), update_status_challenges_path(:id => @challenge, :status=> -1))%>
					</td>
					<td >
						<%= image_tag("thinkbutton.png") %>
					</td>
				</tr>
			</table>
		<% end %>	
		<script>
		function fun()
		{
	
		window.fbAsyncInit();
		
        // calling the API ...
		var body = 'Reading JS SDK documentation';
FB.api('/me/feed', 'post', { message: body }, function(response) {
  if (!response || response.error) {
    alert('Error occured');
  } else {
    alert('Post ID: ' + response.id);
  }
});
      }
		</script>
		
	
		<script type="text/javascript">
			 
			$(document).ready(function(){
			$("#image1").hide();
			$("#image2").hide();
			$("#image3").hide();
			$("#image4").hide();
			  $("#description").mouseover(function(){
				$("#image1").show();
				 
			  });
			$("#organizer").mouseover(function(){
				$("#image2").show();
				 
			  });
				$("#startdate").mouseover(function(){
				$("#image3").show();
				 
			  });
			$("#enddate").mouseover(function(){
				$("#image4").show();
				 
			  });
			$(document).mouseout(function(){
			$("#image1").hide();
			$("#image2").hide();
			$("#image3").hide();
			$("#image4").hide();
			 });
			 });

		</script>
	<div>
	<table id="description">
		<tr>
			<td height="34px" height="34px" width="15%">
				<b><font color= #999999>DESCRIPTION</font></b></td>
			<td width="73%">
				<b style="color:#666666;"><%= on_the_spot_edit @challenge,:description , :type=>:textarea  %></b>
			</td>
			<td width="12%">
				<span id="image1"><%= image_tag("icon_edit.png") %></span>
			</td>
		</tr>
	</table>
</div>	
<div>
	<table id="organizer">
		<tr>
			<td height="34px" width="15%" class="titles">
				<b ><font color= #999999>ORGANIZER</font></b>
			</td>
			<td width="73%">
				<% if @challenge.instance_of?ChildChallenge%>
					<%  @parentChallenge = Challenge.where(:_id => @challenge.challenge_id).first%>
					<script>
						var ordId = <%=  orgId = @parentChallenge.user_id %>
					</script>
					<b style="color:#666666;"><%= FbGraph::User.new(@parentChallenge.user_id).fetch.name %></b>
				<% else %>	
					<b style="color:#666666;" id="user_name"></b>
					<script>
						var ordId = <%=  orgId = @challenge.user_id %>
					</script>
				<% end %>	
			</td>
			<td  width="12%">
				<span id="image2">
				<% if @challenge.instance_of?ChildChallenge || @challenge.user_id != current_user.fbauth.uid %>
					<%= image_tag("btn_msg_up.png", :onclick=>"contactToOrganizer(ordId)" ) %>
				<% end %>
				</span>
			</td>
		</tr>
		<tr>
			<hr/>
		</tr>
	</table>
</div>
<div>
	<hr/>
</div>
<div>
	<table id="startdate">
		<tr>
			<td height="34px" width="15%">
				<b><font color= #999999>START POINT</font></b>
			</td>
			<td width="73%">
				<% if @challenge.start_point.instance_of?PointDateType %>		
					 <b style="color:#666666;"><%= @challenge.start_point.value.strftime("%b %d, %Y") %> </b>
				<% else %>							
					<b style="color:#666666;"><%= @challenge.start_point.value.to_i %></b>
				<% end %>
			</td>
			<td  width="12%">
				<span id="image3"><%= image_tag("icon_edit.png") %></span>
			</td>
		</tr>
	</table>
</div>			
<div>
	<hr/>
</div>
<div>
	<table id="enddate">
		<tr> 
			<td height="34px" width=130px>
				<b><font color= #999999>END POINT</font></b>
			</td>
			<td>
				<% if @challenge.end_point.instance_of?PointDateType %>		
					<b style="color:#666666;"><%= @challenge.end_point.value.strftime("%b %d, %Y") %></b>
				<% else %>							
					<b style="color:#666666;"><%= @challenge.end_point.value.to_i %></b>
				<% end %>
			</td>
			<td  width="12%">
				<span id="image4"><%= image_tag("icon_edit.png") %></span>
			</td>
		</tr>
	</table>
</div>
<div>
	<hr/>
</div>	
<table>
	<tr  height="34px" >
		<td width="130px" class="titles">
			<b><font color= #999999>PARTICIPANTS</b></font>
		</td>
		<td>
		<% if @challenge.social_type.status == 1 &&  @challenge.class.to_s == "ChildChallenge" %>
				<b style="color:#666666;"><%= @challenge.parent.child_challenges.length %>&nbsp;&nbsp;&nbsp;<%= link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %></b>
			<% else %>
				<% if @challenge.social_type.status == 1 %> 
					<b style="color:#666666;"><%= @challenge.child_challenges.length %></b>
					&nbsp;&nbsp;&nbsp;<%= link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %>
				<% else %>
					<b style="color:#666666;"><%= @challenge.parent.child_challenges.length %>&nbsp;&nbsp;&nbsp;<%= link_to " Total Score ", scoreboard_main_challenges_path(:id => @challenge.id) %></b>
				<% end %>
		<% end %>
		</td>
		
	</tr>
</table>
<input type="hidden" name="thinking_abt" id="thinking_abt" value="<%= @challenge.id %>"> 
<table width="100%" border="0" style="margin-top:0px;">
	<tr>
		<td colspan="3">
			<ul class="tabs">
				<li><a href="#tab1"><b>TASKS</b></a></li>
				<li><a href="#tab2"><b>PEOPLE</b></a></li>
			</ul>
			<div class="tab_container">
				<div id="tab1" style="background:#F5F5F5;" class="tab_content">
					<% if(@challenge.social_type.status? and @flg.to_s == "ed") %>
						<%= render :partial=> "challenges/tasks_edit" %>
					<% else %>
						<%= render :partial=> "challenges/tasks" %>																										
					<% end %>
				</div>
				<div id="tab2" style="background:#F5F5F5;" class="tab_content">
					
				
					
					
					<script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"> </script>

			<div class="tables">

				<table>
					<td width="47%">
							<label for="search">
							<strong>

							<% if  @challenge.class.to_s == "Challenge" %>
																<font size="4" color="#8c8c8c"><b  id="total">Total: <%= @challenge.child_challenges.length %></b></font>
															<%else %>
																<font size="4" color="#8c8c8c"> <b  id="total">Total: <%= @challenge.parent.child_challenges.length %></b></font>
															<% end %>
															<% if @challenge.instance_of?Challenge %>
																<%= image_tag("btn_msg_up.png", :style=>"margin-left:10px; position:relative; top:5px;" ,:onclick=>"contactToInvitee()")%>
															<% end %>
															
							</strong>

							</label>
					</td>
					<td><input type="text" id="search"/></td>
					<td><div class="styled-select"> <select>
							<option value="volvo">ALL</option>
							<option value="saab">ACCEPTED</option>
							<option value="mercedes">PENDING</option>
							<option value="audi">DECLINED</option>
						</select> </div>
						
						
					</td>
					<td>
					<%= image_tag ("searchbutton.PNG") %>
					</td>
				</table>
				


				<table width="100%" id="tblData" class="sortable" border=1>
				<thead>
				<tr>

				<th width="85%"><b style="position:relative; color:#666666; padding-left:20px; " >NAME</b></th>
				<th width="15%"><b style=" color:#666666;  " >STATUS </b></th>
				</tr>
				</thead>
				<tbody bgcolor="#ffffff">
				  <%if @challenge.parent .nil? %>
											   <% childChallenges =  @challenge.child_challenges %>
											  <%else%>
											   <%childChallenges =  @challenge.parent.child_challenges %>
											   <%end%>                      
												  <% childChallenges.each do |aChildChallenge| %>

				<tr>

						<td ><%=image_tag FbGraph::User.new(aChildChallenge.user_id).fetch.picture %> <a href="#"  id="ahref"><%= FbGraph::User.new(aChildChallenge.user_id).fetch.name %></a></td>
						<td >  <% if aChildChallenge.social_type.status.nil? or aChildChallenge.social_type.status == 0 %>
																	<%= image_tag  "icon_thinking.png"  %>
															   <% elsif aChildChallenge.social_type.status == 1 %>
																	<%= image_tag  "icon_accept.png"  %>
															   <% else %>
																	<%= image_tag "icon_decline.png"  %>
															   <% end %>
						</td>

				</tr>
				<% end %>
				</tbody>
				</table>
				</div>
				
				<script type="text/javascript">
							$(document).ready(function()
							{
								$('#search').keyup(function()
								{
									searchTable($(this).val());
								});
							});
							function searchTable(inputVal)
							{
								var table = $('#tblData');
								table.find('tr').each(function(index, row)
								{
									var allCells = $(row).find('td');
									if(allCells.length > 0)
									{
										var found = false;
										allCells.each(function(index, td)
										{
											var regExp = new RegExp(inputVal, 'i');
											if(regExp.test($(td).text()))
											{
												found = true;
												return false;
											}
										});
										if(found == true)$(row).show();else $(row).hide();
									}
								});
							}
						</script>

					
								  
				</div> 
				
				<script>
				$(document).ready(function() 
				{ 
					$("#btnFilter").click(function() 
					{ 
						var selection = $("#catSelect").val(); 
						 if (selection == "all") 
						{ 
							$(".item").show(); 
						} 
						else 
						{ 
							$(".item").hide(); 
							$("."+selection).show(); 
						} 
					}); 
				});
				</script>                           
				<style type="text/css">
				
				 #ahref
				{     
				color: #666666;
				font-weight: bold;
				top: -20px;
				position:relative;
				}
				</style>                
				
				
			</div>
					
		</td>
	</tr>
</table>  
<% orgIds = "" %>
	<script> 
		window.fbAsyncInit();
		FB.getLoginStatus(function(response) { 
		if (response.session)
        { 
		   globaluserid=response.session["uid"]; 
		   name=globaluserid;
		}
		}
		);
		<% @challenge.child_challenges.each do |aTask| %>
						 var len = <%= @challenge.child_challenges.length %>
		var img = <%= aTask.user_id %>
						  FB.api({
				method: 'fql.query',
				query: 'SELECT name,pic_square FROM user WHERE uid=' + img
			}, function(response){
			htmlcontent = '<img src=' + response[0].pic_square + ' />'+ response[0].name ;
			 tableopen='<table>';
			 tropen='<tr>';
			 tdopen='<td >';
			 tdclose='</td>';
			 tdopen1='<td id="friendsstatus" >';
			 tdclose1='</td>';
			 trclose='<tr>';
			 tableclose='</table>'
			 hr = '<hr/>';
			 $("#friendlist").append(tableopen);
					$("#friendslist").append(tropen);
					$("#friendslist").append(tdopen);
					 $("#friendslist").append(htmlcontent);
					 $("#friendslist").append(tdclose);
					<% @challenge.child_challenges.each do |aTask| %>
						<% if aTask.user_id %>
							<% if aTask.social_type.status == 1  ||  @challenge.user_id == aTask.user_id %>
											status='<%= image_tag ("icon_accept.png") %>';
								<% else %>
								<% if aTask.social_type.status == 0 %>
											status='<%= image_tag ("icon_thinking.png") %>';
								<% else %>
											status='<%= image_tag("icon_decline.png") %>';
								<% end %>
							<% end %>
						<%end%>
								<%end%>		
					 $("#friendsstatus").append(tdopen1);
					 $("#friendsstatus").append(status);
					 $("#friendsstatus").append(tdclose1);
					 $("#friendslist").append(trclose);
					$("#friendslist").append(tropen);																
					$("#friendslist").append(hr);  
					$("#friendslist").append(trclose);
					 $("#friendslist").append(tableclose); 
			});
 <%end %>
				var user = <%= @challenge.user_id %>
					FB.api({
						method: 'fql.query',
					query: 'SELECT name FROM user WHERE uid=' +user
				}, function(response){
				htmlcontent =response[0].name ;
						$("#user_name").append(htmlcontent);    
			});
</script>


<script>
	$('.task_update_popup').colorbox();
	$('.add_task_popup').colorbox();
	
// execute your scripts when the DOM is ready. this is a good habit
$(function() {
	// setup tooltip for a single DIV element
	$("#mytable a").tooltip({
		// each trashcan image works as a trigger
		tip: '#tooltip',

		// custom positioning
		position: 'center right',

		// move tooltip a little bit to the right
		offset: [0, 15],

		// there is no delay when the mouse is moved away from the trigger
		delay: 0
	});	
	     
	document.getElementById('feedform_user_message').live('click', function(){alert($(this))});

});
</script>

<style>
	.table{
		background:#ffffff;
	}
</style>
<% if @challenge.class.to_s == "ChildChallenge" || @challenge.user_id != current_user.fbauth.uid %>
<script>
	function contactToOrganizer(orgId)
	{
		$.dojitsu.renderSendBox(<%= "'"+@challenge.title.gsub("'","") + "'" %>, <%= "'"+orgId+"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%= "'"+ challenge_url(@challenge) +"'"%>);	
	}
</script>
<% end %>

<!--
<% if @challenge.class.to_s == "ChildChallenge" %>
	<%= parentId = @challenge.user_id %>
	<% inviteeChildIds = [] %>
	<% for aParentChild in @challenge.parent.child_challenges %>
		<%= inviteeChildIds.push(aParentChild.user_id) %>
		<%= inviteeChildIds.pop(1) %>
	<% end %>
<% end %>
-->
<% if !@challenge.child_challenges.blank? && inviteeIds = []%>
	<% for aChild in @challenge.child_challenges %>
		<% inviteeIds.push(aChild.user_id)  %>
		<script>
			function contactToInvitee()
			{
				$.dojitsu.renderSendBox(<%= "'"+@challenge.title.gsub("'","") + "'" %>, <%= "'"+inviteeIds.join(",") +"'"%>, <%= "'http://www.dojitsu.com" + "'"%>, <%=	"'"+ challenge_url(@challenge) +"'"%>);		
			}
		</script>
	<% end %>
<% else %>
	
<% end %>

<script type="text/javascript">
	function changeVal(str,score) {
		var tot_score = str*score;
		$("#tatal_s").val(tot_score);
	}
	
	$(document).ready(function(){
		$(".addRow").btnAddRow();
		$(".delRow").btnDelRow();
		
		$('.soc_add_task_popup').colorbox();
		
});
</script>
<style>
	.button_edit{ background:#f8981d; color:#ffffff; }
	.cancel_edit{ background:#999999; color:#ffffff; }
	
</style>

