<%= stylesheet_link_tag('colorbox')%>
<%= javascript_include_tag('jquery.colorbox-min')%>

<%= render 'layouts/loggedinbody'%>

<% if @challenge.nil? %>
	<p>no challenge selected</p>
<% else %>
	<p>
		<%= @challenge.title %>
	</p>
<% end %>

<p><%= link_to "View All", challenges_url %></p>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		//popup for task
		//alert("Add task pupup working");
		$('.add_task_popup').colorbox();	
	});
</script>