<%= stylesheet_link_tag('main','simple-tabs')%>
<%= javascript_include_tag('simple-tabs')%>
<%= javascript_include_tag('simple-tabs','jquery.table.addrow','jquery.datePicker','date','jquery.editable-1.3.3','on_the_spot','jquery.ezpz_tooltip','jquery.ezpz_tooltip.min.js')%>
<%= render 'layouts/loggedinbody'%>
<br><br>
<div id="ch_main_div">
			<div id="ch_main_div1">
						<div class="challange">
							<%= @challenge.title%>
						</div>
			
			
						<div>
							<table>
									<tr >
										<td width="20px" >
											<%= image_tag ("accepted.png") %>
										</td> 
										<td width="20px" >
											<%= image_tag ("declane.png") %>
										</td>
										<td >
											<%= image_tag ("thinkbutton.png") %>
										</td>
									</tr>
							</table>	
						</div>
			
			
						<div>
							<table >
									<tr>
										<td width="100px" heigh="50px">
											<b><font color= #909090>DESCRIPTION</font></b></td>
										<td width="500px">
										<pre ><%= on_the_spot_edit @challenge,:description , :type=>:textarea ,:rows => 10, :columns => 55  %></pre>
										</td>
									</tr>
							</table>
						</div>
			
						<div>
								<table>
											<tr>
												<td width="100px" class="titles">
													<b><font color= #909090>ORGANIZER</font></b>
												</td>
												<td id="username">
												</td>
											</tr>
											<tr><hr/>
											</tr>
								</table>
						</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
								<table>
										<tr>
											<td width=120px>
													<b><font color= #909090>START POINT</font></b>
											</td>
											<td>
												<%= on_the_spot_edit @challenge.start_point,:value ,:ok_text=>:update,:tooltip=>:"date formate sholud be yyyy-mm-dd"%> 
											</td>
										</tr>
								</table>
					</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
							<table>
								<tr> 
									<td width=120px>
										<b><font color= #909090>END POINT</font></b>
									</td>
									<td>
										<%= @challenge.end_point.value %>
									</td>
								</tr>
							</table>
					</div>
			
					<div>
						<hr/>
					</div>
			
					<div>
							<table>
								 <tr>
		<td width="100px" class="titles">
			<b><font color= #909090>PARTICIPANTS</b></font>
		</td>
		<td> 30 </td>
	</tr>
</table>
<table>
	<tr>
    		<td colspan="1">
    				<ul class="tabs">
    					<li><a href="#tab1"><b>TASKS</b></a></li>
    					<li><a href="#tab2"><b>PEOPLE</b></a></li>
					</ul>
				<br>

				<div class="tab_container">
						<div id="tab1" class="tab_content">
								<table border="0">
										<tr>
												<td>
													<table border="1">
														<tr bgcolor=#f5f5f5 height=20px border=0px>
															<th><b><h3><font color="black">TOTAL:<%= @challenge.tasks.count %></font></h3></b><%#= link_to render(:partial => 'challenges/message'), root_url %></th>
															<th colspan="3"><%= image_tag("btn_add_up.png")%></th>
														</tr>
														<tr bgcolor=#D7D7D7 height=20px border=0px>
															<td width="50px">
																<h4>POINT(s)<font color="orange">/</font>TASKS</h4>
															</td>
															<td width="700px" bgcolor=#D7D7D7> 
															</td>
															<td bgcolor=#D7D7D7>
																<p style="float:right";>SCORE </p>
															</td>
															<td bgcolor=#D7D7D7>
															</td>
													   </tr>
																  
																  <% sum = 0 %>
																   
																<%   len=@challenge.tasks.length %>
													
																<% @challenge.tasks.each do |aTask| %>
																<% aTask.score %>
													<tr>
															<td>       
																 	<%= aTask.score %>
															</td>
															<td>
																<%= aTask.name %>
															</td>
																<td>
																<%#= aTask.score_by %>
															</td>
															<td align="right">
																	<%= image_tag("btn_delete_up.png", :class => "delRow", :style => "float:right; margin-top:12px;") %>
															</td>
													  </tr>
														  <% end %>
														
											     </table>
								            </td>		
  							         </tr>	
						      </table>
    				   </div>
					   <div>
					   <br>
					   </div>
    					<div id="tab2" class="tab_content">
       						<table width="100%" border="0">
  								<tr>	
									<td>
												<table bgcolor=#F4F4F4>
													<tr bgcolor=#F4F4F4>
														<td width=250px">TOTAL:
														</td>
														<td><input type="text">&nbsp;
															<select>
															<option value="volvo">ALL</option>
															<option value="saab">ACCEPTED</option>
															<option value="mercedes">PENDING</option>
															<option value="audi">DECLINED</option>
															</select> 
															</td>
															<td>
															<%= image_tag("search.png", :class => "delRow", :style => "float:leftt; margin-top:12px;") %>
														</td>
													</tr>
												</table>
									
    									<script type="text/javascript" src="../includes/js/jquery.min.js"></script>  
										<script src="http://connect.facebook.net/en_US/all.js"></script>  
												<div id="fb-root"></div> 
														<table  border="0"> 
															<tr bgcolor=#F4F4F4>
																			<td>
																				NAME
																			</td>
																			<td align="right">
																				STATUS
																			</td>
															</tr>
															<tr> 
																<td align="left"> 
																		<div id="friendslist"></div> 
																</td> 
															</tr> 
														</table> 
														</td>
														</tr>
														</table>
														</div>
														</div>

    <script> 
     
    FB.init({ 
     
    appId  : '232592880122189', 
     
    status : true, // check login status 
     
    cookie : true, // enable cookies to allow the server to access the session 
     
    xfbml  : true  // parse XFBML 
     
    }); 
     
    FB.getLoginStatus(function(response) { 
     
            if (response.session)
            { 
                       globaluserid=response.session["uid"]; 
					   name=globaluserid;
					    $("#username").append(name);
                      FB.api( 
                         
                                    { 
                                     
                                    method: 'fql.query',
                                    
                                    query: 'SELECT uid1 FROM friend WHERE uid2='+globaluserid
                                    
                                    },
                        
                                    function(response)
                                    {
                                            var a=response.length;
                                             for(i=0;i<a;i++)
                                             {
                                               
                                                        FB.api({
                                                       
                                                            method: 'fql.query',
                                                           
                                                            query: 'SELECT name,pic_square FROM user WHERE uid=' + response[i].uid1
                                                       
                                                        }, function(response){
                                                               
                                                                htmlcontent = '<img src=' + response[0].pic_square + ' title=' + response[0].name + ' />';
                                                                htmlcontent1 ='<b>'+ response[0].name;+'</b>'
                                                                htmlcontent3='<table>';
                                                                htmlcontent4='<td>';
                                                                htmlcontent5='</td>';
                                                                htmlcontent6='</table>'
                                                                htmlcontent2 = '<br/>';
																htmlcontent2 = '<hr width="800px">';
                                                               
                                                                $("#friendslist").append(htmlcontent3);
                                                                $("#friendslist").append(htmlcontent4);
                                                                $("#friendslist").append(htmlcontent);
                                                               
                                                                $("#friendslist").append(htmlcontent1);
                                                                $("#friendslist").append(htmlcontent5);
                                                                $("#friendslist").append(htmlcontent6);
                                                               
                                                           
                                                                $("#friendslist").append(htmlcontent2);
                                                               
                                                               
                                                       
                                                        });
                                                       
                                                   
                                             
                                             } 
                                     
                                    } 
                         
                        ); 
             
            }
            else
            { 
                   top.location.href="../kfb_login.php"; 
     
            } 
     
    }); 
     
    </script>
	 
</div>
</div>
