<%= stylesheet_link_tag('main')%>
<%= javascript_include_tag('simple-tabs')%>
<%= render 'layouts/loggedinbody'%>
<br><br>
<div id="ch_main_div">
 <div class="challange">
 	<%= @challenge.title%>
 </div>
 <table>
 	<tr >
 		<td width="20px" >
			<%= button_to  "", new_challenge_url ,  :class => "accept_request", :method => :get %>
 	</td> 
		<td width="20px" >
 			<%= button_to  "", new_challenge_url ,  :class => "decline_request", :method => :get %>
		</td>
 		<td >
 			 <%= button_to  "", new_challenge_url ,  :class => "think_request", :method => :get %>
		</td>
	</tr>
</table>	
<table >
	<tr>
		<td width="100px" heigh="50px"><b><font color= #909090>DESCRIPTION</font></b></td>
		<td>
			<%= text_area_tag "hi", @challenge.description, :style =>"max-width: 300px; min-width: 96%; width: 790px; height: 79px;", :readonly => "readonly"  %>
		</td>
	</tr>
	<tr>
		<td width="100px" class="titles"> <b><font color= #909090>ORGANIZER</font></b></td>
		<td>
		</td>
	</tr>
	<!--<tr>
		
			
				<td width="100px" class="titles">STARTING POINT LABEL</td>
				<td><%#= st.st_label %></td>
				<td width="100px" class="titles">STARTING POINT VALUE</td>
				<td><%= @challenge.start_point.value %></td>
			
				<td width="100px" class="titles">STARTING POINT </td>
				<td><%#= st.st_value1 %></td>
			
		
	</tr>-->
	<tr>
       <td width=120px><b><font color= #909090>START POINT</font></b></td>
       <td>
   			
			
    			
   			
    			
    			<%= @challenge.start_point.value %> 
    	
    		
		</td>
    </tr>
    <!--
    <td width="30%">
     <%#= pt.text_field :dateStart, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
    </td>
    -->
    
    <!--
    <td>
     <%#= pt.text_field :dateEnd, :class => "textfield_effect  date-pick", :id => "on_focus_textfield" %>
    </td>
    -->
    <tr> 
		<td width=120px>
			<b>
				<font color= #909090>END POINT</font>
			</b>
		</td>
		<td>
      	
    			<%= @challenge.start_point.value %>
    			
        </td>
     </tr>
     <tr>
		<td width="100px" class="titles">
			<b><font color= #909090>PARTICIPANTS</b></font>
		</td>
		<td> 30 </td>
	</tr>
</table>
<table>
	<tr>
    		<td colspan="1">
    				<ul class="tabs">
    					<li><a href="#tab1">TASKS</a></li>
    					<li><a href="#tab2">PEOPLE</a></li>
					</ul>

					<div class="tab_container">
    					<div id="tab1" class="tab_content">
    						<table width="100%" border="0">
  								<tr>
  									<td>
  										<table border="1">
      <tr bgcolor=#f5f5f5 height=20px border=0px>
       <th><b><h3><font color="black">TOTAL:</font></h3></b><%= link_to render(:partial => 'challenges/message'), root_url %></th>
       <th colspan="3"><%= image_tag("btn_add_up.png", :class => "addComment", :style => "float:right; margin-right:20px;") %></th>
      </tr>
      <tr bgcolor=#D7D7D7 height=20px border=0px>
      
       <td width="50px"><h4>POINT(s)<font color="orange">/</font>TASKS</h4>
       </td>
       <td width="700px" bgcolor=#D7D7D7> 
       </td>
       <td bgcolor=#D7D7D7><p style="float:right";>SCORE </p></td>
	   <td bgcolor=#D7D7D7></td>
      </tr>
      <% ch= 0 %>
      <% sum = 0 %>
      <% for ch in ch..@challenge.task_point.length %>
      <tr>
      
       <td>       
       <%=  @challenge.task_point[ch] %>
       <% sum +=  @challenge.task_point[ch].to_i %>
       
        </td>
       <td>

<%= @challenge.task_description[ch] %>

</td>
       <td>
        <%= image_tag("btn_delete_up.png", :class => "delRow", :style => "float:right; margin-top:12px;") %>
       </td>
      </tr>
     
<% end %>
     </table>
</td>		
  								</tr>	
							</table>
    					</div>
    					<div id="tab2" class="tab_content">
       						<table width="100%" border="0">
  								<tr><td>
    							<div class="ch_main_div">
    									<script type="text/javascript" src="../includes/js/jquery.min.js"></script>  
    <script src="http://connect.facebook.net/en_US/all.js"></script>  


<div id="fb-root"></div>  
       
    <table width="100%" border="0">  
      
    <tr>  
      
    <td align="left">  
      
    <div id="friendslist"><table id="class"><script > for (i=0;i<125;i++)</script><td id="here"></td><script>end</script></div>  
      
    </td>  
      
    </tr>  
      
    </table>  

    <script>  
      
    FB.init({  
      
    appId  : '232592880122189',  
      
    status : true, // check login status  
      
    cookie : true, // enable cookies to allow the server to access the session  
      
    xfbml  : true  // parse XFBML  
      
    });  
      
 FB.getLoginStatus(function(response) {  
      
    if (response.session) {  
      
    //getting current logged in user's id from session object  
      
    globaluserid=response.session["uid"];  
	//alert(globaluserid);
      
    //fetching friends uids from 'friend' table. We are using FB.api syntax  
      
    FB.api(  
      
    {  
      
    method: 'fql.query', 
     
    query: 'SELECT name FROM user WHERE uid='+globaluserid 
     
    }, 
     
    function(response) { 
	//alert(response.requests_id);
      htmlcontent='<img src=>'+response[0].name+' </a>';  
	  alert(htmlcontent);
    //once we get the response of above select query we are going to parse them 
     
    for(i=0;i<response.length;i++) 
     
    { 
     var l = response.length
    //fetching name and square profile photo of each friends 
     
    FB.api( 
     
    { 
     
    method: 'fql.query', 
     
    query: 'SELECT name,pic_square,first_name,last_name FROM user WHERE uid='+response[i].uid1 
	 
     
    }, 
     
    function(response) { 
     
    //creating img tag with src from response and title as friend's name  
      
    htmlcontent='<img src=>'+response[0].name+' </a>';  	
      
	  //alert(response[0].request_ids);
	  //alert(response[0].first_name);
    //appending to div based on id. for this line we included jquery  
      
    $("#here").append(htmlcontent);  
      
    }  
      
    );  
      
    }  
      
    }  
      
    );  
      
    } else {  
      
    // no user session available, someone you dont know  
      
    top.location.href="../kfb_login.php";  
      
    }  
      
    });  

    </script>  
	
	
	
	
	   
	 
					<div id="fb-root"></div>	
    							</div>								
    							<br></div>
								<div class="sample">
    								NAME
    								</div>
									<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>

<script>
	(function(d, s, id){
	
  	var js, fjs = d.getElementsByTagName(s)[0];
	
  	if (d.getElementById(id)){
	alert(s);
	ch=d.getElementById(id);
	return;}
	
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=232592880122189";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	
	<br>
    								
									
    							</div>
									
									</td>
  								</tr>
							</table>  
    					</div>
					</div>
    			</td>
  			</tr>	
	</table>

</div>
