<table>
<% if @challenge.class.to_s == "ChildChallenge" %>
		<div>
	 <% winners_Count= @id.social_type.how_many_winners%>
		<%  nooftrophies=winners_Count.to_i %>
		<% Challenge.winner(@challenge.parent.id).each do |winner| %>
		<tr>
					
				 <td width="50%">
					<%= image_tag FbGraph::User.new(winner[0]).fetch.picture %><span style="position:relative; font-weight:bold; top:-15px; padding-left:10px; "><%= FbGraph::User.new(winner[0]).fetch.name %></span>
				 </td>
				 <td width="25%"> <% for i in 1..nooftrophies%>
							<%= image_tag ("icon_trophy.png") %>
						<% end %>
						
						<% nooftrophies-=1 %>
				 </td>
				 <td width="25%">
					<b><%= winner[1] %></b>
				 </td>
				 
		</tr>
		<tr>
		<td colspan=3><hr width="100%"></td>
		</tr>
	   <%end%>
	</div>
<% else %>
<div>
 <% winners_Count= @challenge.social_type.how_many_winners%>
	<%  nooftrophies=winners_Count.to_i %>
	<% Challenge.winner(@challenge.id).each do |winner| %>
			<tr>
					
				 <td width="50%">
					<%= image_tag FbGraph::User.new(winner[0]).fetch.picture %><span style="position:relative; font-weight:bold; top:-15px; padding-left:10px; "><%= FbGraph::User.new(winner[0]).fetch.name %></span>
				 </td>
				 <td width="25%"> <% for i in 1..nooftrophies%>
							<%= image_tag ("icon_trophy.png") %>
						<% end %>
						
						<% nooftrophies-=1 %>
				 </td>
				 <td width="25%">
					<b><%= winner[1] %></b>
				 </td>
				 
			 </tr>
			 <tr>
				<td colspan=3><hr width="100%"></td>
			</tr>
   <%end%>
</div>
<% end %>
</table>