<header>
	<nav class="round">
		<ul>					
			<li><%= link_to "Home", root_path %></li>				
			<li><%= link_to "Challenges", challenges_path %></li>  
			<% if !current_user.nil? %>                        
			<li>
				Signed in as <%= current_user.email %>. Not you?            
			</li>
			<li>
				<%= link_to "Sign out", destroy_user_session_path %>
			</li>
			<% else %>
			<li>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
			</li>	
			<% end %>
		</ul>
	</nav>
</header>