<div class="span-24 header first">&nbsp;</div>
<div class="span-24">
	<% if !current_user.nil? %>
      		<%= image_tag((current_user.authentications[0].image_path rescue ""), :style => "float:right", :alt => "Profile") %><br>
   	<% else %>
      		<%= link_to(image_tag("logo.png", :style => "float:left", :alt => "Home"), root_path) %>
    <% end %>
<div>
	<% if !current_user.nil? %>
		<div class="logo_globalheader">
				<%= link_to(image_tag("logo.png")) %>
		</div>
		<div class="popup_globalheader">	
				<%= current_user.authentications[0].name rescue current_user.fname%></br>
				<%= link_to "Log out", destroy_user_session_path %>								
		</div>
	<% else %>
		<%= link_to "", "", :class=> "login1", :style => "float:right" %>
		<%= link_to "", "/users/sign_up", :class=> "register1", :style => "float:right" %>
		<%= button_to "", "/users/auth/facebook", :class=> "facebook", :style => "float:right" %>
	  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		
    <% end %>
	</div>
</div>