<div class="span-24 header first">&nbsp;</div>
<div class="span-24">
	<% if !current_user.nil? %>
      		<%= image_tag((current_user.authentications[0].image_path rescue ""), :style => "float:right", :alt => "Profile") %><br>
   	<% else %>
      		<%= link_to(image_tag("dojitsu_logo.png", :style => "float:left", :alt => "Home"), root_path) %>
    <% end %>
<div>
	<% if !current_user.nil? %>
		<div class="logo_globalheader">
				<%= link_to(image_tag("logo.png")) %>
		</div>
		<div class="popup_globalheader">	
				<%= current_user.authentications[0].name rescue current_user.fname%></br>
								
		</div>
	<% else %>
		<%= button_to "", "/users/auth/facebook", :class=> "new_button1", :style => "float:right" %>
    <% end %>
	</div>
</div>
<style type="text/css">

</style>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
$(".popup_globalheader").hover( function() {
$("#opaque").css('display','block');
}, function() {
	setTimeout(3);
$("#opaque").hide();
});
});
</script>

<div id='opaque' style='display:none; width:80px; background:#fff; left:830px;top:52px;position:absolute; border:1px solid black;'><%= link_to "Log out", destroy_user_session_path %></div>