<header>
  <nav class="right">
    <ul>
      <% if !current_user.nil? %>
        <li>
          Hello, <%= current_user.email %>!
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li><li>
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </nav>
  <nav class="left">
    <ul>
      <% if !current_user.nil? %>
        <li>
          user picture goes here...
        </li>
      <% else %>
        <li>
          <%= link_to(image_tag("dojitsu_logoX1.png", :class => "appLogo", :alt => "Home"), root_path) %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>