<%= stylesheet_link_tag('fb_logout')%>
<%= javascript_include_tag('_globalheader') %>

<div class="span-24 header first">&nbsp;</div>
<div class="span-24">      
	<% if !current_user.nil?%> 
	<%= image_tag((current_user.facebook.picture), :style => "float:right", :alt => "Profile") %><br>
	<% else %>                                                                                       
	<%= link_to(image_tag("logo.png", :style => "float:left", :alt => "Home"), root_path) %>
	<% end %> 

	<div>
		<% if !current_user.nil? %>
		<div class="logo_globalheader">
			<%= link_to(image_tag("logo.png")) %>
		</div>
		<div class="popup_globalheader">	
			<ul id="nav">
					<li><a href="#" class="selected"><div><%= current_user.authentications[0].name %>&nbsp;<%=image_tag("nav-arrow.png")%></div> </a>
						<ul>
							<li><%= link_to "Log out", destroy_user_session_path %></li>	
						</ul>
					</li>
					
				</ul>					
		</div>
		<% else %>   
		<div class="authnav">
			<ul>
				<li>
					<%= link_to image_tag("loginbutton.png", :alt => "Connect Facebook"), user_omniauth_authorize_path(:facebook, :display=>"page"),  :title=>"Connect Facebook"%>		
				</li>
				<!-- <li>                                                                                                                                         
				<%= link_to image_tag("register.PNG", :alt => "Register"), new_user_registration_path,  :title=>"Register", :style => "float:right"%>
				</li>                                                                                                                                            
				<li>                                                                                                                                         
				<%= link_to image_tag("login.PNG", :alt => "Login"), new_user_session_path,  :title=>"Login", :style => "float:right"%>
				</li>  -->                                                                                                                               
			</ul>
		</div>
		<% end %>
	</div>                                                                                       
	<div id="fb-root" />
</div>

