<div class="span-24 header first">&nbsp;</div>
<div class="span-24">
	<% if !current_user.nil? %>
      		<%= image_tag((current_user.authentications[0].image_path rescue ""), :style => "float:right", :alt => "Profile") %><br>
   	<% else %>
      		<%= link_to(image_tag("dojitsu_logo.png", :style => "float:left", :alt => "Home"), root_path) %>
    <% end %>
<div>
	<% if !current_user.nil? %>
		<div class="logo_globalheader">
				<%= link_to(image_tag("logo.png")) %>
		</div>
		<div class="popup_globalheader">	
				<%= current_user.authentications[0].name rescue current_user.fname%></br>
				<%= link_to "Log out", destroy_user_session_path %>								
		</div>
	<% else %>        
		<%= link_to "Login", new_user_session_path, :style => "float:right" %>
		<!--
		<%= button_to "", "/users/auth/facebook", :class=> "new_button1", :style => "float:right" %>
		-->
    <% end %>
	</div>
</div>