<body>      
<div class="dojo-navbar">
    <nav class="navbar">
     <div class="menu">
    	  <ul>
    			 <li id="check">
     
				       <%= link_to "DASHBOARD", dashboard_index_path, :id =>"check" ,:class => "selectable" %>
				     </li>
				      
				     <li id="check">
				     
				      <%= link_to "MANAGE DOJO", user_connections_path, :id =>"check" , :class => "selectable"%>
				    </li>
				     <li id="check">
				      <%= link_to "CHALLENGES", challenges_path, :id =>"check" , :class => "selectable"%>
				    </li>
				     <li id="check">
				      <%= link_to "MESSAGES", messages_path, :id =>"check" , :class => "selectable"%>
				     </li>
				     <li id="check">
				      <%= link_to "MY PROFILE", :edit_user_registration, :id =>"check" , :user => current_user, :class => "selectable"%>
   					 </li>
    
      </ul>
     </div>
    </nav>
    </div>
  </body>