<div class="span-24 dojo-navbar">
  <ul class="span-24 dojo-menu">
    <li>
      <%= link_to "Dashboard", new_user_session_path, :class => "selectable"%>
    </li>
    <li>
      <%= link_to "My Challenges", new_user_session_path, :class => "selectable"%>
    </li>
    <li>
      <%= link_to "Messages", new_user_session_path, :class => "selectable"%>
    </li>
    <li>
      <%= link_to "Trophies", new_user_session_path, :class => "selectable"%>
    </li>
    <li>
      <%= link_to "My interest Groups", new_user_session_path, :class => "selectable"%>
    </li>
    <li>
      <%= link_to "My Profile", new_user_session_path, :class => "selectable"%>
    </li>
  </ul>
</div>

<div class="span-24">
  &nbsp;
</div>

<div class="span-24">
  <div class="span-14 first">
    <div class="span-14 dojo-navbar">
      <p>My Challenge</p>
    </div>

    <div class="span-14">
      &nbsp;
    </div>

    <div class="span-14">
      <p>graph goes here...</p>
    </div>
    <div class="span-14">
      &nbsp;
    </div>

    <div class="span-14 dojo-navbar">
      <p>Upcoming Tasks and Milestones</p>
    </div>
  </div>

  <div class="span-10 last">
    <div class="span-10 dojo-navbar">
      <a href="#" class="selectable">Messages</a>
    </div>

    <div class="span-10">
      &nbsp;
    </div>

    <div class="span-10">
      <p>messages goes here...
      <%= link_to "My Profile", new_user_session_path, :class => "selectable"%></p>
    </div>
    <div class="span-10">
      &nbsp;
    </div>
    <div class="span-10 dojo-navbar light">
      <p>News Feed</p>
    </div>
  </div>
</div>