<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
		$(".fbConnectWidgetFooter").hide();
</script>

<table width="100%">
	<td width="50%" class="divone">
		<div class="regmessage">
			<div class="msgtitle">
				<table>
				  <tr>
					<td><font color="#AAA9A9" size=4><b>WHAT'S NEW</b></font></td>
					<td>
						<% if Challenge.where(:_type.exists => false).desc("created_at").limit(3).count == 0 %>
					
								<% else %>				
								<%= button_to "", "#", :class => "non_login_view_all", :method => :get%> </td>
						<% end %>
					</tr>
				</table>
			</div>
			
		<% if Challenge.where(:_type.exists => false).desc("created_at").limit(3).count == 0 %>
		<p align="center">No challenges found</p>
		<% else %>
			<% Challenge.where(:_type.exists => false).desc("created_at").limit(3).each do |anc| %>
		<div class="messagereg">
			<%= image_tag("new.gif", :height => '30', :width => '30' ,:style =>"margin-top:0px; margin-left:-2px;") %>
			<table width="100%" style="margin-top:-10px;">
			  <tr>
				<td width="40%">
					<font size="3px;" style="font-weight:bold"><%= anc.title%></font></br>
					by  <b><%= FbGraph::User.new(anc.user_id).fetch.name %></b></br>
					<% if anc.start_point.instance_of?PointDateType %>
						<%= anc.start_point.value.strftime("%b %d, %Y")%> - <%= anc.end_point.value.strftime("%b %d, %Y")%>
					<% else %>
						<%= anc.start_point.value rescue 0%> - <%= anc.end_point.value rescue 0%>
					<% end %>
					<br>
					<% if anc.child_challenges.size<1 %>
					 <%= anc.child_challenges.size%>&nbsp;&nbsp;contestant
					 <%else%>
					<%= anc.child_challenges.size%>&nbsp;&nbsp;contestants
					<%end%>
				</td>
				<td width="60%">
					<p style="float:right; margin-right:20px; color: #A9A8A8;"><%= time_ago_in_words  anc.created_at%></p></br></br>
					<% if anc.personal_type.instance_of?ChallengePersonalType%>
						<p style="text-transform:none;">
							<%=h truncate(anc.description, :length => 128) %>....<%= link_to "VIEW" , nonLoginShowPersonal_challenges_path(:id => anc.id) %>									
						</p>
					<% end %>
					<% if anc.social_type.instance_of?ChallengeSocialType%>
						<p style="text-transform:none;">
							<%=h truncate(anc.description, :length => 190) %>....<%= link_to "VIEW" , nonLoginShowSocial_challenges_path(:id =>anc.id) %>									
						</p>
					<% end %>
				</td>
			  </tr>
			</table>
		</div>
		<% end %>
		<% end %>
	</td>
	<td class = "imagebackground"></td>
	<td width="30%">
	<div class="regdojitsu">	
	<div class="fb-like-box" data-href="http://www.facebook.com/pages/Dojitsu/295711967114330" data-width="350" data-height="180" data-show-faces="true" data-stream="false" data-header="false"></div>
	<div class="dourbest">
		<%= image_tag("dourbest.PNG" ,:size => "350x195", :alt => "Do YOur Best")%>
		<div class="reg">
			<%= link_to(image_tag("regwelcome.PNG" ,:size => "90x25", :alt => "Do Your Best"),"#") %>
		</div>
		<div class="seetutorial">
			<%= image_tag("seetutorial.PNG" ,:size => "75x21", :alt => "See Tutorial")%>
		</div>
	</div>
</div>
</div>
						
	</td>
</table>


<style>

.divone{
	vertical-align:top;
}
/*.messagereg
{
	width:550px;
	height:130px;
	background:#F9F7F7;
	color:#000;
	border:1px solid #DCDCDC;
	margin-top:10px;
}*/
.reg
{
float: left;
    left: 230px;
    position: relative;
    top: -35px;
}
.seetutorial
{
 float: left;
    left: 50px;
    position: relative;
    top: -32px;
}
.facebooklike
{
 background: none repeat scroll 0 0 #FFFFFF;
    color:#486197;
    float: left;
    height: 50px;
    left: 20px;
    position: relative;
    top: 5px;
    
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.messagereg
{
	width:550px;
	height:130px;
	background:#F9F7F7;
	color:#000;
	border:1px solid #DCDCDC;
	margin-top:10px;
}
</style>
