<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets'%>
    <%= render 'layouts/javascripts'%>
    <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "rails.validations" %>
	<%= stylesheet_link_tag :on_the_spot %>
	
  </head>
  <body>
    <div class="container" >

      <div class="span-24 header">
        <%= render 'layouts/globalheader'%>
      </div>
	  
      <div class="span-24 body">
        <% flash.each do |key, val| %>
          <div class="flash <%= key %>"><%= val %></div>
        <% end %>
        <%= yield %>
		
      </div>
	  
	 

      <div class="span-24 footer">
        <%= render 'layouts/globalfooter'%>
      </div>

    </div>
  </body>
</html>


