<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tag %>              
	<%= render 'layouts/stylesheets'%>
	<%= javascript_include_tag :defaults %>
</head>
<body>      
	<div class="container">      
		<%= render 'layouts/globalheader'%>

		<section class="round">    
			<% flash.each do |key, val| %>
			 <div class="flash <%= key %>"><%= val %></div>
			<% end %>
			<%= yield %>
		</section>
		<%= render 'layouts/globalfooter'%>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
